<h2 class="title-name">Reviews</h2>

<div ng-if="profileUser.id == currentUser.id">
  <div ng-include="'app/components/user_tab_menu/user_tab_menu.html'"></div>
</div>

<div class="reviews col-xs-12" ng-repeat="item in Review.reviews">
  <div class="col-xs-12 rating-likes">
    <div class="rating col-xs-6">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
    <div class="col-xs-6 no-pad">
      <!--<div class="plus-minus">-->
      <!--<a href="#" class="plus" rollapp-href="http://localhost:8080/wall_page.html#"></a>-->
      <!--<norb>0</norb>-->
      <!--<a href="#" class="minus" rollapp-href="http://localhost:8080/wall_page.html#"></a>-->
      <!--</div>-->
    </div>
  </div>
  <a class="review-img" href="#">
    <img class="media-object fav-avatar-icon feeds-img"
         src="assets/img/img14.jpg" alt="">
  </a>

  <div class="text-block">
    <h2 class="media-heading feeds-title">
      <a href="#">Spot name</a>
    </h2>
    <a class="author-name" ui-sref="profile({user_id: item.user.id})">{{item.user.first_name}}
      {{item.user.last_name}}</a>

    <p class="description">{{item.body}}</p>

    <p class="time">{{item.created_at | toTimezone}}</p>
  </div>
</div>

<div class="col-xs-12">
  <h4 ng-if="Review.reviews.length == 0">No reviews yet.</h4>
</div>
