<div ng-include="'/app/components/user_tab_menu/user_tab_menu.html'"></div>

<div infinite-scroll="Review.pagination.nextPage()" infinite-scroll-disabled="Review.pagination.busy"
     class="clearfix" infinite-scroll-distance="1">
  <div class="reviews col-xs-12" ng-repeat="item in Review.reviews.data">

      <div>

        <a class="review-img" ui-sref="spot({user_id: item.spot.user_id || 0, spot_id: item.spot.id})">
          <img class="media-object fav-avatar-icon feeds-img" ng-src="{{item.spot.cover_url.medium}}">
        </a>

        <div class="text-block">
          <h2 class="media-heading feeds-title">
            
            <a ui-sref="spot({user_id: item.spot.user_id || 0, spot_id: item.spot.id})"
              >{{item.spot.title}}</a>
          </h2>
          <div>
            <div class="pull-left outline-none text-center readonly stars">
                <rating
                  ng-model="item.vote"
                  readonly="true"
                  max="5"
                  state-on="'glyphicon glyphicon-star star-active'"
                  state-off="'glyphicon glyphicon-star star-default'"
                  ></rating>
            </div>
            by
            <a class="author-name" ui-sref="profile.main({user_id: item.user.alias || item.user.id})">
              {{item.user.first_name}} {{item.user.last_name}}
            </a>
          </div>

          <p class="time">{{item.created_at | toTimezone}}</p>
          <!--at-->
          <p class="description" ng-bind-html="item.message | linky:'_blank'"></p>

        </div>
      </div>

    </div>
  </div>

  <div class="col-xs-12">
    <preloader ng-show="Review.pagination.busy"></preloader>
  </div>
</div>

<div class="col-xs-12">
  <h4 class="text-center description" ng-if="Review.reviews.data.length == 0 && !Review.pagination.busy">No reviews yet.</h4>
</div>
