<div>
  <div class="col-xs-4 nav-popup">
    <div class="img-event">
      <img src="/assets/img/img1.jpg">
      <div class="star-event">
        <!--<img src="/assets/img/icons/star.png"><img src="/assets/img/icons/star.png">-->
        <!--<img src="/assets/img/icons/star.png"><img src="/assets/img/icons/star.png">-->
        <!--<img src="/assets/img/icons/star.png">-->
      </div>
    </div>
    <div class="popup-links">
      <ul>
        <li><a ng-click="view = 'about'" href="">About</a>
        </li>
        <li><a ng-click="view = 'reviews'" href="">Reviews</a>
        </li>
        <li><a ng-click="view = 'photos'" href="">Photos</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-8 popup-main">
    <a href="#" class="title">{{::data.spot.title}}</a>
    <p class="location-event">{{::data.address}}</p>
    <p class="date-event" ng-if="data.spot.category.type.name == 'event'">
      <span>{{data.spot.start_date | toTimezone : 'DD MMM YYYY'}}</span> - <span>{{data.spot.end_date | toTimezone : 'DD MMM YYYY'}}</span>
    </p>
    <a class="author-event" href="#">{{'by ' + data.spot.user.first_name + ' ' + data.spot.user.last_name}}</a>
    <div class="content-popup clearfix">

      <p ng-show="view == 'about'" class="description">{{data.spot.description}}</p>

      <div ng-show="view == 'reviews'" class=" col-xs-12 reviews-popup" ng-if="data.spot.reviews.length > 0">
        <div class="col-xs-12 previous-next" ng-if="data.spot.reviews.length > 1">
          <a href="#" class="previous default-previous">Previous</a> <a href="#" class="next ">Next</a>
        </div>
        <div class="col-xs-2 avatar">
          <img src="/assets/img/icons/avatar-user.png">
        </div>
        <div class="col-xs-10 content">
          <a href="#" class="reviews-user">Roy Wells</a>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... enim ad... minim veniam, tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          <p class="date-reviews ">12 Aug at 4.20 pm</p>
          <div class="plus-minus">
            <a href="#" class="plus"></a>
            <norb>0</norb>
            <a href="#" class="minus"></a>
          </div>
        </div>

      </div>

      <div ng-show="view == 'photos'" class=" col-xs-12 photo-popup">
        <div class="col-xs-12 previous-next">
          <a href="#" class="previous ">Previous</a> <a href="#" class="next default-next">Next</a>
        </div>
        <div class="photos-event clearfix">
          <a href="#"><img src="/assets/img/icons/q.png">
          </a>
          <a href="#"><img src="/assets/img/icons/q.png">
          </a>
          <a href="#"><img src="/assets/img/icons/q.png">
          </a>
          <a href="#"><img src="/assets/img/icons/q.png">
          </a>

        </div>

      </div>

    </div>
    <div class="links-nav">
      <a class="save" href="#">Save</a>
      <a class="favorites" href="#">Favorite</a>
      <a class="invite" href="#">Invite friends</a>
      <a class="big-plus" href="#"></a>
    </div>
    <div class="close-event">
      <a ng-click="marker.closePopup()" href=""></a>
    </div>
  </div>
</div>

