<div class="popup-width">
  <div class="col-xs-4 nav-popup">
    <div class="img-event">
      <stars item="data.spot" class="star-event"></stars>
      <img ng-src="{{data.spot.cover_url.medium}}">
    </div>
    <div class="popup-links">
      <ul>
        <li><a ng-click="view = 'about'" href="">About</a>
        </li>
        <li><a ng-click="view = 'reviews'" href="">Reviews</a>
        </li>
        <li><a ng-click="view = 'photos'" href="">Photos</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-8 popup-main">


    <a  class="title">{{::data.spot.title}}</a>
    <stars item="data.spot" class="star-event-mobile"></stars><br>
    <p class="location-event">{{::data.address}}</p>
    <p class="date-event" ng-if="data.spot.category.type.name == 'event'">
      <span>{{data.spot.start_date | toTimezone : 'DD MMM YYYY'}}</span> - <span>{{data.spot.end_date | toTimezone : 'DD MMM YYYY'}}</span>
    </p>
    <a class="author-event" >{{'by ' + data.spot.user.first_name + ' ' + data.spot.user.last_name}}</a>
    <div class="content-popup clearfix">

      <p ng-show="view == 'about'" class="description">{{data.spot.description}}</p>

      <div ng-show="view == 'reviews'" class=" col-xs-12 reviews-popup" ng-if="data.spot.comments.length > 0">
        <div class="col-xs-12 previous-next" ng-if="data.spot.comments.length > 1">
          <a ng-click="prevReview()" class="previous">Previous</a> <a ng-click="nextReview()" class="next ">Next</a>
        </div>
        <div class="col-xs-2 avatar">
          <img ng-src="{{currentReview.sender.avatar_url.thumb}}">
        </div>
        <div class="col-xs-10 content">
          <a  class="reviews-user">{{currentReview.sender.first_name + ' ' + currentReview.sender.last_name}}</a>
          <p class="description">{{currentReview.body}}</p>
          <p class="date-reviews ">{{currentReview.created_at | toTimezone: 'DD MMM YYYY [at] hh:mm a'}}</p>
          <div class="plus-minus">
            <a  class="plus"></a>
            <norb>0</norb>
            <a  class="minus"></a>
          </div>
        </div>

      </div>

      <div ng-show="view == 'photos'" class=" col-xs-12 photo-popup">
        <div ng-if="showPhotosControls" class="col-xs-12 previous-next">
          <a ng-click="prevPhoto()" class="previous">Previous</a>
          <a ng-click="nextPhoto()" class="next">Next</a>
        </div>

        <div ng-if="showPhotos" class="photos-event clearfix">
          <a photo-viewer items="data.spot.photos" index="firstPhotoIndex" current-item="firstItem"><img ng-src="{{firstPhoto}}">
          </a>
          <a ng-if="secondItem" photo-viewer items="data.spot.photos" index="secondPhotoIndex" current-item="secondItem"><img ng-src="{{secondPhoto}}">
          </a>
          <!--<a ><img src="/assets/img/icons/q.png">-->
          <!--</a>-->
          <!--<a ><img src="/assets/img/icons/q.png">-->
          <!--</a>-->
        </div>

        <div ng-if="!showPhotos" class="photos-event clearfix">
          <span>here is no photos yet</span>
        </div>

      </div>

    </div>
    <div class="links-nav">
      <a class="save" >Save</a>
      <a class="favorites" >Favorite</a>
      <a class="invite" >Invite friends</a>
      <a class="big-plus" ></a>
    </div>
    <div class="close-event">
      <a ng-click="marker.closePopup()" class="close" href=""></a>
    </div>
  </div>
</div>

