<div class="popup-width">
  <div class="col-xs-4 nav-popup">
    <div class="img-event">

      <stars item="data.spot" class="star-event"></stars>


      <img ng-src="{{data.spot.cover_url.medium}}">

      <div class="star-event">
        <!--<img src="/assets/img/icons/star.png"><img src="/assets/img/icons/star.png">-->
        <!--<img src="/assets/img/icons/star.png"><img src="/assets/img/icons/star.png">-->
        <!--<img src="/assets/img/icons/star.png">-->
      </div>
    </div>
    <div class="popup-links">
      <ul>
        <li><a ng-click="view = 'about'" href="">About</a>
        </li>
        <li><a ng-click="view = 'reviews'" href="">Reviews</a>
        </li>
        <li><a ng-click="view = 'photos'" href="">Photos</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-8 popup-main">
    <a class="title" ng-bind-html="::data.spot.title"></a>

    <p class="star-event-mobile">
      <stars item="data.spot"></stars>
    </p>
    <p class="location-event">{{::data.address}}</p>

    <p class="date-event" ng-if="data.spot.category.type.name == 'event'">
      <span>{{data.spot.start_date | toTimezone : 'DD MMM YYYY'}}</span> - <span>{{data.spot.end_date | toTimezone : 'DD MMM YYYY'}}</span>
    </p>
    <a class="author-event">{{'by ' + data.spot.user.first_name + ' ' + data.spot.user.last_name}}</a>

    <div class="content-popup clearfix">

      <p ng-show="view == 'about'" class="description" ng-bind-html="data.spot.description"></p>

      <div ng-show="view == 'reviews'" class=" col-xs-12 reviews-popup" ng-if="data.spot.comments.length > 0">
        <div class="col-xs-12 previous-next" ng-if="data.spot.comments.length > 1">
          <a ng-click="prevReview()" class="previous">Previous</a> <a ng-click="nextReview()" class="next ">Next</a>
        </div>
        <div class="col-xs-2 avatar">
          <img ng-src="{{currentReview.sender.avatar_url.thumb}}">
        </div>
        <div class="col-xs-10 content">
          <a class="reviews-user">{{currentReview.sender.first_name + ' ' + currentReview.sender.last_name}}</a>

          <p class="description" ng-bind-html="currentReview.body | htmlLinky:'_blank'"></p>

          <p class="date-reviews ">{{currentReview.created_at | toTimezone: 'DD MMM YYYY [at] hh:mm a'}}</p>

          <div class="plus-minus">
            <a class="plus"></a>
            <norb>0</norb>
            <a class="minus"></a>
          </div>
        </div>

      </div>

      <div ng-show="view == 'photos'" class=" col-xs-12 photo-popup">
        <div ng-if="showPhotosControls" class="col-xs-12 previous-next">
          <a ng-click="prevPhoto()" class="previous">Previous</a>
          <a ng-click="nextPhoto()" class="next">Next</a>
        </div>

        <div ng-if="showPhotos" class="photos-event clearfix">
          <a photo-viewer items="data.spot.photos" index="firstPhotoIndex" current-item="firstItem"><img
            ng-src="{{firstPhoto}}">
          </a>
          <a ng-if="secondItem" photo-viewer items="data.spot.photos" index="secondPhotoIndex"
             current-item="secondItem"><img ng-src="{{secondPhoto}}">
          </a>
          <!--<a ><img src="/assets/img/icons/q.png">-->
          <!--</a>-->
          <!--<a ><img src="/assets/img/icons/q.png">-->
          <!--</a>-->
        </div>

        <div ng-if="!showPhotos" class="photos-event clearfix">
          <span>here is no photos yet</span>
        </div>

      </div>

    </div>
    <div class="links-nav" ng-if="$root.currentUser" ng-cloak>

      <a class="save" ng-show="!data.spot.is_saved && data.spot.type == 'Event'" ng-click="saveToCalendar(data.spot)">Save</a>
      <a class="save saved clicked" ng-show="data.spot.is_saved && data.spot.type == 'Event'" ng-click="removeFromCalendar(data.spot)">Remove</a>
      <a class="favorite-spot" ng-show="!data.spot.is_favorite" ng-click="addToFavorite(data.spot)">Favorite</a>
      <a class="fav favorited" ng-show="data.spot.is_favorite" ng-click="removeFromFavorite(data.spot)">Unfavorite</a>
      <invite-friends item="data.spot"></invite-friends>

      <share links="data.spot.share_links" ></share>
    </div>
    <div class="close-event">
      <a ng-click="marker.closePopup()" class="close" ></a>
    </div>
  </div>
</div>

