<div class="messages ">
  <h2 class="title-name">Messages</h2>

  <div ng-include="'/app/components/user_tab_menu/user_tab_menu.html'"></div>

  <div ng-repeat="dialog in Chat.dialogs" class="col-xs-12 message"
       ui-sref="chatRoom({user_id: dialog.user.id})"
       ng-class="{new: !dialog.last_message.is_read && dialog.last_message.user_id != currentUser.id}">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2  ">
      <a >
        <img ng-src="{{dialog.user.avatar_url.thumb}}" class="avatar"/>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 name-data ">
      <h3 class="name">
        <a >
          {{dialog.user.first_name}} {{dialog.user.last_name}}
        </a>
      </h3>

      <p class="data">{{dialog.last_message.created_at | toTimezone}}</p>
    </div>
    <div  class="col-lg-8 col-md-7 col-sm-6 col-xs-6 content-messages ">
      <div ng-if="dialog.last_message.user_id != currentUser.id">
        <p ng-if="dialog.last_message.message">{{dialog.last_message.message}}</p>
        <p ng-if="!dialog.last_message.message"><b>attached files</b></p>
      </div>

      <div ng-if="dialog.last_message.user_id == currentUser.id"
           class="col-xs-12 incoming-messages padding-0"
           ng-class="{new: !dialog.last_message.is_read}">
        <div class="col-md-10 col-sm-9 col-xs-8 padding-0">
          <div class="message-in">
            <p ng-if="dialog.last_message.message">{{dialog.last_message.message}}</p>
            <p ng-if="!dialog.last_message.message"><b>attached files</b></p>
          </div>
        </div>
        <div class=" col-md-2 col-sm-3 col-xs-4 incoming-avatar">
          <a >
            <img ng-src="{{currentUser.avatar_url.thumb}}">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" ng-if="Chat.dialogs.length == 0">
    <h4 class="text-center description">No messages yet</h4>
  </div>

</div>
