<div class="messages">
  <div ng-include="'/app/components/user_tab_menu/user_tab_menu.html'"></div>

  <div ng-repeat="dialog in Chat.dialogs" class="col-xs-12 message"
       ng-class="{new: !dialog.last_message.is_read && dialog.last_message.user_id != currentUser.id}">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 ">
      <a ui-sref="profile.main({user_id: dialog.user.alias || dialog.user.id})">
        <img ng-src="{{dialog.user.avatar_url.thumb}}" class="avatar"/>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-10 name-data ">
      <h3 class="name">
        <a ui-sref="chatRoom({user_id: dialog.user.id})">
          {{dialog.user.first_name}} {{dialog.user.last_name}}
        </a>
      </h3>

      <div ng-if="dialog.last_message.user_id != currentUser.id">
        <p class="send-message" ng-if="dialog.last_message.message">{{dialog.last_message.message}}</p>

        <p ng-if="!dialog.last_message.message"><b>attached files</b></p>
      </div>

      <p class="data">{{dialog.last_message.created_at | toTimezone}}</p>

      <a class="delete" ng-click="Chat.deleteDialog(dialog.user.id, $index)">Delete</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 content-messages padr0"
         ui-sref="chatRoom({user_id: dialog.user.id})">


      <div ng-if="dialog.last_message.user_id == currentUser.id"
           class="col-xs-12 incoming-messages padding-0"
           ng-class="{new: !dialog.last_message.is_read}">
        <div class="col-md-8 col-sm-6 col-xs-10 padding-0">
          <div class="message-in">
            <h3 class="name">
              <a ui-sref="chatRoom({user_id: dialog.user.id})">
                {{currentUser.first_name}} {{currentUser.last_name}}
              </a>
            </h3>

            <p ng-if="dialog.last_message.message">{{dialog.last_message.message}}</p>

            <p ng-if="!dialog.last_message.message"><b>attached files</b></p>
          </div>
        </div>
        <div class=" col-md-4 col-sm-6 col-xs-2 incoming-avatar">
          <a>
            <img ng-src="{{currentUser.avatar_url.thumb}}">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" ng-if="Chat.dialogs.length == 0">
    <h4 class="text-center description">No messages yet</h4>
  </div>

</div>
