<div class="chat-conversation clearfix">
  <h2 class="dialog-title">
    <a ui-sref="profile({user_id: ChatRoom.user.id})">{{ChatRoom.user.first_name}} {{ChatRoom.user.last_name}}</a>
    dialog
  </h2>
  <hr>

  <div class="posts-chat clearfix" scroll-glue="ChatRoom.glued">
    <div class="show-previous">
      <a href="#">Show previous posts</a>
    </div>

    <div class="col-xs-12 padding-0">

      <div ng-repeat="messageGroup in ChatRoom.messages.data track by $index ">
        <h4 class="date-dialog-day">{{messageGroup.day}}</h4>

         <div  ng-repeat="message in messageGroup.messages">

          <!--       Dialog-User                 -->
          <div class="col-xs-12 dialog-user" ng-if="currentUser.id == message.sender_id"
               ng-class="{new: !message.is_read}">
            <div class="col-xs-12 user-name">
              <h3 class="right">
                <a ui-sref="profile({user_id: currentUser.id})">
                  {{currentUser.first_name}} {{currentUser.last_name}}
                </a>
              </h3>
            </div>
            <div
              class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 padding-0">

              <div class="col-xs-12 dialog-content">
                <div class="dial">
                  <p>{{message.body}}</p>
                </div>
              </div>
              <div>
                <p class="date right">{{message.created_at }}</p>
              </div>
            </div>
            <div class="col-sm-1 col-xs-2 ">
              <a ui-sref="profile({user_id: currentUser.id})">
                <img ng-src="{{currentUser.avatar_url.thumb}}" class="avatar">
              </a>
            </div>
            <!--<div class="delete-user">-->
              <!--<a ng-click="ChatRoom.deleteMessage(message.id)">-->
                <!--<img src="/assets/img/icons/del.png">-->
              <!--</a>-->
            <!--</div>-->
          </div>

          <!--       Dialog-friend                     -->
          <div class="col-xs-12 dialog-friend" ng-if="ChatRoom.user.id == message.sender_id"
               ng-class="{new: !message.is_read}">
            <div class="col-xs-12 user-name ">
              <h3>
                <a ui-sref="profile({user_id: ChatRoom.user.id})">
                  {{ChatRoom.user.first_name}} {{ChatRoom.user.last_name}}
                </a>
              </h3>
            </div>
            <div class="col-sm-1 col-xs-2  ">
              <a ui-sref="profile({user_id: ChatRoom.user.id})">
                <img ng-src="{{ChatRoom.user.avatar_url.thumb}}" class="avatar">
              </a>
            </div>
            <div class=" col-xs-10 ">

              <div class="col-xs-12 dialog-content-friend ">
                <div class="dial">
                  <p>{{message.body}}</p>
                </div>
              </div>
              <div>
                <p class="date left">{{message.created_at }}</p>
              </div>
            </div>
            <!--<div class="delete-friend">-->
              <!--<a ng-click="ChatRoom.deleteMessage(message.id)">-->
                <!--<img src="/assets/img/icons/del.png">-->
              <!--</a>-->
            <!--</div>-->
          </div>

        </div>
      </div>
    </div>
  </div>


  <!--<div class="col-xs-12 padding-0 ">-->
  <!--<h4 class="date-dialog-day">Today</h4>-->
  <!--&lt;!&ndash;       Dialog-User                 &ndash;&gt;-->
  <!--<div class="col-xs-12 dialog-user">-->
  <!--<div class="col-xs-12 user-name">-->
  <!--<h3 class="right"><a href="#">Louis Austin</a></h3>-->
  <!--</div>-->
  <!--<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 padding-0">-->

  <!--<div class="col-xs-12 dialog-content">-->
  <!--<div class="dial">-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit am Lorem ipsum dolor sit amet,-->
  <!--consectetur adipisicing elit ipsum dolor sit am Lorem ipsum dolor sit amet, consectetur adipisicing elit-->
  <!--ipsum dolor sit am Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit am</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div>-->
  <!--<p class=" date right"> 4:02 AM</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-sm-1 col-xs-2 ">-->
  <!--<a href="#"><img src="/assets/img/icons/avatar-user.png" class="avatar">-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="delete-user">-->
  <!--<a href="#"><img src="/assets/img/icons/del.png">-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;       Dialog-friend                     &ndash;&gt;-->
  <!--<div class="col-xs-12 dialog-friend  ">-->
  <!--<div class="col-xs-12 user-name ">-->
  <!--<h3><a href="#">Esther Mason</a></h3>-->
  <!--</div>-->
  <!--<div class="col-sm-1 col-xs-2  ">-->
  <!--<a href="#"><img src="/assets/img/icons/avatar-user.png" class="avatar">-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="col-xs-10 ">-->

  <!--<div class="col-xs-12 dialog-content-friend ">-->
  <!--<div class="dial">-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur consectetur consectetur consecteturv consectetur consectetur-->
  <!--consectetur adipisicing elit ipsum dolor sit am</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div>-->
  <!--<p class="date ">4:25 AM</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="delete-friend">-->
  <!--<a href="#"><img src="/assets/img/icons/del.png">-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;       Dialog-user-image               &ndash;&gt;-->
  <!--<div class="col-xs-12 dialog-user ">-->
  <!--<div class="col-xs-12 user-name">-->
  <!--<h3 class="right"><a href="#">Louis Austin</a></h3>-->
  <!--</div>-->
  <!--<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 padding-0">-->

  <!--<div class="col-xs-12 dialog-content">-->
  <!--<div class="dial">-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur consectetur consectetur consecteturv consectetur consectetur-->
  <!--consectetur adipisicing elit ipsum dolor sit a </p>-->
  <!--<img src="/assets/img/icons/q.png">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div>-->
  <!--<p class=" date right"> 4:27 AM</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-sm-1 col-xs-2">-->
  <!--<a href="#"><img src="/assets/img/icons/avatar-user.png " class="avatar">-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="delete-user">-->
  <!--<a href="#"><img src="/assets/img/icons/del.png">-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-xs-12  dialog-friend  ">-->
  <!--<div class="col-xs-12 user-name">-->
  <!--<h3><a href="#">Esther Mason</a></h3>-->
  <!--</div>-->
  <!--<div class="col-sm-1 col-xs-2  ">-->
  <!--<a href="#"><img src="/assets/img/icons/avatar-user.png" class="avatar">-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="col-xs-10">-->

  <!--<div class="col-xs-12 dialog-content-friend ">-->
  <!--<div class="dial">-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur consectetur consectetur consecteturv consectetur consectetur-->
  <!--consectetur adipisicing elit ipsum dolor sit am</p><img src="/assets/img/icons/avatar-user.png">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div>-->
  <!--<p class="date ">4:45 AM</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="delete-friend">-->
  <!--<a href="#"><img src="/assets/img/icons/del.png">-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->


  <!--        Форма                -->
  <ng-input message="ChatRoom.message" attachments="ChatRoom.attachments" on-submit="ChatRoom.sendMessage()" on-focus="ChatRoom.markAsRead()"></ng-input>
</div>
