<div class="title">
  <h2 class="title-name">Photo map</h2>

  <div class="album-tools">
    <a ng-if="Photomap.currentId == currentUser.id" title="Create new album" ui-sref="photos.createAlbum" class="add-page"></a>
  </div>
</div>
<div class="col-xs-12">
  <div ng-repeat="item in Photomap.albums" class="col-xs-4 album-container">
    <div class="img-wrap" ui-sref="photos.album({user_id: item.user_id, album_id: item.id})">
      <img ng-src="{{item.cover.medium}}" alt="">
      <a >{{item.title}}</a>
    </div>
  </div>
  <div class="col-xs-12" ng-if="Photomap.albums.length == 0">
    <h4 class="text-center description">No albums yet.</h4>
  </div>
</div>
