/.idea
npm-*.log
docker-compose.override.yml

/backend/vendor/

/frontend/bower_components/
/frontend/node_modules/
/frontend/.tmp/
/frontend/src/env.js

/websocket/node_modules/

/postgres/data
/postgres/backups
!/postgres/backups/.gitkeep

/redis/data/
