<script type="text/ng-template" id="SpotModal.html">
  <div class="modal-header">
    <h3 class="margin-none">Choose some spot</h3>
  </div>
  <div class="modal-body no-pad-left-right no-pad-bottom">
    <div class="col-sm-12">
      <div class="search-block">
        <input type="text" name="search" ng-model="search" class="search-friends" placeholder="Start typing...">
        <input type="button" class="search-icon">
      </div>
    </div>

    <div class="col-sm-12 no-pad choose-friend-block">
      <div class="choose-friend"
           ng-class="{choose: spot.selected}"
           ng-click="modal.addSpot(spot)"
           ng-repeat="spot in modal.spots | filter:search">
        <img class="friend-avatar" ng-src="{{spot.cover_url.thumb}}">
        <h4 class="name-friend">
          {{spot.title}}
        </h4>
        <p class="time">{{spot.start_date | toTimezone:'MM.DD.YYYY'}} - {{spot.end_date | toTimezone:'MM.DD.YYYY'}}</p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success pull-left col-sm-4  col-xs-5 button-my" type="button" ng-click="modal.close()">
      OK
    </button>
    <!--<button class="btn btn-primary pull-left col-sm-4  col-xs-5 button-my" type="button" ng-click="modal.close()">-->
      <!--Close-->
    <!--</button>-->
  </div>
</script>
