<div class="col-xs-12">
  <div class="container wrap ">
    <div class="col-xs-6  contact-info">
      <h2 class="contact-title">Contact us</h2>

      <p class="contact-location contact-text">1234 Street Mountain View, CA 94043</p>

      <p class="contact-phone contact-text">+1 123-456-7890</p>

      <p  class="contact-email contact-text"><a href="#">email@example.com</a>
      </p>
    </div>
    <div class="col-xs-6 contact-info keep-touch">
      <h2>Keep in touch </h2>
      <hr/>
      <form class="form-horizontal" name="form" ng-submit="ContactUs.save()" novalidate ng-if="!ContactUs.$saved">
        <div class="form-group">
          <label class="col-xs-2 control-label">Name</label>

          <div class="col-xs-10">
            <input type="text" class="form-control" name="username" ng-model="ContactUs.username" required>

            <div class="error-message" ng-messages="form.username.$error" ng-if="form.$submitted || form.username.$touched">
              <div ng-messages-include="error-title-messages"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Email</label>

          <div class="col-xs-10">
            <input type="email" class="form-control" name="email" ng-model="ContactUs.email" required>

            <div class="error-message" ng-messages="form.email.$error" ng-if="form.$submitted || form.email.$touched">
              <div ng-messages-include="error-email-messages"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Message</label>

          <div class="col-xs-10">
            <textarea class="form-control" rows="3" name="message" ng-model="ContactUs.message" ng-minlength="10" required></textarea>

            <div class="error-message" ng-messages="form.message.$error" ng-if="form.$submitted || form.message.$touched">
              <div ng-messages-include="error-title-messages"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-default send-btn">Send</button>
          </div>
        </div>
      </form>
      <div ng-if="ContactUs.$saved" class="alert alert-success" role="alert">
        <b>Thank You!</b>
      </div>
    </div>
  </div>
</div>
