<h2 class="title-name">Feeds</h2>

<div ng-include="'/app/components/user_tab_menu/user_tab_menu.html'"></div>


<div class="col-xs-12">
  <section class="section-event" ng-repeat="item in Feed.feeds.data">
    <div class="event">

      <div class="media media-visible">
        <a class="pull-left" ui-sref="profile.main({user_id: item.sender.id})">
          <img class="media-object fav-avatar-icon feeds-img" ng-src="{{item.sender.avatar_url.thumb}}">
        </a>

        <div class="media-body">
          <h2 class="media-heading feeds-title">
            <a ui-sref="profile.main({user_id: item.sender.id})">{{item.sender.first_name}}
              {{item.sender.last_name}}</a>
          </h2>

          <div ng-switch="item.event_type">
            <p ng-switch-when="UserFollowEvent" class="feeds-text">
              add <a ui-sref="profile.main({user_id: item.feedable.id})">
                  {{item.feedable.first_name}} {{item.feedable.last_name}}
                </a> to following
            </p>


          </div>

          <p class="time">{{item.created_at | toTimezone}}</p>
        </div>
      </div>
    </div>
  </section>


  <h4 ng-if="Feed.feeds.data.length == 0">No feeds yet.</h4>
</div>
