<div class="module-carousel col-lg-12  hidden-sm hidden-xs no-pad">
  <div class="connected-carousels j-carousel">
    <div class="">
      <div class="carousel carousel-stage">
        <ul>
          <li repeat-done ng-repeat="img in images" photo-viewer items="images" index="$index">
            <img ng-src="{{img.photo_url.medium}}" class="img-responsive"/>
          </li>
        </ul>
      </div>
      <a class="prev prev-stage" ng-if="images.length > 1"><span>&lsaquo;</span></a>
      <a class="next next-stage" ng-if="images.length > 1"><span>&rsaquo;</span></a>
    </div>

    <div class="navigation">
      <a class="prev-navigation" ng-if="images.length > 3">&lsaquo;</a>
      <a class="next-navigation" ng-if="images.length > 3">&rsaquo;</a>

      <div class="jcarousel carousel carousel-navigation">
        <ul>
          <li repeat-done ng-repeat="img in images" class="active">
            <img ng-src="{{img.photo_url.thumb}}"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
