<div class="attachments-preview" ng-if="!_.isEmpty(Attachments.items.areas) || !_.isEmpty(Attachments.items.spots) || !_.isEmpty(Attachments.items.album_photos)">

  <div class="links">
    <div class="media media-visible padding-bottom add-location clearfix"
         ng-repeat="area in Attachments.items.areas">
      <a class="img-selection"> {{area.data}} </a>

      <div class="media-body">
        <div class="description-link">
          {{area.data}}
        </div>
      </div>
    </div>

    <div ng-repeat="spot in Attachments.items.spots" class="media media-visible padding-bottom add-event">
      <a class="pull-left wrap-img-event">
        <img class="media-object attachment-link" ng-src="{{spot.cover_url.medium}}">
      </a>

      <div class="media-body">

        <h3 class="media-heading ">
          <a class="event-img clearfix">{{spot.title}}</a>
        </h3>

        <div class="description-link">{{spot.description}}</div>
      </div>
    </div>

  </div>


  <div class="row" justified-gallery ng-if="Attachments.items.album_photos.length > 0">
      <div class="col-sm-4 no-pad"
           ng-repeat="photo in Attachments.items.album_photos"
           photo-viewer
           index="$index"
           hide-comments="1"
           items="Attachments.items.album_photos"
           repeat-done>
        <img ng-src="{{photo.photo_url.medium}}" class="img-responsive" />
      </div>
  </div>

</div>
