<div class="col-xs-12 no-pad tools-container">
  <div class="col-xs-3 no-pad">
    <div class="tools-wrap">
      <div class="tools-hint-block">
        <a href="" class="hide" title="Close"></a>

        <h2><span>Hi Zoomer!</span>Looking for awesome place to go?</h2>

        <p>Choose a tool for search:</p>
        <ul>
          <li class="path"><a ng-click="currentLayer = 'path'"><img src="assets/img/icons/path.png"></a>Path</li>
          <li class="radius"><a ng-click="currentLayer = 'radius'"><img src="assets/img/icons/radius.png"></a>Radius</li>
          <li class="lasso"><a ng-click="currentLayer = 'lasso'"><img src="assets/img/icons/lasso.png"></a>Lasso</li>
        </ul>
      </div>
      <div class="tools-maps-wrap">
        <div ng-show="currentLayer == 'path'" class="path-map"></div>
        <div ng-show="currentLayer == 'radius'" class="radius-map"></div>
        <div ng-show="currentLayer == 'lasso'" class="lasso-map"></div>
      </div>
    </div>
  </div>
</div>
