<script type="text/ng-template" id="photoViewer.html">
  <div class="viewer-content">
    <div class="photo-viewer">
      <div class="image" ng-class="{'col-xs-8': !PV.hideComments && $root.currentUser, 'col-xs-12': PV.hideComments || !$root.currentUser}">
        <img ng-src="{{PV.currentPhoto.photo_url.original}}">
        <a ng-click="PV.previousPhoto($event)" ng-if="PV.countPhotos > 1" class="previous"></a>
        <a ng-click="PV.nextPhoto($event)" ng-if="PV.countPhotos > 1" class="next"></a>
      </div>
      <div class="photo-comments col-xs-4" ng-if="!PV.hideComments && $root.currentUser">
        <p class="location">{{PV.currentPhoto.address}}</p>

        <form name="form" ng-submit="PV.sendComment()" class="col-xs-12 new-post">
          <textarea ng-model="PV.comment" name="comment" placeholder="Start typing..."></textarea>

          <div ng-messages="form.comment.$error" ng-if="form.$submitted" class="error-message">
            <div ng-message="required">is required</div>
          </div>

          <input type="submit" value="Send">
        </form>
        <div class="col-xs-12 reviews">
          <div class="post" ng-repeat="comment in PV.comments">
            <div class="col-xs-2 no-pad">
              <img class="avatar" ng-src="{{comment.user.avatar_url.thumb}}" alt="Louis Austin">
            </div>
            <div class=" col-xs-10 info">
              <h3 class="name">{{comment.user.first_name}} {{comment.user.last_name}}</h3>

              <p>{{comment.body}}</p>

              <p class="time">{{comment.created_at}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
