<!-- <script type="text/ng-template" id="photoViewer.html">
  <div class="fixed visible-xs photo-preview">
    <form name="form" ng-submit="PV.sendComment(form)" class="new-post">
      <ul class="list-inline">
        <li class="chat-input">
          <textarea ng-model="PV.comment" name="comment" ng-maxlength="255" placeholder="Start typing..."
                    required class="grey-bg"></textarea>

          <div ng-if="form.comment.$error.maxlength && (form.$submitted || form.comment.$touched)"
               class="error-message-inline">
            <div>can't be longer then 255 symbols</div>
          </div>
        </li>
        <li><input type="submit" class="submit-send" value=""></li>
      </ul>
    </form>
  </div>
  <div class="viewer-content">
    <div class="photo-viewer">
      <p class="location visible-xs" ng-if="PV.currentPhoto.address">{{PV.currentPhoto.address}}</p>

      <div class="image"
           ng-class="{'col-xs-8': !PV.nocoments && $root.currentUser, 'col-xs-12': PV.nocoments || !$root.currentUser}">
        <button type="button" class="close hidden-lg visible-sm hidden-md visible-xs" ng-click="PV.close()"
                ng-class="{'with-location': PV.currentPhoto.address}" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
        <img ng-src="{{PV.currentPhoto.avatar_url ? PV.currentPhoto.avatar_url.original : PV.currentPhoto.photo_url.original}}">

        <a ng-click="PV.previousPhoto($event)" ng-if="PV.countPhotos > 1" class="previous"></a>
        <a ng-click="PV.nextPhoto($event)" ng-if="PV.countPhotos > 1" class="next"></a>
      </div>
      <div class="photo-comments col-xs-4" ng-if="!PV.nocoments && $root.currentUser">
        <button type="button" class="close hidden-sm hidden-xs"
                ng-click="PV.close()">
          <span aria-hidden="true"></span>
        </button>
        <p class="location hidden-xs">{{PV.currentPhoto.address}}</p>

        <form name="form" ng-submit="PV.sendComment(form)" class="new-post hidden-xs">
          <textarea ng-model="PV.comment" name="comment" ng-maxlength="255" placeholder="Start typing..."
                    required class="grey-bg no-attachments"></textarea>

          <div ng-if="form.comment.$error.maxlength && (form.$submitted || form.comment.$touched)"
               class="error-message-inline">
            <div>can't be longer then 255 symbols</div>
          </div>

          <input type="submit" value="Send" class="btn-send-comment">
        </form>
        <div class="col-xs-12 reviews">
          <div class="post" ng-repeat="comment in PV.comments">
            <div class="avatar-wrap">
              <img class="avatar" ng-src="{{comment.sender.avatar_url.thumb}}">
            </div>
            <div class="info">
              <h3 class="name">
                <a ui-sref="profile.main({user_id: comment.sender.alias || comment.sender.id})">
                  {{comment.sender.first_name}} {{comment.sender.last_name}}
                </a>
              </h3>

              <p class="line-break" ng-bind-html="comment.body | linky:'_blank'"></p>

              <p class="time">{{comment.created_at | toTimezone}}</p>

              <div class="edit-delete">
                <a class="delete"
                   ng-if="$root.profileUser.id == $root.currentUser.id || $root.currentUser.id == comment.sender.id || $root.isRole($root.currentUser, 'admin')"
                   ng-click="PV.deleteComment(comment.id, $index)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</script> -->

<script type="text/ng-template" id="photoViewer.html">
    <div class="new-photo-viewer">
        <div class="photos">
            <ul rn-carousel rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-index="PV.index">
                <li ng-repeat="photo in PV.items">
                    <img ng-src="{{photo.url}}" alt="photo">
                </li>
            </ul>
            <div rn-carousel-indicators ng-if="PV.items > 1" slides="PV.items" rn-carousel-index="PV.index"></div>
        </div>
        <div class="comments" ng-if="!PV.nocoments && $root.currentUser"></div>
    </div>
</script>
