<script type="text/ng-template" id="photoViewer.html">
    <div class="viewer-content">
      <div class="photo-viewer">
        <div class="image col-xs-8">
          <img src="assets/img/img23.jpg">
          <a href="#" class="previous"></a>
          <a href="#" class="next"></a>
        </div>
        <div class="photo-comments col-xs-4">
          <p class="location">Lorem ipsum dolor sit amet</p>

          <form role="form" class="col-xs-12 new-post">
            <textarea placeholder="Start typing..."></textarea>
            <input type="submit" value="Send">
          </form>
          <div class="col-xs-12 reviews">
            <div class="post">
              <div class="col-xs-2 no-pad">
                <img class="avatar" src="assets/img/01.png" alt="Louis Austin">
              </div>
              <div class=" col-xs-10 info">
                <h3 class="name">Louis Austin</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor
                  incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation
                  ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>

                <p class="time">12 Aug at 4.20 pm</p>
              </div>
              <a href="#" class="rating">10</a>
              <a href="#" class="small-share">Share</a>
            </div>

            <div class="post">
              <div class="col-xs-2 no-pad">
                <img class="avatar" src="assets/img/01.png" alt="Louis Austin">
              </div>
              <div class=" col-xs-10 info">
                <h3 class="name">Louis Austin</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor
                  incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation
                  ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>

                <p class="time">12 Aug at 4.20 pm</p>
              </div>
              <a href="#" class="rating">10</a>
              <a href="#" class="small-share">Share</a>
            </div>

            <div class="post">
              <div class="col-xs-2 no-pad">
                <img class="avatar" src="assets/img/01.png" alt="Louis Austin">
              </div>
              <div class=" col-xs-10 info">
                <h3 class="name">Louis Austin</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor
                  incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation
                  ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>

                <p class="time">12 Aug at 4.20 pm</p>
              </div>
              <a href="#" class="rating">10</a>
              <a href="#" class="small-share">Share</a>
            </div>

            <div class="post">
              <div class="col-xs-2 no-pad">
                <img class="avatar" src="assets/img/01.png" alt="Louis Austin">
              </div>
              <div class=" col-xs-10 info">
                <h3 class="name">Louis Austin</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor
                  incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation
                  ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>

                <p class="time">12 Aug at 4.20 pm</p>
              </div>
              <a href="#" class="rating">10</a>
              <a href="#" class="small-share">Share</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</script>
