<div class="col-xs-12">
  <div class="container wrap">

    <!-- carousel -->
    <!--<div class="col-lg-10 col-lg-push-1 col-sm-12 col-md-12 col-xs-12 carousel-section hidden-md hidden-sm hidden-xs">-->
    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->

    <!--<div class="carousel-inner" role="listbox">-->
    <!--<div class="item active">-->
    <!--<img src="http://zoomzoom.itechhighway.com/upload/articles/large_ovrQ9hq8j1qaZnug.jpg">-->

    <!--<div class="carousel-caption carousel-description">-->
    <!--<h2><a href="" class="carousel-title col-xs-12">Third slide label</a></h2>-->

    <!--<a class="carousel-text col-xs-12">Praesent commodo cursus magna, vel scelerisque nisl-->
    <!--consectetur.</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="http://zoomzoom.itechhighway.com/upload/articles/large_ZY7VhyETYuKw5OQS.JPG">-->

    <!--<div class="carousel-caption carousel-description">-->
    <!--<h2><a href="" class="carousel-title col-xs-12">Third slide label</a></h2>-->

    <!--<p class="carousel-text col-xs-12">Praesent commodo cursus magna2222 vel scelerisque nisl-->
    <!--consectetur.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="http://zoomzoom.itechhighway.com/upload/articles/large_NJwPG6vaIl9VfWWh.jpg">-->

    <!--<div class="carousel-caption carousel-description">-->
    <!--<h2><a href="" class="carousel-title col-xs-12">Third slide label</a></h2>-->

    <!--<p class="carousel-text col-xs-12">Praesent commodo 123 magna2222 vel scelerisque nisl-->
    <!--consectetur.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!-- end carousel -->

    <div class="main-blog-content">


      <popular-posts show-banner="true"></popular-posts>


      <!-- blog content -->
      <div class="central col-lg-7 col-sm-12 col-md-12 col-lg-push-1 col-xs-12">

        <div infinite-scroll="Blog.pagination.nextPage()" infinite-scroll-disabled="Blog.pagination.busy"
             class="clearfix" infinite-scroll-distance="1">
          <div class="article" ng-repeat="post in Blog.posts.data">
            <div class="image-wrapper clearfix">
              <img ng-src="{{post.cover_url.original}}" class="article-img">
            </div>
            <h2 class="title-blog">
              <a ui-sref="blog.article({slug: post.slug})">{{post.title}}</a>
            </h2>

            <div class="location-link col-xs-12">
              <a ui-sref="index.post({slug: post.slug})">{{post.address}}</a>
            </div>
            <div class="article-info col-xs-12">
              <p class="date col-xs-12 col-sm-2">{{post.created_at | toTimezone:'MM.DD.YYYY'}}</p>

              <p class="col-xs-12 col-sm-3 author">Author:
                <a ui-sref="profile.main({user_id: post.user.alias || post.user.id})">
                  {{post.user.first_name}} {{post.user.last_name}}
                </a>
              </p>

              <p class="col-xs-12 col-sm-4 category">Category:
                <a>{{post.category.display_name}}</a>
              </p>

              <p class="col-xs-12 col-sm-3 views">Views: {{post.count_views}}</p>
            </div>

            <p class="article-description" ng-bind-html="post.body"></p>

            <div class="col-xs-12">
              <share item="post" type="post"></share>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-12" ng-if="Blog.posts.data.length == 0 && !Blog.pagination.busy">
        <h4 class="text-center description">No posts yet.</h4>
      </div>
      <!-- end blog content -->

    </div>
  </div>
</div>

