<div class='dialog-invite-find-friends-fb'>
	<div class="modal-body no-pad-left-right no-pad-bottom">
		<div>
			Facebook and Zoomtivity logos
		</div>
		<div class="actions">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<br>
						&nbsp;<button class="btn btn-default pull-left col-md-4 col-sm-4 col-xs-5" ng-click="fbInviteFindCtrl.findFacebookFriends()">Find Facebook Friends</button>
						<button class="btn btn-default pull-right col-md-4 col-sm-4 col-xs-5" ng-click="fbInviteFindCtrl.inviteFacebookFriends()">Invite Facebook Friends</button>
						<div class='clearfix'></div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>