<div class="text-center">
  <h2 class="title-name nav-green">
    Restaurants
  </h2>
</div>

<div infinite-scroll="Restaurants.pagination.nextPage()" infinite-scroll-disabled="Restaurants.pagination.busy"
    class="clearfix" infinite-scroll-distance="1">
    <section class="restaurants-section col-xs-12" ng-repeat="item in Restaurants.restaurants.data">
        <div class="title col-xs-6">
            <a ui-sref="restaurant({restaurant_id: item.id})">{{ item.title }}</a>
        </div>
        <div class="location col-xs-6">
            lat: {{ item.points[0].location.lat }} lon: {{ item.points[0].location.lng }}
        </div>
    </section>
</div>
<preloader ng-show="Restaurants.pagination.busy"></preloader>

<div class="col-xs-12">
  <h4 class="text-center description" ng-if="Restaurants.restaurants.data.length == 0 && !Restaurants.pagination.busy">No spots yet.</h4>
</div>