<div class="col-xs-12 menu-profile">
  <div class="container">
    <div class="col-xs-10 col-xs-offset-2 no-pad">
      <ul>
        <li><a >My spots</a></li>
        <li><a ui-sref="blog">My blog</a></li>
        <li><a >Favorites</a></li>
        <li><a >Saved searches</a></li>
        <li><a ui-sref="friendsmap">Friends map</a></li>
        <li><a ui-sref="photomap({user_id: $root.profileUser.id})">Photo map</a></li>
        <li><a ui-sref="planner">Planner</a></li>
        <li><a ui-sref="settings">Settings</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container wrap">
  <div class="col-xs-2 information-profile">
    <a ui-sref="profile({user_id: $root.profileUser.id})" class="avatar">
      <img ng-src="{{$root.profileUser.avatar_url.medium}}" >
    </a>
  </div>

  <div class="col-sm-7 col-xs-12 central">
    <div ui-view></div>
  </div>

  <div class="col-xs-3 activity-profile">

  </div>
</div>
