<div class="col-xs-12 menu-profile unauthorized-menu" ng-class="$root.$state.current.name == 'index' ? 'mobile-hidden' : ''" ng-click="$root.showMessage('info', 'Please Log In to Use These Features')">

    <ul class="menu-ul">
        <li>
            <a class="nav-spots">
                <img src="assets/img/svg/new_icons/icon_main_menu/spot-grey.svg" alt="icon" />
                <span>Spots</span>
            </a>
        </li>
        <li>
            <a class="nav-blog">
                <img src="assets/img/svg/new_icons/icon_main_menu/blog_icon-grey.svg" alt="icon" />
                <span>Blog</span>
            </a>
        </li>
        <li>
            <a class="nav-favorites">
                <img src="assets/img/svg/new_icons/icon_main_menu/heart-grey.svg" alt="icon" />
                <span>Favorites</span>
            </a>
        </li>
        <li>
            <a class="nav-searches">
                <img src="assets/img/svg/new_icons/icon_main_menu/save-grey.svg" alt="icon" />
                <span>Searches</span>
            </a>
        </li>
        <li>
            <a class="nav-friendmap">
                <img src="assets/img/svg/new_icons/icon_main_menu/friend-grey.svg" alt="icon" />
                <span>Friends</span>
            </a>
        </li>
        <li>
            <a class="nav-photomap">
                <img src="assets/img/svg/new_icons/icon_main_menu/photo-grey.svg" alt="icon" />
                <span>Photos</span>
            </a>
        </li>
        <li>
            <a class="nav-planner">
                <img src="assets/img/svg/new_icons/icon_main_menu/planner-grey.svg" alt="icon" />
                <span>Planner</span>
            </a>
        </li>
        <li>
            <a class="nav-settings">
                <img src="assets/img/svg/new_icons/icon_main_menu/home-grey.svg" alt="icon" />
                <span>Stream</span>
            </a>
        </li>
    </ul>

</div>
