<div class="col-xs-12 menu-profile unauthorized-menu" ng-show="$root.mapState == 'full-size' && !$root.currentUser">
  <div class="hide-menu-profile"
       ng-hide="$root.$state.current.name == 'index' || $root.$state.current.name == 'areas.preview'"
       ng-class="{'rotate-down': $root.mapState == 'small-size'}"
       ng-click="$root.toggleMapState()"></div>
  <div class="container mobile-nopad">
    <div class="col-xs-12 col-md-12 col-sm-12 col-sm-offset-0 col-xs-offset-0 no-pad">
      <ul>
        <li>
          <a class="nav-spots">
            <span>My spots</span>
          </a>
        </li>
        <li>
          <a class="nav-blog">
            <span>My Blog</span>
          </a>
        </li>
        <li>
          <a class="nav-favorites">
            <span>Favorites</span>
          </a>
        </li>
        <li>
          <a class="nav-searches"><span>Saved Searches</span></a>
        </li>
        <li>
          <a class="nav-friendmap">
            <span>Friends Map</span></a>
        </li>
        <li>
          <a class="nav-photomap">
            <span>Photo Map</span>
          </a>
        </li>
        <li>
          <a class="nav-planner"><span>Planner</span></a>
        </li>
        <li>
          <a class="nav-settings">
            <span>Stream</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
