<div class="col-xs-12 menu-profile">
  <div class="container">
    <div class="col-xs-10 col-xs-offset-2 no-pad">
      <ul ng-if="$root.currentUser">
        <li><a ui-sref="spots({user_id: $root.currentUser.id})" ui-sref-active="active">My spots</a></li>
        <li><a ui-sref-active="active">My blog</a></li>
        <li><a ui-sref="favorites({user_id: $root.currentUser.id})" ui-sref-active="active">Favorites</a></li>
        <li><a ui-sref="areas" ui-sref-active="active">Saved searches</a></li>
        <li><a ui-sref="friendsmap" ui-sref-active="active">Friends map</a></li>
        <li><a ui-sref="photos({user_id: $root.currentUser.id})" ui-sref-active="active">Photo map</a></li>
        <li><a ui-sref="planner.list" ng-class="Profile.isActive('planner')">Planner </a></li>
        <li><a ui-sref="settings" ui-sref-active="active">Settings</a></li>
      </ul>
      <div ng-if="!$root.currentUser">
        <b>You should
          <sign-in title="sign in"></sign-in>
          to get all features</b>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-12">
  <div class="container wrap">

    <div class="col-xs-12 col-md-2 information-profile">
      <section class="col-md-12 avatar-wrap">
        <a ui-sref="profile.main({user_id: $root.profileUser.id})" class="avatar">
          <img ng-src="{{$root.profileUser.avatar_url.medium}}"/>

        </a>
      </section>
      <section class="col-xs-12 col-md-12 no-pad activity-mobile">
        <div class="status moderator" ng-if="$root.profileUser.status">{{$root.profileUser.status}}</div>
        <h2 class="profile-name ">
          <a ui-sref="profile.main({user_id: $root.profileUser.id})">
            {{$root.profileUser.first_name}} {{$root.profileUser.last_name}}
            <div class="online" title="Online"></div>
          </a>
        </h2>
        <div class="age">
          <span ng-if="$root.profileUser.sex != null">{{$root.profileUser.sex ? 'male' : 'female'}}</span>
          <span ng-if="$root.profileUser.birth_date">, {{$root.profileUser.birth_date | age}} years</span>
        </div>
        <div class="location" ng-if="$root.profileUser.address">{{$root.profileUser.address}}</div>

        <div ng-if="$root.profileUser.description">
          <div ng-init="Profile.textLimit = 50"
               ng-class="{small: Profile.textLimit == 50, 'full-text': Profile.textLimit == 1000}"
               class="biography">
            {{$root.profileUser.description | limitTo: Profile.textLimit}}
          </div>
          <div ng-if="$root.profileUser.description.length > 50">
            <a class="more" ng-click="Profile.textLimit = 1000">
              see more
            </a>
          </div>
        </div>


        <div ng-if="$root.currentUser && $root.profileUser.id != $root.currentUser.id">
          <send-message></send-message>

          <div class="form-group">
            <button type="button" class="btn btn-default"
                    ng-click="Profile.follow($root.profileUser)"
                    ng-class="{'red-btn': !$root.profileUser.can_follow, 'green-btn': $root.profileUser.can_follow}">
              {{$root.profileUser.can_follow ? 'Follow' : 'Unfollow'}}
            </button>
          </div>
        </div>

        <div class="info-links hidden-lg hidden-md visible-sm visible-xs  ng-show col-xs-12">
          <a class="events"> {{$root.profileUser.count_spots}} </a>
          <a class="followers">{{$root.profileUser.count_followers}}</a>
          <a class="followings">{{ $root.profileUser.count_followings }}</a>
          <a class="albums">0</a>
          <a class="fav">0</a>
        </div>

      </section>
    </div>

    <div class="col-xs-12 col-md-7 central " ng-class="{'no-background': Profile.$state.includes('planner')}">
      <div ui-view autoscroll="true"></div>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs activity-profile">

      <div class="zoomers-sidebar" ng-if="$root.profileUser.id != $root.currentUser.id">
        <ul class="settings-list">
          <li>
            <a ui-sref="spots({user_id: $root.profileUser.id})" ui-sref-active="active" class="my-spots">Spots</a>
          </li>
          <li>
            <a ui-sref="favorites({user_id: $root.profileUser.id})" ui-sref-active="active"
               class="favorites">Favorites</a>
          </li>
          <li>
            <a ui-sref="photos({user_id: $root.profileUser.id})" ng-class="Profile.isActive('photos')" class="photomap">Photo
              map</a>
          </li>
        </ul>
      </div>

      <aside class="module-sidebar clearfix" ng-if="$root.profileUser.count_followers > 0">
        <h2 class="sidebar-title">
          <a>
            Followers
            <span class="counter">{{$root.profileUser.count_followers}}</span>
          </a>
        </h2>

        <div class="sidebar-row clearfix">
          <div class="col-sm-4 no-pad" ng-repeat="item in $root.profileUser.followers">
            <a ui-sref="profile.main({user_id: item.id})">
              <img ng-src="{{item.avatar_url.thumb}}" class="avatar"/>

              <p class="sidebar-user-name">{{item.first_name}}<br> {{item.last_name}}</p>
            </a>
          </div>
        </div>

      </aside>

      <aside class="module-sidebar clearfix" ng-if="$root.profileUser.count_followings > 0">
        <h2 class="sidebar-title">
          <a>
            Followings
            <span class="counter">{{$root.profileUser.count_followings}}</span>
          </a>
        </h2>

        <div class="sidebar-row ">
          <div class="col-sm-4 no-pad" ng-repeat="item in $root.profileUser.followings">
            <a ui-sref="profile.main({user_id: item.id})">
              <img ng-src="{{item.avatar_url.thumb}}" class="avatar"/>

              <p class="sidebar-user-name">{{item.first_name}}<br> {{item.last_name}}</p>
            </a>
          </div>
        </div>

      </aside>

      <aside class="module-sidebar clearfix" ng-if="$root.profileUser.count_spots > 0">
        <h2 class="sidebar-title">
          <a>
            Events
            <span class="counter">{{$root.profileUser.count_spots}}</span>
          </a>
        </h2>

        <div class="sidebar-row ">
          <div class="col-sm-4 no-pad" ng-repeat="item in $root.profileUser.spots">
            <a ui-sref="spot({user_id: item.user_id, spot_id: item.id})">
              <img ng-src="{{item.cover_url.thumb}}" class="avatar"/>

              <p class="sidebar-user-name">{{item.title}}</p>
            </a>
          </div>
        </div>

      </aside>
    </div>
  </div>
</div>

