<div class="title">
  <h2 ng-hide="CreateFriend.edit">Create new friend</h2>
  <h2 ng-show="CreateFriend.edit">Update friend</h2>
</div>
<div class="col-xs-12 no-pad">
  <form role="form" name="form" ng-submit="CreateFriend.SaveFriend(form)" class="create" novalidate>
    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>First name</label>
      </div>
      <div class="col-xs-9 no-pad">
        <input placeholder="Start typing..." name="first_name" type="text" ng-model="CreateFriend.friend.first_name" ng-minlength="2" required>

        <div ng-messages="form.first_name.$error" ng-if="form.$submitted || form.first_name.$touched" class="error-message-inline">
          <div ng-message="required">is required</div>
          <div ng-message="minlength">too short</div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>Last name</label>
      </div>
      <div class="col-xs-9 no-pad">
        <input placeholder="Start typing..." name="last_name" type="text" ng-model="CreateFriend.friend.last_name" ng-minlength="2" required>

        <div ng-messages="form.last_name.$error" ng-if="form.$submitted || form.last_name.$touched" class="error-message-inline">
          <div ng-message="required">is required</div>
          <div ng-message="minlength">too short</div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>Birthday </label>
      </div>
      <div class="col-xs-9 no-pad">
        <input ng-datepicker ui-mask="9999-99-99"  name="birthday" ng-model="CreateFriend.friend.birth_date" type="text">
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>Phone number</label>
      </div>
      <div class="col-xs-9 no-pad">
        <input placeholder="Start typing..." ng-model="CreateFriend.friend.phone" name="phone" type="text">
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>Email</label>
      </div>
      <div class="col-xs-9 no-pad">
        <input placeholder="Start typing..." name="email" ng-model="CreateFriend.friend.email" type="email">
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>Location</label>
      </div>
      <div class="col-xs-9 no-pad">
        <location address="CreateFriend.friend.address" location="CreateFriend.friend.location" limit="15" bind-marker="true"></location>
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <div class="col-xs-3 no-pad">
        <label>Notes</label>
      </div>
      <div class="col-xs-9 no-pad">
        <textarea placeholder="Start typing..." ng-model="CreateFriend.friend.note" name="notes"></textarea>
      </div>
    </div>
    <div class="col-xs-12 save-cancel">
      <input type="submit" value="Save" class="save">
    </div>
  </form>
</div>
