<h2 class="title-name">Saved Searches</h2>

<div class="saved-search col-xs-12" ng-repeat="item in Area.areas track by $index">
  <div class="col-xs-3 search-container">
    <a ui-sref="areas.preview({area_id: item.id})">
      <img class="search-img" src="/assets/img/missing_thumb.png">
    </a>
  </div>
  <div class="col-xs-9 no-pad-right">
    <h2 class="feeds-title">
      <a ui-sref="areas.preview({area_id: item.id})" ng-bind-html="item.title"></a>
    </h2>

    <p class="description" ng-bind-html="item.description"></p>

    <p class="time">{{item.created_at | toTimezone}}

    <div class="col-xs-12 edit-delete">
      <a class="edit">Edit</a>
      <a class="delete" ng-click="Area.RemoveArea(item.id, $index)">Delete</a>

      <share links="item.share_links"></share>

    </div>
    </p>
  </div>
</div>

<div class="col-xs-12">
  <h4 class="text-center description" ng-if="Area.areas.length == 0">No saved searches yet.</h4>
</div>
