<div class="restaurant-block">
    <section class="restaurant-section ">
        <div>
            
            <div class="col-xs-12">
                <div class="outline-none text-center readonly pull-left" >
                    <rating
                    ng-model="Restaurant.rating"
                    readonly="true"
                    max="5"
                    state-on="'glyphicon glyphicon-star star-active'"
                    state-off="'glyphicon glyphicon-star star-default'"
                    ></rating>
                </div>
                <h2>{{ Restaurant.title}}</h2>
            </div>
            <div class="clearfix"></div>
            <div>
                
                <div class="description col-xs-8" >
                    <p><a target="_blank" ng-if="Restaurant.web_sites[0]" ng-href="{{ Restaurant.web_sites[0] }}" >{{ Restaurant.web_sites[0] }}</a></p>
                    <p ng-bind-html="Restaurant.description"></p>
                    <div class="spot-hours">
                        <h3 class="no-margin-bottom">Work hours</h3>
                        <div>
                            <ul>
                                <li ng-repeat="hours in Restaurant.restaurant.hours.weekday_text">
                                    <span ng-bind-html="hours"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="Restaurant.remote_photos[0]" class="restaurant-img col-xs-4" >
                    <img class="col-xs-12" src="{{ Restaurant.remote_photos[0].url }}" />
                </div>
            </div>
            
            <p class="clearfix"></p>
            <div class="spot-amenities col-md-12" ng-if="Restaurant.amenities.length">
                <h3 class="no-margin-bottom">Amenities</h3>
                <div class="hotel-amenity" ng-repeat="(sectionTitle, sectionItems) in Restaurant.amenitiesArray">
                    <h4 ng-bind-html="sectionTitle"></h4>
                    <ul>
                        <li ng-repeat="sectionItem in sectionItems"><span ng-bind-html="sectionItem"></span></li>
                    </ul>
                </div>
            </div>
            <p class="clearfix"></p>
        </div>
    </section>
    <!-- end section with spot -->
</div>
<p class="clearfix"></p>

