<div ngf-drop
     ngf-select
     ng-model="Uploader.images"
     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
     class="drop-box"
     ngf-multiple="true"
     ngf-allow-dir="true"
     ngf-accept="'image/*'"
     ngf-max-size="10000000"
     ngf-drop-available="dropAvailable"
  >
  <p>Drop Images here</p>
  <!--<div>click to select</div>-->
</div>
<div ngf-no-file-drop>File Drop not available</div>
{{Uploader.images}}

<img ngf-src="Uploader.images[0]" class="img-thumbnail"/>
