<form name="uploaderForm">
  <div class="clearfix"
       ngf-drop
       ngf-select
       name="images"
       ng-model="Uploader.images"
       ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
       ng-class="{'drop-box': Uploader.dropZone}"
       ngf-multiple="Uploader.dropZone"
       ngf-keep="true"
       ngf-allow-dir="true"
       ngf-keep-distinct="true"
       ngf-accept="'image/*'"
       ngf-max-size="10000000"
       ngf-drop-available="dropAvailable"
    >
    <p ng-if="Uploader.dropZone">Drag photos here or click to upload</p>
    <a ng-if="!Uploader.dropZone" class="btn green-btn">{{Uploader.buttonText || 'Upload'}}</a>
  </div>
  <div ng-if="uploaderForm.images.$error.maxSize">max size</div>
</form>
<div ngf-no-file-drop>File Drop not available</div>
