<div class="{{SideMenu.side}}-menu-snap">
  <ul>
    <li><a ui-sref="spot_create" class="create-btn" ui-sref-active="active">Create spot</a></li>
    <li><a ui-sref="zoomers" class="zoomers-link" ui-sref-active="active">Zoomers</a></li>
    <li><a  class="blog-link" ui-sref-active="active">Blog</a></li>
    <li><a ui-sref="about_us" class="about-link" ui-sref-active="active">About us</a></li>
    <li><a ui-sref="contact_us" class="contacts-link" ui-sref-active="active">Contact us</a></li>
    <li><a ng-click="SideMenu.signOut()" class="sign-btn">Sign out</a></li>
  </ul>
</div>
