<div class='dialog-invite-friends-google'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="margin-none">Add Your Google Friends</h3>
  </div>
  <!-- Modal Body -->
  <div class="modal-body no-pad-left-right no-pad-bottom">
    <div class="">
      <div class="search-block">
        <input type="text" name="search" ng-model="search" class="search-friends" placeholder="Start typing...">
        <input type="button" class="search-icon">
      </div>
    </div>

    <div class="no-pad choose-friend-block">
      <div class="choose-friend"
           ng-class="{choose: user.selected}"
           ng-click="user.selected = !user.selected"
           ng-repeat="user in modal.users | filter:search">

        <img class="friend-avatar"
             ng-src="{{user.photo || modal.API_URL + '/uploads/missings/covers/thumb/missing.png'}}">
        <h4 class="name-friend">
          <span>{{::user.first_name}} {{::user.last_name}}</span>
          <span ng-if="(user.first_name || user.last_name) && user.email">, </span>
          <span>{{ ::user.email }}</span>
          <div>{{ ::user.phone }}</div>
        </h4>
      </div>
    </div>
  </div>
  <!-- Modal Footer -->
  <div class="modal-footer">
    <button class="btn btn-success pull-right col-md-3 col-sm-4 col-xs-5" ng-click="modal.save()" ng-disabled="modal.isDisabled('add')">Add Selected</button>
    <span class="pull-right">&nbsp;</span><button class="btn btn-default pull-right col-md-3 col-sm-4 col-xs-5" ng-click="modal.selectNone()" ng-disabled="modal.isDisabled('selectNone')">Unselect</button>
    <span class="pull-right">&nbsp;</span><button class="btn btn-default pull-right col-md-3 col-sm-4 col-xs-5" ng-click="modal.selectAll()" ng-disabled="modal.isDisabled('selectAll')">Select All</button>
  </div>
</div>