<a ng-click="signIn.openSignInModal()">
  <span>{{signIn.title}}</span>
</a>

<script type="text/ng-template" id="SignInModal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="modal.close()">&times;</button>
    <h4 class="modal-title">Authorization</h4>
  </div>
  <div class="modal-body">
    <form ng-submit="modal.userLogin(form)" name="form" novalidate>
      <input type="email" name="email" ng-model="modal.email" class="white" placeholder="E-mail..." required>

      <div class="error-message" ng-messages="form.email.$error" ng-if="form.$submitted || form.email.$touched">
        <div ng-messages-include="error-email-messages"></div>
      </div>

      <div class="password-block">
        <input type="password" name="password" class="white" placeholder="Password..." minlength="6"
               ng-model="modal.password"
               required>
        <a href="#" class="eye" eye-password></a>

        <div class="error-message" ng-messages="form.password.$error"
             ng-if="form.$submitted || form.password.$touched">
          <div ng-messages-include="error-password-messages"></div>
        </div>
        </div>

      <p>All fields are required
        <password-recovery></password-recovery>
      </p>
      <input type="submit" value="Zoom">
    </form>
  </div>
  <div class="modal-footer">
    <a href="#">Sign In with Facebook</a>
    <a href="#">Sign In with Google+</a>
  </div>
</script>
