<form ng-submit="Intro.searchEvent()">
    <div class="content-block text-center">
        <h2 class="title-name">Find events ray</h2>
        <h4>Million of Events for Everyone. Festivals. Concerts. Fairs &AMP; Fun Stuff</h4>
        <div class="img-wrap"><img src="/assets/img/icons/find-events.png" alt=""/></div>
        <div class="col-xs-12">
            <div class="row">
                <div class="search-filters search-block no-pad">
                  <!--Please add here class="applyed" for re-color inputs to blue-->
                    <div class="country-filter">
                        <input type="text" role="search"
                              ng-model="Intro.searchParams.search_text"
                              ng-change="Intro.searchAddress()"
                              ng-model-options="{ debounce: 200 }"
                              typeahead-on-select="Intro.selectLocation($item)"
                              typeahead="address.formatted_address for address in Intro.locations">
                        <span class="icon-nav"></span>
                    </div>
                    <div class="date-filters">
                        <div class="form-group">
                            <span class="icon-calendar"></span>
                            <input ng-datepicker class="datepicker" name="start_date"
                                  ng-model="Intro.searchParams.filter.start_date" type="text">
                        </div>
                        <div class="form-group">
                            <span class="icon-calendar"></span>
                            <input ng-datepicker class="datepicker" name="end_date"
                                  ng-model="Intro.searchParams.filter.end_date" start-date="Intro.searchParams.filter.start_date" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default green-btn " >search</button>
            </div>
            <div class="row other-search">
                <p class="text-uppercase">Other Search tools</p>
                <a ng-click="Intro.routeSearch()"><span><i class="icon-route"></i></span><span>Route Search</span></a>
                <a ng-click="Intro.radiusSearch()"><span><i class="icon-map-search"></i></span><span>Map Search</span></a>
            </div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</form>
