
<div class="content-block text-center"><h2 class="title-name">Plan a road trip</h2>
    <h4>Million of Events for Everyone. Festivals. Concerts. Fairs &AMP; Fun Stuff</h4>
    <div class="img-wrap"><img src="/assets/img/icons/plan.png" alt=""/></div>
    <div class="col-xs-12">
        <div class="row road-trip">
            <div class="search-filters search-block no-pad"><!--Please add here class="applyed" for re-color inputs to blue-->
                <div class="country-filter clearfix">
                    <input type="text" role="search" ng-model="Intro.searchParams.search_text">
                    <span class="icon-nav"></span>
                </div>

                <div class="country-filter clearfix pause-block">
                    <span class="icon-pause"></span>
                    <input type="text" role="search" ng-model="Intro.searchParams.addresses[1]">
                    <span class="icon-nav"></span>
                </div>

                <a class="add" ng-click="Intro.addAddress()">Add another stop</a>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default green-btn " ng-click="Intro.searchRoute()">search</button>
        </div>
        <div class="row other-search">
          <a ng-click="Intro.routeSearch()"><span><i class="icon-route"></i></span><span>use map tool</span></a>
        </div>
        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>



