<div class="col-xs-12">
  <div class="container wrap">
    <!--<div class="col-xs-12 col-md-3 zoomers settings">-->
      <!--<div class="zoomers-sidebar">-->
        <!--<ul class="settings-list">-->
          <!--<li><a  class="my-spots">My spots</a></li>-->
          <!--<li><a  class="favorites">Favorites</a></li>-->
          <!--<li><a  class="searches">Saved searches</a></li>-->
          <!--<li><a  class="friendsmap">Friends map</a></li>-->
          <!--<li><a  class="photomap">Photo map</a></li>-->
          <!--<li><a  class="planner">Planner</a></li>-->
          <!--<li><a  class="reviews">Reviews</a></li>-->
          <!--<li><a  class="messages">Messages</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-xs-12 col-md-9 central">

      <h2 class="title-name">Profile settings</h2>
      <!----Personal information block---->
      <div class="col-xs-12 settings-block">
        <h3>Personal information</h3>

        <div class="col-xs-4 avatar-block">
          <figure class="avatar">
            <img ng-src="{{Settings.data.avatar_url.medium}}" class="img-responsive"/>
          </figure>
          <!--<a ng-click="Setting.setAvatar()" class="edit-photo">Edit avatar</a>-->
          <uploader button-text="Edit avatar"></uploader>
        </div>
        <div class="col-xs-8 main-information">
          <form role="form" name="form" ng-submit="Settings.savePersonalSettings(form)" novalidate>
            <div class="col-xs-12 form-group no-pad">
              <div class="col-xs-3 no-pad">
                <label>Name</label>
              </div>
              <div class="col-xs-9 no-pad">
                <input class="half-width" type="text" placeholder="First name..."
                       ng-model="Settings.data.first_name" required>
                <input class="half-width" type="text" placeholder="Last name..."
                       ng-model="Settings.data.last_name" required>
              </div>
            </div>

            <div class="col-xs-12 form-group no-pad">
              <div class="col-xs-3 no-pad">
                <label>Birthday</label>
              </div>
              <div class="col-xs-9 no-pad">
                <input ng-datepicker name="date" ng-model="Settings.data.birth_date" start-date="Settings.minDate"  type="text">
              </div>
            </div>

            <div class="col-xs-12 form-group no-pad">
              <div class="col-xs-3 no-pad">
                <label>Gender</label>
              </div>
              <div class="col-xs-9 no-pad">
                <div class="form-group half-width">
                  <input type="radio" name="radio" value="m" id="radio1" class="radio"
                         ng-model="Settings.data.sex">
                  <label for="radio1">Male</label>
                </div>
                <div class="form-group half-width">
                  <input type="radio" name="radio" value="f" id="radio2" class="radio"
                         ng-model="Settings.data.sex">
                  <label for="radio2">Female</label>
                </div>
              </div>
            </div>

            <div class="col-xs-12 form-group no-pad">
              <div class="col-xs-3 no-pad">
                <label>Location</label>
              </div>
              <div class="col-xs-9 no-pad">
                <location address="Settings.data.address" location="Settings.data.location" limit="15"
                          bind-marker="false"></location>
              </div>
            </div>

            <div class="col-xs-12 form-group no-pad">
              <div class="col-xs-3 no-pad">
                <label>Timezone</label>
              </div>
              <div class="col-xs-9 no-pad">
                <!--<select class="selectpicker" ng-model="Settings.data.time_zone" ng-selected="Settings.data.time_zone"-->
                <!--ng-options="item for item in timezonesList"></select>-->
                <ui-select
                  ng-model="Settings.data.time_zone"
                  theme="bootstrap">
                  <ui-select-match placeholder="Enter timezone...">{{$select.selected}}</ui-select-match>
                  <ui-select-choices
                    repeat="item in timezonesList | filter : $select.search track by $index">
                    <div ng-bind-html="item |  highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 form-group no-pad">
              <div class="col-xs-3 no-pad">
                <label>Description</label>
              </div>
              <div class="col-xs-9 no-pad">
                <textarea ng-model="Settings.data.description" name="description" ng-maxlength="250"></textarea>

                <div ng-if="form.description.$error.maxlength && (form.$submitted || form.description.$touched)" class="error-message-inline">
                  <div>Title can't be longer then 250 symbols</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 no-pad">
              <input type="submit" value="Save" class="save-btn">
            </div>
          </form>
        </div>
      </div>
      <!----/Personal information block---->

      <!----Social networks block---->
      <!--<div class="col-xs-12 settings-block">-->
        <!--<h3>Social Networks</h3>-->

        <!--<div class="col-xs-4 social-section">-->
          <!--<div class="col-xs-5 col-sm-3 no-pad">-->
            <!--<img src="assets/img/facebook.png" alt="">-->
          <!--</div>-->

          <!--<div class="col-xs-7 col-sm-9 no-pad">-->
            <!--<div class="radio-group">-->
              <!--<input type="radio" class="radio" name="social_facebook" ng-model="Settings.data.social_facebook" value="1" ng-click="Settings.addSocial('facebook')" >-->
              <!--<label>Yes</label>-->
            <!--</div>-->
            <!--<div class="radio-group">-->
              <!--<input type="radio" class="radio" name="social_facebook" ng-model="Settings.data.social_facebook" value="0">-->
              <!--<label>No</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-4 social-section">-->
          <!--<div class="col-xs-5 col-sm-3 no-pad">-->
            <!--<img src="assets/img/google-plus.png" alt="">-->
          <!--</div>-->

          <!--<div class="col-xs-7 col-sm-9 no-pad">-->
            <!--<div class="radio-group">-->
              <!--<input type="radio" class="radio" name="social_google" value="1" ng-model="Settings.data.social_google" ng-click="Settings.addSocial('google')">-->
              <!--<label>Yes</label>-->
            <!--</div>-->
            <!--<div class="radio-group">-->
              <!--<input type="radio" class="radio" name="social_google" value="0" ng-model="Settings.data.social_google">-->
              <!--<label>No</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div class="col-xs-4 social-section">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col-xs-5 col-sm-3 no-pad">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/img/twitter.png" alt="">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="col-xs-7 col-sm-9 no-pad">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="radio-group">&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="radio" class="radio">&ndash;&gt;-->
              <!--&lt;!&ndash;<label>Yes</label>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="radio-group">&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="radio" class="radio">&ndash;&gt;-->
              <!--&lt;!&ndash;<label>No</label>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <!----/Social networks block---->

      <!----Security block---->
      <div class="col-xs-12 settings-block">
        <h3>Security</h3>

        <form role="form" name="emailForm" ng-submit="Settings.saveSecuritySettings(emailForm)" novalidate>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Current e-mail</label>
            <span class="e-mail input-width">{{Settings.data.email}}</span>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">New e-mail</label>

            <div class="no-pad input-width">
              <input class="white" type="email" name="email" ng-model="Settings.data.newEmail"
                     placeholder="Enter new e-mail address..." required>

              <div class="error-message-inline" ng-messages="emailForm.email.$error"
                   ng-if="emailForm.$submitted || emailForm.email.$touched">
                <div ng-messages-include="error-title-email-form"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 no-pad">
            <input type="submit" value="Save" class="save-btn">
          </div>
        </form>
      </div>
      <!----/Security block---->

      <!----Change password block---->
      <div class="col-xs-12 settings-block">
        <h3>Change password</h3>

        <form role="form" name="passForm" ng-submit="Settings.savePasswordSettings(passForm)" autocomplete="off" novalidate>
          <div class="col-xs-12 form-group no-pad" ng-if="Settings.data.is_registered">
            <label class="label-width">Current password</label>
            <input type="password"
                   name="password"
                   ng-model="Settings.data.currentPassword"
                   placeholder="Current password..."
                   minlength="6"
                   autocomplete="off"
                   required class="input-width"/>
            <a class="eye" eye-password></a>

            <div ng-messages="passForm.password.$error" ng-if="passForm.$submitted"
                 class="error-message-inline">
              <div ng-messages-include="error-password-messages"></div>
            </div>
          </div>

          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">New password</label>
            <input type="password"
                   name="newpassword"
                   ng-model="Settings.data.newPassword"
                   placeholder="New password..."
                   minlength="6"
                   autocomplete="off"
                   required class="input-width"/>
            <a  class="eye" eye-password></a>

            <div ng-messages="passForm.newpassword.$error" ng-if="passForm.$submitted"
                 class="error-message-inline">
              <div ng-messages-include="error-password-messages"></div>
            </div>

          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Repassword</label>
            <input type="password"
                   name="newpasswordconf"
                   ng-model="Settings.data.newPasswordConfirm"
                   placeholder="Confirm new password..."
                   autocomplete="off"
                   ng-match="Settings.data.newPassword" class="input-width">
            <a  class="eye" eye-password></a>

            <div ng-messages="passForm.newpasswordconf.$error" ng-if="passForm.$submitted"
                 class="error-message-inline">
              <div ng-messages-include="error-password-messages"></div>
            </div>
          </div>
          <div class="col-xs-12 no-pad">
            <input type="submit" value="Save" class="save-btn">
          </div>
        </form>
      </div>
      <!----/Change password block---->

      <!----Privacy settings block---->
      <div class="col-xs-12 settings-block">
        <h3>Privacy settings</h3>

        <form role="form" ng-submit="Settings.savePrivacySettings()">
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Spots</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_events"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_events">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Favorites</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_favorites"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_favorites">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Followers</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_followers"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_followers">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Followings</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_followings"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_followings">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Wall</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_wall"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_wall">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">My info</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_info"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_info">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Photo map</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.privacy_photo_map"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.privacyOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.privacy_photo_map">-->
              <!--<option value="1">All users have access</option>-->
              <!--<option value="2">Only followers&followings have access</option>-->
              <!--<option value="3">Only followings have access</option>-->
              <!--<option value="4">Only authorized users have access</option>-->
              <!--<option value="5">Nobody has access</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 no-pad">
            <input type="submit" value="Save" class="save-btn">
          </div>
        </form>
      </div>
      <!----/Privacy settings block---->

      <!----Notifications block---->
      <div class="col-xs-12 settings-block">
        <h3>Notifications</h3>

        <form role="form" ng-submit="Settings.saveNotificationSettings()">
          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Received a letter</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.notification_letter"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.notificationOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.notification_letter">-->
              <!--<option value="true">Receive</option>-->
              <!--<option value="false">Don't receive</option>-->
              <!--</select>-->
            </div>
          </div>

          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Post on the wall</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.notification_wall_post"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.notificationOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.notification_wall_post">-->
              <!--<option value="true">Receive</option>-->
              <!--<option value="false">Don't receive</option>-->
              <!--</select>-->
            </div>
          </div>

          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">User follow/unfollow</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.notification_follow"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.notificationOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.notification_follow">-->
              <!--<option value="true">Receive</option>-->
              <!--<option value="false">Don't receive</option>-->
              <!--</select>-->
            </div>
          </div>

          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">New spots</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.notification_new_spot"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.notificationOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.notification_new_spot">-->
              <!--<option value="true">Receive</option>-->
              <!--<option value="false">Don't receive</option>-->
              <!--</select>-->
            </div>
          </div>

          <div class="col-xs-12 form-group no-pad">
            <label class="label-width">Upcoming spots</label>

            <div class="input-width no-pad">
              <ui-select
                ng-model="Settings.data.notification_coming_spot"
                theme="bootstrap">
                <ui-select-match placeholder="Enter option...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices
                  repeat="item.value as item in Settings.notificationOptions | filter : $select.search track by $index">
                  <div ng-bind-html="item.label |  highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <!--<select selectpicker class="selectpicker" ng-model="Settings.data.notification_coming_spot">-->
              <!--<option value="true">Receive</option>-->
              <!--<option value="false">Don't receive</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-xs-12 no-pad">
            <input type="submit" value="Save" class="save-btn">
          </div>
        </form>
      </div>
      <!----/Notifications block---->

    </div>

  </div>
</div>
