<div class="text-center">
  <h2 class="title-name nav-green">
    Hotels
  </h2>
</div>

<div infinite-scroll="Hotels.pagination.nextPage()" infinite-scroll-disabled="Hotels.pagination.busy"
    class="clearfix" infinite-scroll-distance="1">
    <section class="hotels-section col-xs-12" ng-repeat="item in Hotels.hotels.data">
        <div class="title col-xs-6">
            <a ui-sref="hotel({hotel_id: item.id})">{{ item.hotel_name }}</a>
        </div>
        <div class="location col-xs-6">
            lat: {{ item.location.lat }} lon: {{ item.location.lng }}
        </div>
    </section>
</div>
<preloader ng-show="Hotels.pagination.busy"></preloader>

<div class="col-xs-12">
  <h4 class="text-center description" ng-if="Hotels.hotels.data.length == 0 && !Hotels.pagination.busy">No spots yet.</h4>
</div>