<h2 class="title-name">
  {{currentUser.id == profileUser.id ? 'Favorites' : profileUser.first_name + "'s favorites"}}
</h2>

<div infinite-scroll="Favorite.pagination.nextPage()" infinite-scroll-disabled="Favorite.pagination.busy"
     class="clearfix" infinite-scroll-distance="1">
  <section ng-repeat="item in Favorite.spots.data" class="border-bottom">
    <div class="event block">
      <div class="date">
        <date-range item="item"></date-range>
      </div>

      <div class="col-xs-12 no-pad-left-right">
        <stars item="item"></stars>
       <span ng-class="{'event-spot-page':item.type == 'Event',
                        'recreation':item.type == 'Recreation',
                        'pitstop':item.type == 'PitStop'}">
            {{item.type}}
        </span>
      </div>
      <div class="media media-full-width media-visible">
        <a class="pull-left spot-icon" ui-sref="spot({user_id: item.user_id, spot_id: item.id})">
          <img class="media-object fav-avatar-icon no-margin-left" ng-src="{{item.cover_url.thumb}}">
        </a>

        <div class="media-body text-content">
          <h2 class="media-heading favorites-article-title">
            <a ui-sref="spot({user_id: item.user_id, spot_id: item.id})">{{item.title}}</a>
          </h2>

          <p class="place">{{item.description}}</p>
        </div>
      </div>

      <ul class="tools clearfix">
        <li ng-if="!item.is_saved && item.type == 'Event'">
          <a class="save-event" ng-click="Favorite.saveToCalendar(item)">Save</a>
        </li>
        <li ng-if="currentUser && item.is_saved && item.type == 'Event'">
          <a class="save-event saved clicked" ng-click="Favorite.removeFromCalendar(item)">Remove</a>
        </li>
        <li ng-if="!item.is_favorite">
          <a class="favorite-spot" ng-click="Favorite.addToFavorite(item)">Favorite</a>
        </li>
        <li ng-if="currentUser && item.is_favorite">
          <a class="fav favorited" ng-click="Favorite.removeFromFavorite(item, $index)">Unfavorite</a>
        </li>
        <li>
          <invite-friends item="item"></invite-friends>
        </li>

      </ul>
      <share links="item.share_links"></share>

    </div>
  </section>
</div>


<preloader ng-show="Favorite.pagination.busy"></preloader>

<div class="col-xs-12" ng-if="Favorite.spots.data.length == 0 && !Favorite.pagination.busy">
  <h4 class="text-center description">No favorites yet.</h4>
</div>
