<form class="form-horizontal  no-pad" name="form" role="form" ng-submit="Article.save(form)" novalidate>
  <h2 class="title-name">Create blog post</h2>
  <section class="event-main-info">

    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="Article.title" name="title" placeholder="Start typing..."
               required/>

        <div ng-messages="form.title.$error" ng-if="form.$submitted || form.title.$touched" class="error-message">
          <div ng-message="required">is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Category</label>

      <div class="col-sm-10">
        <ui-select ng-model="Article.blog_category_id" theme="bootstrap">
          <ui-select-match placeholder="Select category ">{{$select.selected.display_name}}</ui-select-match>
          <ui-select-choices repeat="item.id as item in Article.categories | filter : $select.search track by $index">
            <div ng-bind-html="item.display_name |  highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>

        <input type="hidden" ng-model="Article.blog_category_id" name="blog_category_id" required/>

        <div ng-messages="form.blog_category_id.$error" ng-if="form.$submitted || form.blog_category_id.$touched"
             class="error-message">
          <div ng-message="required">is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Upload</label>

      <div class="col-sm-10">
        <div class="btn-group">
          <uploader button-text="Choose file"></uploader>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Alias</label>

      <div class="col-sm-10">
        <input ng-model="Article.slug" name="slug" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Location </label>

      <div class="col-sm-10">
        <location address="Article.address" location="Article.location" limit="15"></location>

      </div>
    </div>

    <div class="form-group">
      <div ng-wig="Article.body"></div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 no-pad">
        <button type="submit" class="btn btn-default  green-btn pull-right ">Save</button>
      </div>
    </div>
  </section>

</form>
