html, body {
  height: 100%;
}
.big {
  height: 95%;
}
.small {
  height: 30%;
}
.hidden {
  height: 0px;
}
.map-tools{
  height: 45px;
  width: 45px;
  background-color: white;
}
.lasso-selection {
  height: 100%;
  width: 100%;
  background-color: cyan;
}
.radius-selection {
  height: 100%;
  width: 100%;
  background-color: orange;
}
.path-selection {
  height: 100%;
  width: 100%;
  background-color: red;
}
.save-selection {
  height: 100%;
  width: 100%;
  background-color: black;
}
.clear-selection {
  height: 100%;
  width: 100%;
  background-color: purple;
}
