<header ng-class="{ 'mobile-hidden': $root.isSidebarOpened }">
    <nav class="main-nav">
        <a ui-sref="index" class="main-logo" ng-show="!Header.isSearchOpened">
            <img class="main-logo-big" src="assets/img/icons/logo.svg" alt="logo">
            <!-- <img class="main-logo-small" src="assets/img/svg/logo.svg" alt="logo"> -->
        </a>
        <div class="search" ng-show="Header.isSearchOpened">
            <input type="text"  class="nav-search"  name="search" placeholder="Search by location or keyword..." value="{{Header.searchValue}}">
            <!-- <button type="button" name="button">
                <span class="glyphicon glyphicon-search"></span>
            </button> -->
        </div>
        <div class="nav-right">
            <div class="user-avatar">
                <a class="search-button">
                    <!-- <span>{{Header.isSearchOpened ? 'Close' : 'Search' }}</span> -->
                    <img src="assets/img/svg/new_icons/Search.svg" alt="search" ng-click="Header.searchClick()" ng-show="!Header.isSearchOpened">
                    <img src="assets/img/svg/cancel-button-white.svg" alt="search" ng-click="Header.searchClick()" ng-show="Header.isSearchOpened">
                </a>
                <a ng-href="{{Header.BACKEND_URL}}/admin" target="_blank" ng-if="$root.isRole($root.currentUser, 'admin')" class="nav-admin" ng-if="$root.currentUser" ng-class="Header.isSearchOpened ? 'mobile-hidden' : ''">
                    <span>Admin</span>
                    <img src="../../../../assets/img/header/admin-icon.png">
                </a>
                <a ui-sref="profile.main({user_id: $root.currentUser.alias || $root.currentUser.id})" ui-sref-active="active" class="user-name" ng-if="$root.currentUser" ng-class="Header.isSearchOpened ? 'mobile-hidden' : ''">
                    <span>{{ $root.currentUser.first_name }}</span>
                    <img ng-src="{{$root.currentUser.avatar_url.thumb}}">
                </a>
            </div>
            <div class="sign-up-in" ng-if="!$root.currentUser" ng-class="Header.isSearchOpened ? 'mobile-hidden' : ''">
                <div>
                    <sign-up></sign-up>
                </div>
                <p>|</p>
                <div>
                    <sign-in title="Sign in"></sign-in>
                </div>
            </div>
            <a class="menu-btn big-menu" snap-toggle="right" ng-class="Header.isSearchOpened ? 'mobile-hidden' : ''">
                <span class="menu-icon "></span>
            </a>
        </div>
    </nav>
</header>
