<header>
  <nav class="hidden-md hidden-lg">
    <a class="menu-btn" snap-toggle="left">
      <span class="menu-icon"></span>
    </a>
    <ul>
      <li ng-if="Header.$state.current.name == 'index'" class="separator-bg map-profile">
        <a ui-sref="index" ui-sref-active="active"><span>Map</span><span class="map-icon"></span></a>
      </li>
      <li ng-if="$root.currentUser && Header.$state.current.name != 'index'" class="map-profile">
        <a ui-sref="profile.main({user_id: $root.currentUser.id})" ui-sref-active="active" class="user-name"><span>{{$root.currentUser.first_name}}</span>
          <span><img ng-src="{{$root.currentUser.avatar_url.thumb}}"></span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="logo">
    <a ui-sref="index"><img src='assets/img/icons/logo.svg' alt="logo"></a>
  </div>

  <nav class="hidden-sm hidden-xs">
    <ul>
      <li class="separator-bg map-profile" ng-if="Header.isRole('admin')">
        <a href="{{Header.API_URL}}/admin" target="_blank">
          <span>Admin</span>
          <span class="admin-icon"></span>
        </a>
      </li>
      <li class="map-profile separator-bg">
        <a ui-sref="index" ui-sref-active="active">
          <span>Map</span>
          <span class="map-icon"></span>
        </a>
      </li>
      <li ng-if="!$root.currentUser" class="separator-bg authorisation">
        <sign-in title="Sign in"></sign-in>
      </li>
      <li ng-if="!$root.currentUser" class="sep">|</li>
      <li ng-if="!$root.currentUser" class="authorisation">
        <sign-up></sign-up>
      </li>
      <li ng-if="$root.currentUser" class="map-profile separator-bg">
        <a ui-sref="profile.main({user_id: $root.currentUser.id})" ui-sref-active="active" class="user-name">
          <span>{{$root.currentUser.first_name}}</span>
          <span><img ng-src="{{$root.currentUser.avatar_url.thumb}}"></span>
        </a>
      </li>
    </ul>
    <a class="menu-btn" snap-toggle="right">
      <span class="menu-icon"></span>
    </a>
  </nav>
</header>
