<div class="modal-header">
  <h3 class="margin-none">Choose social network
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </h3>
</div>
<div class="modal-body clearfix no-pad-left-right no-pad-bottom">
    <div class="share-modal">
        <img src="../../../assets/img/social/facebook.png" alt="facebook" ng-click="modal.facebook()">
        <img src="../../../assets/img/social/twitter.png" alt="twitter" ng-click="modal.twitter()">
        <img src="../../../assets/img/social/google.png" alt="google" ng-click="modal.google()">
    </div>
</div>
