<a ng-click="password.openPasswordRecoveryModal()">Forgot password?</a>

<script type="text/ng-template" id="PasswordRecoveryModal.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Password recovery</h4>
  </div>
  <div class="modal-body">
    <form ng-submit="modal.recoveryPassword(form)" name="form" novalidate>
      <input type="email" name="email" ng-model="modal.email" class="white" placeholder="E-mail..." required>

      <div class="error-message" ng-messages="form.email.$error" ng-if="form.$submitted || form.email.$touched">
        <div ng-messages-include="error-email-messages"></div>
      </div>

      <input type="submit" value="Send letter">
    </form>
  </div>
</script>
