<form name="form" class="form-horizontal spot-bg" role="form" ng-submit="Hotel.save(form)" novalidate>
    <div class="hotel-block">
        <section class="hotel-section ">
            <div>
                <h2 class="col-xs-12">
                    {{Hotel.title}}
                </h2>
                <div>
                    <div ng-bind-html="Hotel.description" class="description col-xs-8" ></div>
                    <div ng-if="Hotel.remote_photos[0]" class="hotel-img col-xs-4" >
                        <img class="col-xs-12" src="{{ Hotel.remote_photos[0].url }}" />
                    </div>
                </div>
                <p class="clearfix"></p>
                <div class="hotel-amenities">
                    <div class="hotel-amenity col-md-4" ng-repeat="(sectionTitle, sectionItems) in Hotel.amenitiesArray">
                        <h4 ng-bind-html="sectionTitle"></h4>
                        <ul>
                            <li ng-repeat="sectionItem in sectionItems"><span ng-bind-html="sectionItem"></span></li>
                        </ul>
                    </div>
                </div>
                <p class="clearfix"></p>
                <div>
                    <div class="col-xs-3">
                        <div>Date from:</div>
                        <input ng-datepicker 
                                class="datepicker" 
                                name="start_date" 
                                ng-model="Hotel.start_date" 
                                type="text" 
                                start-date="Hotel.minDateFrom" 
                                end-date="Hotel.maxDateFrom"
                                format-date="yy-mm-dd"
                                format="yy-mm-dd"
                                required>
                    </div>
                    <div class="col-xs-3">
                        <div>Date to:</div>
                        <input ng-datepicker 
                                class="datepicker" 
                                name="end_date" 
                                ng-model="Hotel.end_date" 
                                type="text" 
                                start-date="Hotel.minDateTo" 
                                end-date="Hotel.maxDateTo"
                                format-date="yy-mm-dd"
                                format="yy-mm-dd"
                                required>
                    </div>
                </div>
                <p class="clearfix"></p>
                <div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-default">Find</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section with spot -->
    </div>
</form>
<p class="clearfix"></p>
<preloader ng-show="Hotel.loading"></preloader>

<div ng-show="Hotel.bookingPrice || Hotel.hotelsPrice" class="hotels-prices col-xs-12">
    <div class="hotels-price">
        <p class="hotels-price-available" ng-if="Hotel.hotelsPrice"><strong><a href="{{ Hotel.hotelsUrl }}">Hotels.com</a> lowest price:</strong> <a href="{{ Hotel.hotelsUrl }}">{{ Hotel.hotelsPrice }}</a></p>
        <p class="hotels-price-unavailable" ng-if="!Hotel.hotelsPrice"><a href="{{ Hotel.hotelsUrl }}">Hotels.com</a> price unavailable for this dates</p>
    </div>
    <div class="booking-price">
        <p class="booking-price-available" ng-if="Hotel.bookingPrice"><strong><a href="{{ Hotel.bookingUrl }}">Booking.com</a> lowest price:</strong> <a href="{{ Hotel.bookingUrl }}">{{ Hotel.bookingPrice }}</a></p>
        <p class="booking-price-unavailable" ng-if="!Hotel.bookingPrice"><a href="{{ Hotel.bookingUrl }}">Booking.com</a> price unavailable for this dates</p>
    </div>
</div>
<div class="hotels-prices col-xs-12" ng-show="!Hotel.bookingPrice && !Hotel.hotelsPrice && !Hotel.loading && !Hotel.firstSearch">
    No prices detected on <a href="{{ Hotel.hotelsUrl }}">Hotels.com</a> & <a href="{{ Hotel.bookingUrl }}">Booking.com</a>
</div>

