/*      about us      */
.about-page {
  margin-top: 7rem;
  .about-text {
    font: 1.8rem/24px;
    color: #929fa7;
    text-align: center;
  }
}

.team-section {
  margin: 70px auto;
  display: block; 
  .team-item {
    margin-bottom: 50px;
  }
  .img-user-circle {
    border-radius: 55%;
    margin-bottom: 15px;
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #a6b1b7;
    background: #fff;
    padding: .5rem;
    box-shadow: none;
  }
  .name-user {
    font-size: 2rem !important;
    color: $dark_blue;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .job-user {
    font: 16px;
    color: #929fa7;
    text-transform: uppercase;
  }
}
