.users{
    form{
        position: relative;
        input[type='text']{

        }
        input[type='submit']{
         position: absolute;
            top: 1px;
            right: 0;
            display: block;
            width: 30px;
            height: 30px;
            background: url(../img/icons/search_icon.png) 0 -5px no-repeat;
            text-indent: -10000px;
            overflow: hidden;
            border: none;
            margin-right: 10px;
            box-shadow: none;
            &:hover{
                background: url(../img/icons/search_icon.png) 0 -46px no-repeat;
            }
        }
    }
}
