<script type="text/ng-template" id="PhotosModal.html">
  <div class="modal-header border-bottom-none no-pad-bottom">
    <h3 class="margin-none">Choose some photos</h3>
  </div>

  <div class="modal-body ">
    <ul class="nav nav-tabs font-weight600">
      <li class="active"><a href="#album" data-toggle="tab">Albums</a>
      </li>
      <li><a href="#photos" data-toggle="tab">Photos</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active choose-some-photos-body col-sm-12" id="album">

        <div class="choose-album col-sm-4">
          <img src="/assets/img/icons/02.png" class="">
          <p><a href="#">Album name</a>
          </p>
        </div>
        <div class="choose-album col-sm-4">
          <img src="/assets/img/icons/01.png" class="img-responsive">
          <p><a href="#">Album name</a>
          </p>
        </div>
        <div class="choose-album col-sm-4">
          <img src="/assets/img/icons/02.png" class="img-responsive">
          <p><a href="#">Album name</a>
          </p>
        </div>
        <div class="choose-album col-sm-4">
          <img src="/assets/img/icons/01.png" class="img-responsive">
          <p><a href="#">Album name</a>
          </p>
        </div>
        <div class="choose-album col-sm-4">
          <img src="/assets/img/icons/02.png" class="img-responsive">
          <p><a href="#">Album name</a>
          </p>
        </div>
      </div>
      <div class="tab-pane choose-some-photos-body col-sm-12" id="photos">
        <h3 class="choose-album-name">Album's name</h3>
        <a href="#" class="back"></a>
        <div class="choose-photo-album">
          <img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png"><img class="" src="/assets/img/icons/01.png">
          <img class="" src="/assets/img/icons/02.png">
          <img class="" src="/assets/img/icons/01.png">

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer col-xs-12 clearfix">
    <!--
    <button class="btn btn-success pull-left col-sm-2 col-xs-5 button-my" type="button"
            data-dismiss="modal">Save
    </button>
    <button class="btn btn-primary pull-left col-sm-2 col-xs-5 button-my" type="button"
            data-dismiss="modal">Cancel
    </button>
-->
  </div>
</script>
