<script type="text/ng-template" id="PhotosModal.html">
  <div class="modal-header border-bottom-none no-pad-bottom">
    <h3 class="margin-none">Choose some photos
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    </h3>
  </div>

  <div class="modal-body ">
    <ul class="nav nav-tabs font-weight600">
      <li ng-click="modal.selectedAlbum = null" ng-class="{active: !modal.selectedAlbum}">
        <a>Albums</a>
      </li>
      <li ng-class="{active: modal.selectedAlbum}" ng-if="modal.selectedAlbum">
        <a>Photos</a>
      </li>
    </ul>
    <div class="tab-content clearfix">
      <div class="tab-pane choose-some-photos-body col-sm-12" ng-class="{active: !modal.selectedAlbum}">
        <div class="choose-album col-sm-4"
             ng-repeat="item in modal.albums"
             ng-click="modal.selectAlbum(item.id, $index)">
          <img class="img-responsive tab-photo" ng-src="{{item.cover.medium}}">

          <p><a ng-bind-html="item.title"></a></p>
        </div>

        <h4 ng-if="modal.albums.length < 1" class="text-center description">No albums yet.</h4>

      </div>

      <div class="tab-pane choose-some-photos-body col-sm-12" ng-if="modal.selectedAlbum"
           ng-class="{active: modal.selectedAlbum}">
        <div class="album-title">
          <a class="back" ng-click="modal.selectedAlbum = null"></a>
          <span class="choose-album-name" ng-bind-html="modal.selectedAlbum.title"></span>
        </div>
        <div class="choose-photo-album">
          <img ng-repeat="item in modal.selectedAlbum.photos"
               ng-src="{{item.photo_url.medium}}"
               ng-click="modal.addPhoto($index)">

          <h4 ng-if="modal.selectedAlbum.photos.length < 1" class="text-center description">No photos in album</h4>
        </div>
      </div>
      <div class="col-xs-12 no-pad">
        <button type="button" class="btn btn-default green-btn no-margin-left">OK</button>
      </div>
    </div>

  </div>
</script>
