<div class="spot-block">
  <!-- section with spot -->
  <section class="one-spot-section">
    <div>
      <stars item="item"></stars>

      <span ng-if="Spot.spot.type == 'Event'" class="date">
          <date-range item="Spot.spot"></date-range>
      </span>

      <h2 class="">
        <a>{{Spot.spot.title}}</a>
      </h2>

      <p class="place"></p>

      <p class="description"><span>{{Spot.spot.description}}</span>
      </p>

      <div class="external-link">
        <a target="_blank">http://test.com</a>
      </div>

      <ul class="tags ">
        <li ng-repeat="tag in Spot.spot.tags">
          {{tag.name}}
        </li>
      </ul>
      <!--  tags -->

      <ul class="tools" ng-if="currentUser">
        <li>
          <a ng-click="Spot.removeSpot(Spot.spot, $index);" class="delete">Delete</a>
        </li>

        <li ng-if="!Spot.spot.is_saved">
          <a class="save-event" ng-click="Spot.saveToCalendar(Spot.spot)">Save</a>
        </li>
        <li ng-if="Spot.spot.is_saved">
          <a class="save-event saved clicked" ng-click="Spot.removeFromCalendar(Spot.spot)">Remove</a>
        </li>
        <li ng-if="!Spot.spot.is_favorite">
          <a class="favorite-spot" ng-click="Spot.addToFavorite(Spot.spot)">Favorite</a>
        </li>
        <li ng-if="Spot.spot.is_favorite">
          <a class="fav favorited" ng-click="Spot.removeFromFavorite(Spot.spot)">Unfavorite</a>
        </li>
        <li>
          <invite-friends spot="Spot.spot"></invite-friends>
        </li>
      </ul>

      <a href="#" class="share">Share</a>

      <div class="share-wrap ng-hide">
        <ul class="share-buttons clearfix">
          <li>
            <a
              href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fzoomzoom.itechhighway.com%2Fevent%2Fshow%2F97777798"
              target="_blank" class="facebook">facebook</a></li>
          <li>
            <a href="https://plus.google.com/share?url=http%3A%2F%2Fzoomzoom.itechhighway.com%2Fevent%2Fshow%2F97777798"
               target="_blank" class="google">google</a></li>
          <li>
            <a
              href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fzoomzoom.itechhighway.com%2Fevent%2Fshow%2F97777798"
              target="_blank" class="twitter">twitter</a></li>
        </ul>
      </div>
      <!-- share-wrap -->

    </div>
  </section>
  <!-- end section with spot -->
</div>

<!-- section with comment -->
<section class=" comments-section">
  <div class="comments-content clearfix">
    <ng-input message="Profile.message" attachments="Profile.attachments" on-submit="Profile.send()"></ng-input>
  </div>


  <div class="spot-post empty">
    <p class="comment-text">There are no comments.</p>
  </div>
</section>
<!-- end section with comment -->
