<input ng-if="provider === 'google'"
       typeahead="address as address.formatted_address for address in getData($viewValue)"
       typeahead-wait-ms="100"
       typeahead-on-select="onAutocompleteSelect($item, $model, $label)"
       ng-model="viewAddress"
       ng-change="onChange();"
       placeholder="{{placeHolder}}"
       popover="{{bindMarker && !location ? 'Type address or click on the map to set the location(s)'  : ''}}"
       popover-trigger="focus"
       type="text"
       class="{{customClasses}}"
       ng-class="className">
<input ng-if="provider != 'google'"
       typeahead="address as address.formatted_address for address in getData($viewValue)"
       typeahead-wait-ms="100"
       typeahead-on-select="onAutocompleteSelect($item, $model, $label)"
       ng-model="viewAddress"
       ng-change="onChange();"
       placeholder={{placeHolder}}
       popover="{{bindMarker && !location ? 'Type address or click on the map to set the location(s)'  : ''}}"
       popover-trigger="focus"
       type="text"
       class="{{customClasses}}"
       ng-class="className">
<a ng-if="showUserLocation" ng-click="SetCurrentLocation();" class="compass compass-location"
   title="Find out the location"></a>
