<div class="col-xs-4 nav-popup">
  <div class="img-event">
    <img src="/assets/img/img1.jpg">
    <div class="star-event">
      <!--<img src="/assets/img/icons/star.png"><img src="/assets/img/icons/star.png">-->
      <!--<img src="/assets/img/icons/star.png"><img src="/assets/img/icons/star.png">-->
      <!--<img src="/assets/img/icons/star.png">-->
    </div>
  </div>
  <div class="popup-links">
    <ul>
      <li><a href="#">About</a>
      </li>
      <li><a href="#">Reviews</a>
      </li>
      <li><a href="#">Photos</a>
      </li>
    </ul>
  </div>
</div>
<div class="col-xs-8 popup-main">
  <a href="#" class="title">Redwood Inn</a>
  <p class="location-event">Lombard Street, San Francisco</p>
  <p class="date-event">12 Aug 2014 - 13 Aug 2014</p>
  <a class="author-event" href="#">by Alan Gilbert</a>
  <div class="content-popup clearfix">
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doLorem ipsum dolor sit amet, consectetur adipisicing elit, sed doLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim .</p>
  </div>
  <div class="links-nav">
    <a class="save" href="#">Save</a>
    <a class="favorites" href="#">Favorite</a>
    <a class="invite" href="#">Invite friends</a>
    <a class="big-plus" href="#"></a>
  </div>
  <div class="close-event">
    <a href="#"></a>
  </div>
</div>
