<!doctype html>
<html ng-app="zoomtivity" ng-jq="jQuery">
<head>
  <meta charset="utf-8">
  <title>Zoomtivity</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Zoomtivity"/>
  <meta property="og:image" content="/assets/img/icons/logo.svg"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <base href="/">

  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

  <link rel="manifest" href="/manifest.json">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <style>
  .map { width: calc(100vw - 70px); height: calc(100vh - 100px) }
  .content-hidden { overflow: hidden; height: 100vh; width: 100vw; } .preloader { position: fixed; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; background: #00CFFF; z-index: 999999; } .preloader *, .preloader *:after, .preloader *:before { box-sizing:
content-box; } .preloader .ferris_wheel { position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -75px; } .preloader .ferris_wheel, .preloader .wheel { border: 6px solid #0B2639; width: 150px; height: 150px; border-radius: 50%; } .preloader
.ferris_wheel { border: 0; position: absolute; } .preloader .wheel_wrap { position: absolute; -webkit-animation: wheel_rotate 40s infinite linear; animation: wheel_rotate 40s infinite linear; } .preloader .wheel:before { content: ""; height: 50px; width:
50px; background: #0B2639; position: absolute; border-radius: 50%; left: 50%; top: 50%; margin-left: -25px; margin-top: -25px; z-index: 1; } .preloader .wheel:after { content: ""; width: 16px; height: 16px; background: #683C10; position: absolute; top:
50%; left: 50%; margin-top: -12px; margin-left: -12px; border-radius: 50%; border: 4px solid #000; z-index: 1; } .preloader .wheel span:nth-child(1):before { content: ""; border-bottom: 2px solid #000; position: absolute; top: 0; left: 0; width: 150px;
top: 50%; left: 6px; } .preloader .wheel span:nth-child(1):after { content: ""; border-right: 2px solid #000; position: absolute; top: 0; left: 0; height: 150px; top: 6px; left: 50%; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform:
rotate(45deg); } .preloader .wheel span:nth-child(2):before { content: ""; border-right: 2px solid #000; position: absolute; top: 0; left: 0; height: 150px; top: 5px; left: 50%; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform:
rotate(-45deg); } .preloader .wheel span:nth-child(2):after { content: ""; border-right: 2px solid #000; position: absolute; top: 0; left: 0; height: 150px; top: 6px; left: 50%; } .preloader div.stand:after, .preloader div.stand:before { content: "";
position: absolute; border-right: 4px solid #683C10; height: 120px; -webkit-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); top: 88px; left: 50%; margin-left: -15px; } .preloader div.stand:after { -webkit-transform: rotate(-15deg);
-ms-transform: rotate(-15deg); transform: rotate(-15deg); margin-left: 23px; } .preloader .stand span { position: absolute; height: 10px; background: #0B2639; width: 100px; bottom: -60px; left: 50%; margin-left: -44px; z-index: 1; } @-webkit-keyframes
wheel_rotate { 0% { -webkit-transform: rotate(0); transform: rotate(0); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @keyframes wheel_rotate { 0% { -webkit-transform: rotate(0); transform: rotate(0); } 100% { -webkit-transform:
rotate(360deg); transform: rotate(360deg); } } .preloader .buckets { position: absolute; border: 6px solid #0B2639; width: 150px; height: 150px; border-radius: 50%; } .preloader .buckets div { position: absolute; -webkit-animation: bucket_rotate 40s infinite
linear; animation: bucket_rotate 40s infinite linear; top: 50%; left: 50%; margin-top: 11px; margin-left: -13px; } .preloader .buckets div:before { content: ""; height: 13px; left: 9px; border-right: 1px solid #888; position: absolute; top: -12px; -webkit-transform:
rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); } .preloader .buckets div:after { content: ""; height: 13px; border-right: 1px solid #888; position: absolute; right: 10px; -webkit-transform: rotate(-30deg); -ms-transform: rotate(-30deg);
transform: rotate(-30deg); top: -12px; } .preloader .buckets span { display: inline-block; border-top: 15px solid #E84735; border-left: 3px solid transparent; border-right: 3px solid transparent; height: 0; width: 20px; position: relative; } .preloader
.buckets span:before { content: ""; position: absolute; top: -15px; height: 3px; width: 25px; left: -2px; background: #0B2639; } .preloader .buckets span:after { content: ""; height: 5px; left: -2px; background: -webkit-linear-gradient(left, #97cde6 0%,
#97cde6 35%, #fff 35%, #fff 66%, #97cde6 66%, #97cde6 100%); background: linear-gradient(to right, #97cde6 0%, #97cde6 35%, #fff 35%, #fff 66%, #97cde6 66%, #97cde6 100%); width: 25px; position: absolute; top: -12px; } @-webkit-keyframes bucket_rotate
{ 0% { -webkit-transform: rotate(0) translateX(75px) rotate(0); transform: rotate(0) translateX(75px) rotate(0); } 100% { -webkit-transform: rotate(360deg) translateX(75px) rotate(-360deg); transform: rotate(360deg) translateX(75px) rotate(-360deg); }
} @keyframes bucket_rotate { 0% { -webkit-transform: rotate(0) translateX(75px) rotate(0); transform: rotate(0) translateX(75px) rotate(0); } 100% { -webkit-transform: rotate(360deg) translateX(75px) rotate(-360deg); transform: rotate(360deg) translateX(75px)
rotate(-360deg); } } .preloader .buckets div:nth-child(2) { -webkit-animation-delay: -4.8s; animation-delay: -4.8s; } .preloader .buckets div:nth-child(3) { -webkit-animation-delay: -9.9s; animation-delay: -9.9s; } .preloader .buckets div:nth-child(4)
{ -webkit-animation-delay: -15s; animation-delay: -15s; } .preloader .buckets div:nth-child(5) { -webkit-animation-delay: -20s; animation-delay: -20s; } .preloader .buckets div:nth-child(6) { -webkit-animation-delay: -25s; animation-delay: -25s; } .preloader
.buckets div:nth-child(7) { -webkit-animation-delay: -30s; animation-delay: -30s; } .preloader .buckets div:nth-child(8) { -webkit-animation-delay: -35s; animation-delay: -35s; }
  </style>

</head>
<body autoscroll="true" id="body" class="content-hidden">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!--Preloader-->
<div class="preloader" id="preloader">
  <div class="ferris_wheel">
    <div class="wheel_wrap">
      <div class="wheel">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="buckets">
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
    </div>
    <div class="stand"><span></span></div>
  </div>
</div>
<!-- /Preloader-->


<div snap-drawers>
  <div snap-drawer>
    <zm-side-menu side="left" ng-if="options.snap.disable == 'right'"></zm-side-menu>
  </div>
  <div snap-drawer="right">
    <zm-side-menu side="right" ng-if="options.snap.disable == 'left'"></zm-side-menu>
  </div>
</div>

<div snap-content snap-options="options.snap">
  <!-- include header-->
  <zm-header options="options" ng-class="{'landing-menu-wrapper': $state.includes('intro')}"></zm-header>

  <!-- <hints-popup></hints-popup> -->

  <!-- <map-sort ng-if="['full-size', 'big'].indexOf(mapState) >= 0"></map-sort> -->
  <map-sort></map-sort>

  <!-- map container-->
  <div id="map" class="mapResize map {{mapState}}" ng-class="{ 'not-index': !$root.isMapState(), 'sidebar-opened': $root.isSidebarOpened, 'filter-opened': $root.isFilterOpened }"></div>

  <!-- Opened spot -->
  <div ng-if="$root.openedSpot != null && $root.isMapState()">
      <spot spot="$root.openedSpot" modal="true"></spot>
  </div>

  <!-- content container-->
  <div ng-show="mapState != 'full-size'" ui-view ng-class="{'landing-wrapper': $state.includes('intro')}"></div>

  <div ng-include="'/app/components/navigation/profile_menu/profile_links.html'" class="map-block" ng-if="mapState == 'full-size' || $root.isMapState()"></div>
  <!-- <div ng-include="'/app/components/navigation/profile_menu/profile_links_unauthorized.html'" class="map-block" ng-if="(mapState == 'full-size' && !currentUser) || ($root.isMapState() && !currentUser)"></div> -->

</div>

<ng-include src="'/app/modules/intro/intro_footer.html'"></ng-include>
<ng-include src="'/app/components/map_partials/unregistered_banner.html'"></ng-include>
<ng-include src="'/app/components/ng_message_templates/error_templates.html'"></ng-include>
<ng-include src="'/app/components/password_reset/password_reset.html'"></ng-include>
<ng-include src="'/app/components/photoviewer/photoviewer.html'"></ng-include>
<ng-include src="'/app/components/users_modal/users_modal.html'"></ng-include>
<ng-include src="'/app/components/map_popups/spot_map_modal/spot_map_modal.html'"></ng-include>

<new-message></new-message>

<div class="pick-notification">
    <img src='assets/img/Pick_a_tool.png'></img>
</div>

<!-- <div class="info-layout">
    <p class="lay-info" data-elem=".leaflet-control .show-info">Show / Hide Info</p>
    <p class="lay-radius" data-elem=".leaflet-control .radius-selection">Search By Radius</p>
    <p class="lay-lasso" data-elem=".leaflet-control .lasso-selection">Draw Area</p>
    <p class="lay-path" data-elem=".leaflet-control .path-selection">Search By Road Trip</p>
    <p class="lay-location" data-elem=".leaflet-control .focus-geolocation">Show Your Location</p>
    <p class="lay-category" data-elem=".todo-sidebar">Select Spot Category</p>
    <p class="lay-weather" data-elem=".weather-sidebar">Show Weather</p>
</div> -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<script src="/assets/libs/googleapi/googleapi.js"></script>

<script> L_PREFER_CANVAS = true; </script>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
    // Registration was successful
    console.log('ServiceWorker registration successful with scope: ', registration.scope);
  }).catch(function(err) {
    // registration failed :(
    console.log('ServiceWorker registration failed: ', err);
  });
}
</script>
<script>
  //facebook
  window.fbAsyncInit = function () {
    FB.init({
      appId: '742305589231590',
      xfbml: true,
      version: 'v2.4'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->

<script src="/assets/libs/jbox/jbox.min.js"></script>
<script src="/assets/libs/screenfull/screenfull.min.js"></script>
<!-- <script src="/assets/libs/skycons/skycons.js"></script> -->
<script src="/assets/libs/angular-skycons/angular-skycons.min.js"></script>
<script src="/assets/libs/ng-webworker/ng-webworker.min.js"></script>


<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->

<!-- endbuild -->

<noscript id="deferred-styles">
    <!-- build:css({.tmp/serve,src}) assets/css/app.css -->

    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->

    <!-- endbuild -->
</noscript>
<script>
    window.onload = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
        var pl = document.querySelector("#preloader");
        pl.parentNode.removeChild(pl);
        body.classList.remove("content-hidden");
    }
</script>

<!-- <script async type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAytote4odQOn_IpNkj207MXG2bF1uM2Zs"></script> -->

</body>
</html>
