<div class="wrap-from-share">
  <a ng-click="isOpen = !isOpen" ng-class="{share: share.onlyIcon, 'share-btn': !share.onlyIcon}" title="Share">
    <span ng-if="!share.onlyIcon">Share</span>
  </a>

  <div class="share-wrap" ng-show="isOpen">
    <ul class="share-buttons clearfix">
      <li>
        <a ng-click="share.facebook()" class="facebook">facebook</a>
      </li>
      <li>
        <a ng-click="share.google()" class="google">google</a>
      </li>
      <li>
        <a ng-click="share.twitter()" class="twitter">twitter</a>
      </li>
    </ul>
  </div>
</div>
