<div class="wrap-from-share">
  <a ng-click="isOpen = !isOpen" class="share" title="Share"></a>

  <div class="share-wrap" ng-show="isOpen">
    <ul class="share-buttons clearfix" ng-if="share.text && share.url">
      <li>
        <a
          socialshare
          socialshare-provider="facebook"
          socialshare-url="{{share.url}}"
          socialshare-text="{{share.text}}"

          class="facebook">facebook</a>
      </li>
      <li>
        <a
          socialshare
          socialshare-provider="google+"
          socialshare-text="{{share.text}}"
          socialshare-description="Yes it's super awesome, seriously!"
          socialshare-url="{{share.url}}"
          class="google">google</a>
      </li>
      <li>
        <a
          socialshare
          socialshare-provider="twitter"
          socialshare-text="{{share.text}}"
          socialshare-url="{{share.url}}"
          class="twitter">twitter</a>
      </li>
    </ul>
  </div>
</div>
