<div class='dialog-invite-find-friends-fb'>
	<div class="modal-body no-pad-bottom">
		<div class="text-center">
			<span class="icon fb"></span><span class="icon zoom"></span>
		</div>
		<div class="actions">
			<div class="row">
				<div class="col-xs-12">
					<br>
					&nbsp;<button class="btn btn-primary btn-md pull-left" ng-click="fbInviteFindCtrl.findFacebookFriends()"><i class="ion-search"></i> Find<span class="hidden-xs"> Facebook Friends</span></button>
					<button class="btn btn-primary btn-md pull-right" ng-click="fbInviteFindCtrl.inviteFacebookFriends()"><i class="ion-plus-round"></i> Invite <span class="hidden-xs">Facebook Friends</span></button>
					<div class='clearfix'></div>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
