<div class="main-container">
  <div class="container wrap mgt25">
    <div class="main-blog-article-content">


      <!-- block with article -->
      <div class="blog-content col-lg-7 col-sm-12 col-md-12 col-lg-push-1 col-xs-12">

        <div class="article">
          <div class="article-wrapper">
            <div class="image-wrapper clearfix">
              <img ng-if="Article.cover_url" ng-src="{{Article.cover_url.original}}" class="article-img">
              <span class="date-sm hidden-xs">{{ Article.created_at | toTimezone:'DD' }}<br>{{ Article.created_at | toTimezone:'MMM' }}</span>
            </div>
            <div class="row">
              <h2 class="title-blog row">
              <span class="col-xs-9 col-md-12">
                {{Article.title}}
              </span>

                <span class="col-xs-3 col-md-0 visible-xs date-xs pull-right">11<br>May</span>

                <div class="clearfix"></div>
              </h2>
            </div>
            <div class="location-link col-xs-12">
              <a ui-sref="index.post({slug: Article.slug})">{{Article.address}}</a>
            </div>


            <p class="article-description" ng-bind-html="Article.body | toTrustedHtml"></p>

            <div class="row">
              <div class="article-info col-xs-12">
                <!-- <p class="date col-xs-12 col-sm-2">{{Article.created_at | toTimezone:'MM.DD.YYYY'}}</p> -->

                <p class="col-xs-12 col-sm-4 author">Author:
                  <a ui-sref="profile.main({user_id: Article.user.alias || Article.user.id})">
                    {{Article.user.first_name}} {{Article.user.last_name}}
                  </a>
                </p>

                <p class="col-xs-5  col-sm-4 category">Category:
                  <a>{{Article.category.display_name}}</a>
                </p>

                <p class="col-xs-5 col-sm-3 views">Views: {{Article.count_views}}</p>
              </div>
            </div>
            <share item="Article" type="post" only-icon="true"></share>

          </div>

        </div>
      </div>
      <!-- end block with article -->

      <!--block with comets  -->
      <section class="col-lg-7 col-sm-12 col-md-12 col-lg-push-1 col-xs-12 comments-section">
        <div class="comments-content ng-scope hidden-xs">
          <ng-input message="Article.message" attachments="Article.attachments" on-submit="Article.sendComment()"></ng-input>
        </div>

        <div infinite-scroll="Article.pagination.nextPage()" infinite-scroll-disabled="Article.pagination.busy"
             class="clearfix" infinite-scroll-distance="1">
          <div class="col-xs-12 post" ng-repeat="post in Article.comments.data">
            <div class="col-sm-3 col-xs-4">
              <a ui-sref="profile.main({user_id: post.sender.alias || post.sender.id})">
                <img ng-src="{{post.sender.avatar_url.thumb}}" class="avatar">
              </a>
            </div>
            <div class="col-sm-9 col-xs-8 info">
              <h3 class="name">
                <a ui-sref="profile.main({user_id: post.sender.alias || post.seder.id})">{{post.sender.first_name}}
                  {{post.sender.last_name}}</a>

                <p class="time">{{post.created_at | fromNow}}</p>
              </h3>

              <p>{{post.body}}</p>

              <div class="col-xs-12 edit-delete">
                <!--<a class="like">1</a>-->
                <a ng-if="post.user_id == currentUser.id" ng-click="Article.deleteComment(post, $index)" class="delete">Delete</a>
              </div>

            </div>
          </div>
        </div>

      </section>

      <!--end block with comets  -->
    </div>
  </div>
  <div class="fixed visible-xs">
    <ul class="list-inline">
      <li><a class="add-attach" ng-click="NgInput.openActivityModal()"></a></li>
      <li class="chat-input">
        <textarea name="message" ng-model="NgInput.message" placeholder="Start typing..." ng-focus="NgInput.onFocus()"
                  ctrl-enter="NgInput.submit(form)" ng-maxlength="5000"
                  ng-required="!NgInput.attachments.photos.length &amp;&amp; !NgInput.attachments.spots.length &amp;&amp; !NgInput.attachments.areas.length &amp;&amp; !NgInput.attachments.links.length"
                  class="ng-pristine ng-isolate-scope ng-invalid ng-invalid-required ng-valid-maxlength ng-touched"
                  required="required"></textarea>
      </li>
      <li><input type="submit" class="submit-send" value=""></li>
    </ul>
  </div>
</div>
