<div class="title">
  <h2 class="title-name">
    <a href="#" class="back" title="Back"></a>
    Edit photo</h2>
</div>
<div class="col-xs-12 no-pad">
  <form ng-submit="CreateAlbum.createAlbum(form)" role="form" name="form" class="create" novalidate>
    <div class="col-xs-12 form-group border-bottom indent-padding">
      <div class="col-xs-3 no-pad label-width ">
        <label>Album</label>
      </div>
      <div class="col-xs-9 no-pad input-width">
        <input placeholder="Start typing..." ng-minlength="3" ng-maxlength="128" name="title"
               ng-model="CreateAlbum.album.title" type="text">

        <div class="error-message-inline" ng-messages="form.title.$error"
             ng-if="form.$submitted || form.title.$touched">
          <div ng-messages-include="error-title-messages"></div>
        </div>
      </div>

    </div>


    <div class="col-xs-12 form-group border-bottom indent-padding">
      <div class="col-xs-3 no-pad label-width">
        <label>Address</label>
      </div>
      <div class="col-xs-9 no-pad input-width">
        <location address="CreateAlbum.album.address" location="CreateAlbum.album.location" limit="15"
                  bind-marker="true"></location>
      </div>
    </div>

    <figure class="col-xs-12 border-bottom">
      <img class="edit-album-photo img-responsive" src="/assets/img/fun-img.png">
    </figure>
    <div class="col-xs-12 save-cancel">
      <input type="submit" value="Save" class="save">
    </div>
  </form>
</div>
