<div ng-if="MapSort.vertical" class="sidebar-menu-wrap">
  <div class="sidebar-menu-vertical">
    <ul>
      <li><a ng-click="MapSort.vertical = !MapSort.vertical" class="full-small"></a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'event'}"><a ng-click="MapSort.toggleLayer('events')"
                                                                 class="events"><span>Events</span></a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'recreation'}"><a ng-click="MapSort.toggleLayer('recreations')"
                                                                      class="recreation">Recreation</a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'pitstop'}"><a ng-click="MapSort.toggleLayer('pitstops')"
                                                                   class="pit-stops">Pit Stops</a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'weather'}"><a ng-click="MapSort.toggleWeather()"
                                                                   class="weather-link">Weather</a></li>
    </ul>
  </div>
</div>

<div ng-if="!MapSort.vertical" class="col-xs-3 no-pad sort-menu">
  <div class="sidebar-menu-horizontal">
    <ul>
      <li ng-class="{'active': MapSort.sortLayer == 'event'}"><a ng-click="MapSort.toggleLayer('events')"
                                                                 class="events">Events</a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'recreation'}"><a ng-click="MapSort.toggleLayer('recreations')"
                                                                      class="recreation">Recreation</a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'pitstop'}"><a ng-click="MapSort.toggleLayer('pitstops')"
                                                                   class="pit-stops">Pit Stops</a></li>
      <li ng-class="{'active': MapSort.sortLayer == 'weather'}"><a ng-click="MapSort.toggleLayer('other')"
                                                                   class="weather-link">Weather</a></li>
    </ul>
  </div>

  <div class="search-filters">
    <div ng-show="MapSort.sortLayer == 'event'">
      <div ng-show="MapSort.displayEventsArray.length > 0" class="numbers-events">
        <a href="" class="hide" title="Close"></a>

        <p>{{MapSort.displayEventsArray.length}} Events found</p>
      </div>

      <div class="sort-date">
        <p ng-click="eventsNameToggle = !eventsNameToggle">Sort by date
            <span class="filters-arrow"
                  ng-class="{'open-arrow': eventsNameToggle}">
            </span>
        </p>

        <div ng-show="eventsNameToggle" class="date-filters">
          <div class="form-group">
            <label>From</label>
            <input ng-datepicker ng-model="MapSort.startDate" class="date" type="zoomdate">
          </div>

          <div class="form-group">
            <label>to</label>
            <input ng-datepicker ng-model="MapSort.endDate" class="date" type="zoomdate">
          </div>
          <input type="button" ng-click="eventsSortByDate()" value="Go" class="filters-button">
        </div>
      </div>

      <div class="categories">
        <p ng-click="eventsCategoryToggle = !eventsCategoryToggle">{{eventsCategoryToggle ? 'Hide': 'Show all'}}
          sub-categories
            <span class="filters-arrow"
                  ng-class="{'open-arrow': eventsCategoryToggle}">
            </span>
        </p>

        <div ng-show="eventsCategoryToggle" class="hide-block-subcategory form-group">
          <div ng-click="toggleEventCategories();">
            <input ng-click="toggleEventCategories();" type="checkbox" ng-model="MapSort.eventsSelectAll">
            <label>Select all sub-categories</label>
          </div>
          <ul>
            <li ng-repeat="item in eventCategories track by item.id"
                ng-click="checkItem(item, eventCategories, 'event'); sortEventsByCategories();">
              <a ng-class="{'active': item.selected}">{{item.display_name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="results">
        <div class="search-by-name">
          <input type="text" ng-model="eventsSearch.spot.title" placeholder="Search by name" class="search-input">
          <input type="submit" value="Search" class="filters-button">
        </div>

        <div ng-repeat="item in MapSort.displayEventsArray | filter: eventsSearch">
          <div class="event-result clearfix">
            <div class="col-xs-2 padding-0">
              <div class="event-result-logo">
                <img src="assets/img/icons/bed.png">
              </div>
            </div>
            <div class="col-xs-10 padding-0">
              <stars item="item"></stars>
              <div class=" col-xs-8 date">
                <date-range item="item.spot"></date-range>
              </div>
              <div class="col-xs-12 padding-0">
                <h2 class="name" ng-bind-html="item.spot.title"></h2>

                <p class="location">{{item.address}}</p>

                <p class="description" ng-bind-html="item.spot.description"></p>
                <!--<div class="event-result-nav col-xs-12 padding-0">-->

                <!--<a class="save padding-0" >Save</a>-->

                <!--<a class="favorites padding-0" >Favorite</a>-->

                <!--<a class="invite padding-0" >Invite friends</a>-->

                <!--<a class="big-plus padding-0" ></a>-->
                <!--</div>-->
                <ul class="tools">
                  <li>
                    <a class="save-event">Save</a>
                  </li>
                  <li>
                    <a class="favorite-spot">Favorite</a>
                  </li>
                  <li style="display: none">
                    <a class="fav favorited">Unfavorite</a>
                  </li>
                  <li>
                    <invite-friends item="Spot.spot"></invite-friends>
                  </li>
                  <li class="sharing-wrap">
                    <a class="sharing"></a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="MapSort.sortLayer == 'recreation'">
      <div ng-show="MapSort.displayRrecreationsArray.length > 0" class="numbers-events">
        <a href="" class="hide" title="Close"></a>

        <p>{{MapSort.displayRrecreationsArray.length}} Recreations found</p>
      </div>


      <div class="categories">
        <p ng-click="recreationsCategoryToggle = !recreationsCategoryToggle">{{recreationsCategoryToggle ? 'Hide': 'Show
          all'}} sub-categories
            <span class="filters-arrow"
                  ng-class="{'open-arrow': recreationsCategoryToggle}">
            </span>
        </p>

        <div ng-show="recreationsCategoryToggle" class="hide-block-subcategory form-group">
          <div ng-click="toggleRecreationCategories();">
            <input ng-click="toggleRecreationCategories();" type="checkbox" ng-model="MapSort.recreationSelectAll">
            <label>Select all sub-categories</label>
          </div>
          <ul>
            <li ng-repeat="item in recreationCategories track by item.id"
                ng-click="checkItem(item, recreationCategories, 'recreation'); sortRecreationsByCategories();">
              <a ng-class="{'active': item.selected}">{{item.display_name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="results">
        <div class="search-by-name">
          <input type="text" ng-model="recreationsSearch.spot.title" placeholder="Search by name" class="search-input">
          <input type="submit" value="Search" class="filters-button">
        </div>

        <div ng-repeat="item in MapSort.displayRrecreationsArray | filter: recreationsSearch">
          <div class="event-result clearfix">
            <div class="col-xs-2 padding-0">
              <div class="event-result-logo">
                <img src="assets/img/icons/bed.png">
              </div>
            </div>
            <div class="col-xs-10 padding-0">
              <stars item="item"></stars>
              <div class=" col-xs-8 date">
                <date-range item="item.spot"></date-range>
              </div>
              <div class="col-xs-12 padding-0">
                <h2 class="name" ng-bind-html="item.spot.title"></h2>

                <p class="location">{{item.address}}</p>

                <p class="description" ng-bind-html="item.spot.description"></p>

                <div class="event-result-nav col-xs-12 padding-0">

                  <a class="favorites padding-0">Favorite</a>

                  <a class="invite padding-0">Invite friends</a>

                  <a class="big-plus padding-0"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="MapSort.sortLayer == 'pitstop'">
      <div ng-show="MapSort.displayPitstopsArray.length > 0" class="numbers-events">
        <a href="" class="hide" title="Close"></a>

        <p>{{MapSort.displayPitstopsArray.length}} Pit Stops found</p>
      </div>


      <div class="categories">
        <p ng-click="pitstopsCategoryToggle = !pitstopsCategoryToggle">{{pitstopsCategoryToggle ? 'Hide': 'Show all'}}
          sub-categories
            <span class="filters-arrow"
                  ng-class="{'open-arrow' : pitstopsCategoryToggle}">
            </span>
        </p>

        <div ng-show="pitstopsCategoryToggle" class="hide-block-subcategory form-group">
          <div ng-click="togglePitstopCategories();">
            <input ng-click="togglePitstopCategories();" type="checkbox" ng-model="MapSort.pitstopSelectAll">
            <label>Select all sub-categories</label>
          </div>
          <ul>
            <li ng-repeat="item in pitstopCategories track by item.id"
                ng-click="checkItem(item, pitstopCategories, 'pitstop'); sortPitstopsByCategories();">
              <a ng-class="{'active': item.selected}">{{item.display_name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="results">
        <div class="search-by-name">
          <input type="text" ng-model="pitstopsSearch.spot.title" placeholder="Search by name" class="search-input">
          <input type="submit" value="Search" class="filters-button">
        </div>

        <div ng-repeat="item in MapSort.displayPitstopsArray | filter: pitstopsSearch">
          <div class="event-result clearfix">
            <div class="col-xs-2 padding-0">
              <div class="event-result-logo">
                <img src="assets/img/icons/bed.png">
              </div>
            </div>
            <div class="col-xs-10 padding-0">
              <stars item="item"></stars>
              <div class=" col-xs-8 date">
                <date-range item="item.spot"></date-range>
              </div>
              <div class="col-xs-12 padding-0">
                <h2 class="name" ng-bind-html="item.spot.title"></h2>

                <p class="location">{{item.address}}</p>

                <p class="description" ng-bind-html="item.spot.description"></p>

                <div class="event-result-nav col-xs-12 padding-0">

                  <a class="favorites padding-0">Favorite</a>

                  <a class="invite padding-0">Invite friends</a>

                  <a class="big-plus padding-0"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="MapSort.sortLayer == 'weather'">
      <div ng-show="currentWeather" class="weather-wrap">
        <div class="firstBlock-wrapper">
          <p class="weatherName">{{currentWeather.summary}}</p>

          <div class="weatherImg-block">

            <p class="weatherData">{{currentWeather.formattedDate}}</p>

            <div class="weatherImg-wrapper">
              <div class="weatherImg" ng-class="currentWeather.icon"></div>
            </div>
            <div class="temperature-block">
              <span class="temperature">{{currentWeather.temperature}}</span>
              <span class="unit">°F</span>

              <p class="unit2"><span>H</span>{{currentWeather.temperatureMax}}° </p>

              <p class="unit2"><span>L</span>{{currentWeather.temperatureMin}}°</p>
            </div>
          </div>
          <div class="parameters">
            <div>
              <p class="mainParameters">{{currentWeather.sunrise}}</p>

              <p class="description">sunrise</p>
            </div>
            <div>
              <p class="mainParameters">{{currentWeather.sunset}}</p>

              <p class="description">sunset</p>
            </div>
            <div>
              <p class="mainParameters">{{currentWeather.windSpeed}} <span>km/h</span></p>

              <p class="description">wind</p>
            </div>
            <div>
              <p class="mainParameters">{{currentWeather.humidity * 100}} <span>%</span></p>

              <p class="description">humidity</p>
            </div>
          </div>
        </div>
        <div class="wrapperHr">
          <hr/>
        </div>
        <div class="weekForecast">
          <div ng-repeat="item in weatherForecast track by $index">
            <div class="weekForecast-wrapper">
              <span class="data">{{item.formattedDate}}</span>

              <div class="weatherIcon" title="{{item.summary}}">
                <div ng-class="item.icon"></div>
              </div>
              <span class="temperatureWeek">{{item.temperatureMax}}°F /{{item.temperatureMin}}°F </span>
            </div>
            <div class="wrapperHr">
              <hr/>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="!currentWeather" class="col-xs-12 weather-info">
        <p>Click on map to check weather in this area</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 no-pad">
    <a class="close-popup" ng-click="MapSort.toggleMenu() ">Hide results</a>
  </div>

</div>

