<user-hints></user-hints>

<div class="new-sidebar-menu" ng-show="$root.isMapState()">
    <div class="sidebar-menu-vertical" ng-class="$root.isMapState() ? 'sidebar-menu-vertical-bottom' : ''">
        <ul>
            <li ng-click="$root.toggleLayer('event')" ng-class="{'active': $root.sortLayer == 'event'}" class="event-sidebar">
                <img src="../../../assets/img/svg/Icon_Events.svg" alt="img">
                <p>Events</p>
            </li>
            <li ng-click="$root.toggleLayer('todo')" ng-class="{'active': $root.sortLayer == 'todo'}" class="todo-sidebar">
                <img src="../../../assets/img/svg/Icon_To_do.svg" alt="img">
                <p>To-Do</p>
            </li>
            <li ng-click="$root.toggleLayer('food')" ng-class="{'active': $root.sortLayer == 'food'}" class="food-sidebar">
                <img src="../../../assets/img/svg/Icon_Grab_Grub.svg" alt="img">
                <p>Food</p>
            </li>
            <li ng-click="$root.toggleLayer('shelter')" ng-class="{'active': $root.sortLayer == 'shelter'}" class="shelter-sidebar">
                <img src="../../../assets/img/svg/Icon_Get_a_room.svg" alt="img">
                <p>Shelter</p>
            </li>
            <li ng-click="$root.toggleLayer('weather')" ng-class="{'active': $root.sortLayer == 'weather'}" class="weather-sidebar">
                <img src="../../../assets/img/svg/Icon_Weather.svg" alt="img">
                <p>Weather</p>
            </li>
        </ul>
    </div>
</div>

<!--New filter-->
<div class="new-filter" ng-show="$root.isFilterOpened && $root.isMapState()">
    <!-- <form action=""> -->
    <div class="filter-header">
        <p>Filters</p>
        <span ng-click="$root.isFilterOpened = false">
            <img src="../../../assets/img/svg/cancel.svg" alt="">
        </span>
    </div>
    <div class="form-group">
        <label for="filterRating">Minimum Rating<span hidden>clear</span></label>
        <select class="form-control" id="filterRating" ng-model="$root.filterOptions.minRating">
            <option selected value="0">Any</option>
            <option value="1">★</option>
            <option value="2">★★</option>
            <option value="3">★★★</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filterCategory">Category<span hidden>clear</span></label>
        <!-- <div class="form-control" id="filterCategory" ng-dropdown-multiselect="" options="$root.categoryData" selected-model="$root.filterOptions.categories"></div> -->
        <select class="form-control" id="filterCategory" ng-model="$root.filterOptions.category">
            <option selected value="">Any</option>
            <option ng-repeat="item in $root.mapSortSpots.data | unique" value="{{item}}">{{item}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filterTags">By tags & Keywords<span hidden>clear</span></label>
        <tags-input id="filterTags" ng-model="$root.filterOptions.tags"></tags-input>
    </div>
    <div class="form-group">
        <label>By dates<span hidden>clear</span></label>
        <div class="date-filters clearfix" ng-class="{'move-top': $root.isDrawArea, applied: ($root.mapSortFilters.filter.start_date || $root.mapSortFilters.filter.end_date)}">
            <input ng-datepicker ng-model="$root.filterOptions.dateFrom" class="date" placeholder="FROM" type="text">
            <div></div>
            <input ng-datepicker ng-model="$root.filterOptions.dateTo" start-date="MapSort.searchParams.start_date" class="date" placeholder="TO" type="text">
        </div>
    </div>
    <div class="form-group" hidden>
        <label>Hotel features<span hidden>clear</span></label>
        <input type="text" placeholder="FEATURES">
    </div>
    <button class="filter-apply" ng-click="MapSort.clearFilter()">CLEAR FILTER</button>
    <!-- </form> -->
</div>

<div class="sort-menu" ng-show="$root.isSidebarOpened && ($root.mapSortSpots.sourceSpots.length || MapSort.currentWeather)">
    <p ng-if="!$root.mapSortSpots.data.length" class="message-loading">Loading...</p>
    <p ng-if="$root.mapSortSpots.data.length && !$root.visibleSpotsIds.length" class="message-loading">Can't find any spots in this area...</p>

    <div class="search-filters"
         ng-show="$root.sortLayer != 'weather' && $root.visibleSpotsIds.length"
         ng-class="{'applied-filter': !MapSort.isShowFilter && !MapSort.isEmptyFilters()}">
        <div class="new-result" ng-if="windowWidth < 768">
            <ul rn-carousel rn-carousel-index="$root.spotsCarousel.index">
                <li ng-repeat="item in $root.mapSortSpots.data | getById | spotsFilter">
                    <div class="new-result-card" spotcard item="item"></div>
                </li>
            </ul>
        </div>
        <div class="new-result-container"
             ng-if="windowWidth >= 768"
             infinite-scroll="MapSort.loadNextSpotss()"
             infinite-scroll-distance="0"
             infinite-scroll-disabled="!$root.mapSortSpots.data.length"
             infinite-scroll-container='".search-filters"'>
            <div class="new-result-card" spotcard ng-repeat="item in $root.mapSortSpots.data | getById | limitTo:$root.searchLimit track by item.id" item="item" ng-mouseenter="MapSort.highlightSpotByHover(item)" ng-mouseleave="MapSort.clearSpotHighlighting(item)" ng-class="{ 'active' : item.id == $root.highlightedSpotId }"></div>
        </div>
    </div>

    <div class="footer-search" ng-class="{'active-weather': $root.sortLayer == 'weather'}" ng-show="$root.sortLayer == 'weather'">

        <div ng-show="$root.sortLayer == 'weather'">
            <div ng-show="MapSort.currentWeather" class="weather-wrap">
                <div class="firstBlock-wrapper col-xs-12">
                    <p class="right-now">Currently in {{ MapSort.currentWeatherLocation.placeName }}</p>

                    <p class="weatherName">{{MapSort.currentWeather.summary}}</p>

                    <div class="weatherImg-block">
                        <div class="temperature-block">
                            <span class="temperature-text">Clear Feels like {{MapSort.currentWeather.temperatureMin| number:0}}</span><span class="unit">°F</span>
                        </div>
                        <div class="weatherImg-wrapper">
                            <div class="weatherImg" ng-class="MapSort.currentWeather.icon"></div>
                            <span class="temperature-img">{{MapSort.currentWeather.temperature}}°F</span>
                        </div>
                        <div class="row weather-parameters">
                            <div class="col-md-3 col-xs-3 text-center">
                                <p class="mainParameters">{{MapSort.currentWeather.sunrise}}</p>

                                <p class="description">sunrise</p>
                            </div>
                            <div class="col-md-3 col-xs-3 text-center">
                                <p class="mainParameters">{{MapSort.currentWeather.sunset}}</p>

                                <p class="description">sunset</p>
                            </div>
                            <div class="col-md-3 col-xs-3 text-center">
                                <p class="mainParameters">{{MapSort.currentWeather.windSpeed | number:0}} <span>km/h</span></p>

                                <p class="description">wind</p>
                            </div>
                            <div class="col-md-3 col-xs-3 text-center">
                                <p class="mainParameters">{{(MapSort.currentWeather.humidity * 100) | number:0 }} <span>%</span></p>

                                <p class="description">humidity</p>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="wrapperHr">
                    <hr/>
                </div>
                <div class="weekForecast col-xs-12">
                    <div class="col-xs-12 no-pad weekForecast-inner">
                        <div class="weekForecast-wrapper">
                            <span class="data">Today</span>

                            <div class="weatherIcon">
                                <div ng-class="MapSort.currentWeather.icon"></div>
                            </div>
                            <div class="weather-summary col-xs-12">{{MapSort.currentWeather.summary}}</div>
                        </div>
                        <div class="wrapperHr">
                            <hr/>
                        </div>
                    </div>
                    <div ng-repeat="item in MapSort.weatherForecast track by $index" class="col-xs-12 no-pad weekForecast-inner">
                        <div class="weekForecast-wrapper">
                            <span class="data">{{item.formattedDate}}</span>

                            <div class="weatherIcon">
                                <div ng-class="item.icon"></div>
                            </div>
                            <div class="weather-summary col-xs-12">{{item.summary}}</div>
                            <span class="temperatureWeek">{{item.temperatureMax| number:0}}°F <br>{{item.temperatureMin| number:0}}°F </span>
                        </div>
                        <div class="wrapperHr">
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!MapSort.currentWeather" class="col-xs-12 weather-info">
                <p>Click on map to check weather in this area</p>
            </div>
        </div>
    </div>
</div>


<!--Filter-->
<!-- <div class="filter-definition" ng-class="{'open-filter': MapSort.isShowFilter}" ng-show="false">

    <div class="destination-filter clearfix" ng-show="MapSort.isShowFilter && !$root.isDrawArea">
        <location address="MapSort.searchParams.address" location="MapSort.searchParams.location" input-placeholder="Add first destination" id="new_location" bind-marker="false" limit="15"></location>
        <span class="icon-navpoint"></span>
        <a ng-click="MapSort.addLocation()" class="clearfix"><span class="icon-plus"></span></a>
    </div>
    <div class="destination-filter clearfix" ng-show="MapSort.isShowFilter && !$root.isDrawArea" ng-repeat="item in MapSort.searchParams.locations">
        <location address="item.address" location="item.location" input-placeholder="Add next destination" bind-marker="false" limit="15"></location>
        <span class="icon-navpoint"></span>
        <a ng-click="MapSort.removeLocation($index)" class="clearfix"><span class="icon-minus"></span></a>
    </div>

    <div class="date-filters clearfix" ng-show="(MapSort.isShowFilter || $root.mapSortFilters.filter.start_date || $root.mapSortFilters.filter.end_date) && $root.sortLayer == 'event'" ng-class="{'move-top': $root.isDrawArea, applied: ($root.mapSortFilters.filter.start_date || $root.mapSortFilters.filter.end_date)}">
        <div class="form-group">
            <span class="icon-calendar"></span>
            <input ng-datepicker ng-model="MapSort.searchParams.start_date" class="date" placeholder="FROM DATE" type="text" ng-disabled="!MapSort.isShowFilter">
        </div>
        <div class="form-group">
            <span class="icon-calendar"></span>
            <input ng-datepicker ng-model="MapSort.searchParams.end_date" start-date="MapSort.searchParams.start_date" class="date" placeholder="TO DATE" type="text" ng-disabled="!MapSort.isShowFilter">
        </div>
        <a ng-click="MapSort.removeFilter('date')" ng-show="$root.mapSortFilters.filter.start_date || $root.mapSortFilters.filter.end_date" class="clearfix">
            <span class="icon-minus"></span>
        </a>
    </div>

    <div class="keyword-filters clearfix" ng-show="MapSort.isShowFilter || ($root.mapSortFilters.filter.tags.length && MapSort.searchParams.tags.length)" ng-class="{applied: !MapSort.isShowFilter}">
        <div class="mt0">
            <tags-input class="tags-input-custom" ng-model="MapSort.searchParams.tags" on-tag-adding="MapSort.onTagsAdd()" max-length="64" placeholder="Filter by keyword" on-invalid-tag="MapSort.invalidTag($tag)"></tags-input>
        </div>
        <span class="icon-key" ng-show="MapSort.searchParams.tags.length == 0"></span>
        <a ng-click="MapSort.removeFilter('tags')" ng-show="!MapSort.isShowFilter && $root.mapSortFilters.filter.tags.length && MapSort.searchParams.tags.length" class="tags-minus clearfix">
            <span class="icon-minus"></span>
        </a>
    </div>

    <div class="rating-filters clearfix" ng-show="MapSort.isShowFilter || $root.mapSortFilters.filter.rating" ng-class="{applied: $root.mapSortFilters.filter.rating}">
        <ui-select ng-model="MapSort.searchParams.rating" ng-disabled="!MapSort.isShowFilter" search-enabled="false" theme="bootstrap">
            <ui-select-match class="star-rated" placeholder="star rating">
                Rated Higher than {{ $select.selected }} Stars
            </ui-select-match>
            <ui-select-choices repeat="item in [4,3,2]">
                <div ng-bind-html="'Rated Higher than ' + item + ' Stars'"></div>
            </ui-select-choices>
        </ui-select>
        <span class="icon-star"></span>
        <a ng-click="MapSort.removeFilter('rating')" ng-show="$root.mapSortFilters.filter.rating" class="clearfix">
            <span class="icon-minus"></span>
        </a>
    </div>

    <div class="category-filter clearfix relative" ng-show="MapSort.isShowFilter">
        <div class=" clearfix">
            <button type="button" class="category-dropdown" ng-click="MapSort.categoryToggle = !MapSort.categoryToggle">
                <span> Filter by categories</span>

                <span class="icon-category"></span>
                <span class="filters-arrow" ng-click="MapSort.categoryToggle = !MapSort.categoryToggle"
                    ng-class="{'open-arrow': MapSort.categoryToggle}"></span>
            </button>

            <div class="categories">
                <div ng-show="MapSort.categoryToggle" class="hide-block-subcategory form-group">
                    <ul class="list-unstyled">
                        <li ng-click="MapSort.selectAllCategories()">
                            <a>Select all sub-categories</a>
                            <span class="icon-selected"></span>
                        </li>
                        <li ng-repeat="item in MapSort.spotCategories[$root.sortLayer]" ng-click="item.selected = !item.selected">
                            <a ng-class="{'active': item.selected}">{{item.display_name}}</a>
                            <span class="icon-selected"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="MapSort.isShowFilter" class="btn-apply" ng-click="MapSort.search()">APPLY FILTER</div>

    <div class="destination-filter applied" ng-show="!MapSort.isShowFilter" ng-repeat="item in MapSort.spotCategories[$root.sortLayer] | filter:{selected: true}">
        <input type="text" role="search" ng-model="item.display_name" disabled/>
        <a ng-click="MapSort.removeFilterCategory(item)" class="clearfix"><span class="icon-minus"></span></a>
    </div>

</div> -->
