/*activity profile*/

.module-sidebar {
  .sidebar-title {
    font: $navigation_font;
    font-size: 20px;
    margin-top: 0;
  }
  .avatar {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 3px;
    img {
      //max-width: 100%;
      min-width: 100%;
      min-height: 70px;
    }
  }
  .sidebar-user-name {
    max-height: 3.3rem;
    padding-left: 7px;
    padding-right: 7px;
    color: $blue;
    text-align: center;
    text-overflow: ellipsis;
    -e-text-overflow: ellipsis;
    font: 500 13px/16px 'Questrial';
    &:hover, &:focus, &:active {
      color: $navy_blue;
    }
  }
  .counter {
    margin: -4px 0 0 -3px;
  }
  a {
    text-overflow: ellipsis;
    -e-text-overflow: ellipsis;
    &:hover, &:focus, &:active {
      color: $navy_blue;
    }
  }
}

@media (max-width: 1200px) {
  .module-sidebar {
    .avatar {
      width: 60px;
      height: 60px;
    }
  }
}

/*end activity profile*/
