.admin-user-page {
    background: #fff;
    border: 1px solid #e9edf0;
    border-radius: 10px;
    .padding-0 {
        padding: 0;
    }
    form {
        margin: 15px 0 20px 0;
        position: relative;
        input[type='text'] {}
        input[type='submit'] {
            position: absolute;
            top: 1px;
            right: 0;
            display: block;
            width: 30px;
            height: 30px;
            background: url(/assets/img/icons/search_icon.png) 0 -5px no-repeat;
            text-indent: -10000px;
            overflow: hidden;
            border: none;
            margin-right: 10px;
            box-shadow: none;
            &:hover {
                background: url(/assets/img/icons/search_icon.png) 0 -46px no-repeat;
            }
        }
    }
    hr{margin:0 -15px;}
    .user-data {
        margin: 20px 0;
        img {
            width: 60px;
            height: 60px;
            border-radius: 40px;
        }
        h3 {
            margin: 0;
        }
        p {
            margin: 0;
            span {
                font: 500 16px/18px 'Questrial';
            }
            a {
                color: #00b7f3;
                @include transition_color;
                &:hover {
                    color: #0874be;
                    @include transition_color;
                }
            }
        }
        .button-my {
            font: 500 16px/18px 'Questrial';
            padding: 3px 15px;
            line-height: 110%;
        }
    }
    table {
        border: 1px solid #e9edf0;
        border-collapse: collapse;
        tr {
            height: 40px;
        }
        thead {
            font: 500 16px/16px 'Questrial';
            th {
                border: 1px solid #e9edf0;
            }
        }
        tbody {
            font: 14px/14px 'Pontano';
            tr:nth-child(even) {
                background: #e9edf0;
                td {
                    border-color: #fff;
                }
                &:last-child {
                    border-right-color: #e9edf0;

                }
            }
            td {
                border-right: 1px solid #e9edf0;
                padding-left: 15px;
                p {
                    margin: 0;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                    }
                }
                a {
                    color: #00b7f3;
                    @include transition_color;
                    &:hover {
                        color: #0874be;
                        @include transition_color;
                    }
                }
                .delete {
                    padding-right: 40px;
                    background: url(/assets/img/icons/trash.png) no-repeat -5px -12px;
                    &:hover {
                        background: url(/assets/img/icons/trash.png) no-repeat -5px -53px;
                    }
                }
                .edit-spot{ padding-right: 40px;
                    background: url(/assets/img/icons/edit.png) no-repeat 8px 0px;
                    &:hover {
                        background: url(/assets/img/icons/edit.png) no-repeat 8px -24px;
                    }}
            }
        }
    }
}
