/*      contact us      */
.contact-info {
  margin-top: 3rem;
  .contact-text {
    margin-bottom: 20px;
    padding-left: 25px;
  }
  .contact-location {
    background: url(/assets/img/icons/contact.png) -9px -6px no-repeat;
  }
  .contact-phone {
    background: url(/assets/img/icons/contact.png) -9px -57px no-repeat;
  }
  .contact-email {
    background: url(/assets/img/icons/contact.png) -9px -30px no-repeat;
  }
}

.keep-touch {
  background: $white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid $light_grey;
  position: relative;
  .form-group {
    .control-label {
      text-align: left;
    }
    .send-btn {
      background: $green;
      border: 0;
      color: $white;
      width: 20%;
      float: right;
    }
  }
}