/*      contact us      */
.contact-info {
  margin-top: 3rem;
  .contact-title {
    margin-bottom: 3rem;
    font: 500 32px 'Questrial';
  }
  .contact-email {
    a {
      color: $blue;
      &:hover, &:active, &:focus {
        color: $navy_blue;
        @include transition_color;
      }
    }
  }
  .contact-text {
    margin-bottom: 20px;
    padding-left: 25px;
    font: 400 16px 'Pontano';
  }
  .contact-location {
    background: url(../img/icons/contact-location.png) 0 0 no-repeat;
  }
  .contact-phone {
    background: url(../img/icons/contact-phone.png) 0 0 no-repeat;
  }
  .contact-email {
    background: url(../img/icons/contact-mail.png) 0 0 no-repeat;
  }
}

.keep-touch {
  background: $white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid $light_grey;
  position: relative;
  .keep-touch-title {
    padding: 0 0 20px 15px;
    border-bottom: 1px solid $light_grey;
    font: 500 24px 'Questrial';

  }
  .form-group {

    .control-label {
      text-align: left;
      font: 400 16px 'Pontano';
    }
    .send-btn {
      background: $green;
      border: 0;
      color: $white;
      width: 20%;
      float: right;
    }
  }

}
:-ms-input-placeholder  {
  color: #999;
}
