//---<create new event--->
.event-main-info {
  border-bottom: none;
  label {
    padding-top: 1.3rem;
    font-weight: bold;
  }
  .green-btn {
    height: 4rem;
    text-transform: uppercase;
  }
  location input {
    background: url(../img/icons/compass.png) no-repeat 99% center;
  }
}
.event-additionl-info {
  location input {
  }
}
.dropdown-toggle {
  @include transition_shadow;
  color: $grey;
  &:hover, &:focus, &:active {
    @include blue_shadow;
    border-color: $blue;
    background: $white !important;
  }
}

.dropdown-menu {
  li {
    &:hover, &:focus, &:active {
      color: $grey;
      cursor: pointer;
    }
  }
}

.buttons-set-new-event {
  width: 100%;
  display: block;

  .active-point {
    background: $blue_btn;
    color: $white;
    &:hover, &:focus, &:active {
      background-color: $blue_btn !important;
      box-shadow: none;
      outline: none;
      color: $white;
    }
  }
}


.no-chose-file {
  margin-left: 20px;
  color: $grey;
  font-weight: 500;
}

//---</create new event--->