//---<create new event--->
.event-main-info {
  border-bottom: none;
}
.dropdown-toggle {
  @include transition_shadow;
  color: $grey;
  &:hover, &:focus, &:active {
    @include blue_shadow;
    border-color: $blue;
    background: $white !important;
  }
}

.dropdown-menu {
  li {
    &:hover, &:focus, &:active {
      color: $grey;
      cursor: pointer;
    }
  }
}

.buttons-set-new-event {
  width: 100%;
  display: block;

  .active-point {
    background: $green;
    color: $white;
    &:hover, &:focus, &:active {
      background-color: $light_green !important;
      box-shadow: none;
      outline: none;
      color: $white;
    }
  }
}


.no-chose-file {
  margin-left: 20px;
  color: $grey;
  font-weight: 500;
}

//---</create new event--->