header {
  background: $dark_blue;
  height: 70px;
  padding: 0 0 0 20px;
  z-index: 50;

  .logo {
    height: 55px;
    width: 210px;
    float: left;
    @include vertical_align;
    a {
      outline: none;
    }
  }
  nav {
    float: right;
    height: 70px;

    ul {
      float: left;
      margin: 0;
      height: 100%;
      padding: 0;
      li {
        display: block;
        font: $navigation_font;
        float: left;
        a {
          display: block;
          padding: 0 15px;
          outline: none !important;
          span {
            display: inline-block;
            &:nth-child(2) {
              float: right;
              margin-left: 10px;
            }
          }
          .map-icon {
            background: url(../img/header/header_search.png) center center no-repeat;
            width: 38px;
            height: 38px;
          }
          .admin-icon {
            background: url(../img/header/admin-icon.png) center center no-repeat;
            width: 38px;
            height: 38px;
          }
        }
        .user-name {
          max-width: 220px;
          span {
            &:first-of-type {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 70%;
            }
          }
        }
      }
    }
    .map-profile {
      height: 100%;
      a {
        height: 100%;
        display: inline-block;
        padding: 0 15px;
        max-width: 220px;
        span {
          @include vertical_align;

          &.user-ava {
            padding-right: 20px;
            padding-left: 10px;
            margin-left: 0;
          }

          img {
            width: 38px;
            height: 38px;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 0 15px 3px #0c2638;
          }
        }
      }
      .active {
        color: $blue;
        .map-icon {
          background: url(../img/header/header_search.png) center center no-repeat;
        }
        .admin-icon {
          background: url(../img/header/admin-icon.png) center center no-repeat;
        }
      }
      &:hover {
        .map-icon {
          background: url(../img/header/header_search.png) center center no-repeat;
        }
        .admin-icon {
          background: url(../img/header/admin-icon.png) center center no-repeat;
        }
      }
    }
    .authorisation {
      height: 100%;
      a {
        color: #8fa9bc;
        @include vertical_align;
        display: inline-block;

      }
    }
    .sep {
      @include vertical_align;
    }
  }
  .nav-mobile {
    width: 100%;
    ul {
      width: 100%;
      li {
        width: 33.3%;
      }
      .logo-mini img {
        margin: 1rem;
        height: 5rem;
      }
    }
  }
  .menu-btn {
    display: block;
    float: right;
    .menu-icon {
      background: url(../img/icons/menu.png) no-repeat;
      width: 24px;
      height: 22px;
      display: block;
      float: right;
      margin: 24px 20px;
      background-position: 0 -76px;
    }
    &:hover {
      transition: color .3s;
      .menu-icon {
        background: url(../img/icons/menu.png) 0 -76px no-repeat;
      }
    }
  }

}

