header {
  background: $dark_blue;
  height: 70px;
  padding: 0 0 0 20px;
  z-index: 50;

  .logo {
    height: 55px;
    width: 210px;
    float: left;
    @include vertical_align;
  }
  nav {
    float: right;
    height: 70px;
    ul {
      float: left;
      margin: 0;
      height: 100%;
      padding: 0;
      li {
        display: block;
        font: $navigation_font;
        float: left;
        a {
          display: block;
          padding: 0 15px;
          span {
            display: inline-block;
            &:nth-child(2) {
              float: right;
              margin-left: 10px;
            }
          }
          .map-icon {
            background: url(/assets/img/icons/map-icon.png) 0 0 no-repeat;
            width: 38px;
            height: 38px;
          }
          .admin-icon {
            background: url(/assets/img/icons/admin-icon.png) 0 0 no-repeat;
            width: 38px;
            height: 38px;
          }
        }
        .user-name {
          max-width: 220px;
          span {
            &:first-of-type {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 70%;
            }
          }
        }
      }
    }
    .map-profile {
      height: 100%;
      a {
        height: 100%;
        display: block;
        padding: 0 15px;
        max-width: 220px;
        span {
          @include vertical_align;
        }
        span.avatar-thumb {
          width: 38px;
          height: 38px;
          border: 2px solid #fff;
          border-radius: 50%;
          box-shadow: inset 0 0 15px 3px #0c2638;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      .active {
        color: $blue;
        background: url(/assets/img/icons/navigation-sep.png) repeat-x;
        .map-icon {
          background: url(/assets/img/icons/map-icon.png) 0 -67px no-repeat;
        }
        .admin-icon {
          background: url(/assets/img/icons/admin-icon.png) 0 -67px no-repeat;
        }
      }
      &:hover {
        .map-icon {
          background: url(/assets/img/icons/map-icon.png) 0 -67px no-repeat;
        }
        .admin-icon {
          background: url(/assets/img/icons/admin-icon.png) 0 -67px no-repeat;
        }
      }
    }
    .authorisation {
      height: 100%;
      a {
        @include vertical_align;
        display: inline-block;

      }
    }
    .sep {
      @include vertical_align;
    }
    .separator-bg {
      background: url(/assets/img/icons/navigation-sep.png) no-repeat;
    }
  }
  .menu-btn {
    display: block;
    float: right;
    background: url(/assets/img/icons/navigation-sep.png) no-repeat;
    .menu-icon {
      background: url(/assets/img/icons/menu.png) no-repeat;
      width: 24px;
      height: 22px;
      display: block;
      float: right;
      margin: 24px 20px;
    }
    &:hover {
      transition: color .3s;
      .menu-icon {
        background: url(/assets/img/icons/menu.png) 0 -76px no-repeat;
      }
    }
  }

}

@media (max-width: 991px) {
  header {
    padding: 0 20px 0 0;
    nav {
      float: left;
      .menu-btn {
        float: left;
      }
    }
    .logo {
      width: 160px;
      float: right;
      height: initial;
    }
  }
}

@media (max-width: 400px) {
  header {
    padding: 0 10px 0 0;
    .logo {
      width: 120px;
    }
    .menu-btn {
      .menu-icon {
        margin: 24px 10px;
        background-size: 100%;
      }
    }
    nav {
      .map-profile {
        a {
          padding: 0 10px;
          span {
            img {
              width: 26px;
              height: 26px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 300px) {
  header {
    .logo {
      width: 100px;
    }
    .menu-btn {
      .menu-icon {
        width: 20px;
      }
    }
    nav {
      .map-profile {
        a {
          padding: 0 10px 0 5px;
          span {
            img {
              width: 26px;
              height: 26px;
            }
          }
        }
      }
    }
  }
}
