// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-Calendar,
.icon-Calendar\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 0;
}
.icon-Calendar-dims {
	width: 32px;
	height: 32px;
}
.icon-Close_icon,
.icon-Close_icon\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -32px;
}
.icon-Close_icon-dims {
	width: 32px;
	height: 32px;
}
.icon-Friend_Icon,
.icon-Friend_Icon\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -64px;
}
.icon-Friend_Icon-dims {
	width: 32px;
	height: 32px;
}
.icon-Friend_Icon_hover,
.icon-Friend_Icon_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -96px;
}
.icon-Friend_Icon_hover-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Add,
.icon-Icon_Add\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -128px;
}
.icon-Icon_Add-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Add_spot,
.icon-Icon_Add_spot\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -160px;
}
.icon-Icon_Add_spot-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Heart,
.icon-Icon_Heart\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -192px;
}
.icon-Icon_Heart-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Heart_hover,
.icon-Icon_Heart_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -224px;
}
.icon-Icon_Heart_hover-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Photo,
.icon-Icon_Photo\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -256px;
}
.icon-Icon_Photo-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Photo_hover,
.icon-Icon_Photo_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -288px;
}
.icon-Icon_Photo_hover-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Planner,
.icon-Icon_Planner\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -320px;
}
.icon-Icon_Planner-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Planner_hover,
.icon-Icon_Planner_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -352px;
}
.icon-Icon_Planner_hover-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Save,
.icon-Icon_Save\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -384px;
}
.icon-Icon_Save-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Save_hover,
.icon-Icon_Save_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -416px;
}
.icon-Icon_Save_hover-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Spot,
.icon-Icon_Spot\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -448px;
}
.icon-Icon_Spot-dims {
	width: 32px;
	height: 32px;
}
.icon-Icon_Spot_hover,
.icon-Icon_Spot_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -480px;
}
.icon-Icon_Spot_hover-dims {
	width: 32px;
	height: 32px;
}
.icon-Recrearion_icon,
.icon-Recrearion_icon\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -512px;
}
.icon-Recrearion_icon-dims {
	width: 32px;
	height: 32px;
}
.icon-Save_icon_Home_Top,
.icon-Save_icon_Home_Top\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -544px;
}
.icon-Save_icon_Home_Top-dims {
	width: 32px;
	height: 32px;
}
.icon-Share_Icon,
.icon-Share_Icon\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -576px;
}
.icon-Share_Icon-dims {
	width: 32px;
	height: 32px;
}
.icon-Share_icon_Home_top,
.icon-Share_icon_Home_top\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -608px;
}
.icon-Share_icon_Home_top-dims {
	width: 32px;
	height: 32px;
}
.icon-Weather_icons,
.icon-Weather_icons\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -640px;
}
.icon-Weather_icons-dims {
	width: 96px;
	height: 96px;
}
.icon-button_import,
.icon-button_import\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -736px;
}
.icon-button_import-dims {
	width: 32px;
	height: 32px;
}
.icon-home_icon,
.icon-home_icon\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -768px;
}
.icon-home_icon-dims {
	width: 32px;
	height: 32px;
}
.icon-home_icon_hover,
.icon-home_icon_hover\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -800px;
}
.icon-home_icon_hover-dims {
	width: 32px;
	height: 32px;
}