////information-profile//////

.information-profile {
  padding: 0 15px 20px;
  .avatar-wrap {
    padding: 0;
    .avatar {
      margin: -95px auto 0;
      img {
        min-width: 100%;
      }
    }
  }
  .profile-name {
    margin-top: 10px;
    font: 500 24px/26px 'Questrial';
    text-align: center;

    a {
      color: $blue;
      @include transition_color;
      font: 500 20px/24px 'Questrial';
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      display: block;
      &:hover, &:focus, &:active {
        color: $navy_blue;
        @include transition_color;
      }
      .avatar-first-name {
        max-width: 100%;
        position: relative;
      }
    }
    .online {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #149e38;
      position: relative;
      display: inline-block;
      top: -8px;
    }
    .offline {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $red;
      position: relative;
      display: inline-block;
      top: -8px;
    }
  }
  .status {
    float: left;
    color: #a4a4a4;
    font: 400 14px/14px 'Questrial';
    display: block;
    margin: 15px 0 0;
    padding: 10px 0 0 3rem;
  }
  .age {
    font: 14px 'Questrial';
    color: grey;
  }
  .location {
    color: grey;
    font: 400 14px/14px 'Questrial';
    margin-top: 7px;
    //overflow: hidden;
    //white-space: nowrap;
    margin-bottom: 10px;
  }
  .biography {
    font: 12px/21px 'Pontano';
    margin-top: 20px;
    .small, .full-text {
      word-wrap: break-word;
    }
  }
  .moderator {
    background: url(../img/icons/moderate.png) 0 7px no-repeat;
  }
  .info-links {
    font: 14px/14px 'Pontano';
    margin: 5px 0;
    width: 100%;
    padding: 0;
    a {
      display: block;
      float: left;
      margin-right: 10px;
      border-right: 1px solid $light_grey;
      &:last-of-type {
        border: 0;
      }
    }
    .events {
      background: url(../img/icons/event.png) -13px -10px no-repeat;
    }
    .followers {
      background: url(../img/icons/friends-map.png) -11px -10px no-repeat;
    }
    .albums {
      background: url(../img/icons/photo-map.png) -11px -10px no-repeat;
    }
    .fav {
      background: url(../img/icons/fav-star.png) 0px 3px no-repeat;
    }
    .followings {
      background: url(../img/icons/followings.png) -11px -10px no-repeat;
    }
    .events, .fav {
      padding: 3px 16px 2px 20px;
    }
    .followers, .albums, .followings {
      padding: 3px 16px 2px 22px;
    }
  }
  .form-group {
    .blue-btn, .red-btn, .green-btn {
      width: 100%;
      margin: 0;
    }
  }
}

@media (max-width: 992px) {
  .information-profile {
    .avatar-wrap {
      .avatar {
        margin: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          max-width: 160px;
        }
      }
    }
    .activity-mobile {
      padding-left: 15px;
      .profile-name {
        a {
          text-align: left;
        }
      }
    }
    .form-group {
      .blue-btn, .red-btn, .green-btn {
        width: inherit;
      }
    }
  }
}

@media (max-width: 500px) {
  .information-profile {
    .avatar-wrap {
      width: 160px;
      height: 160px;
    }
    .activity-mobile {
      width: 100%;
      padding: 0;
    }
  }
}

/// end information profile
