.j-carousel {
  width: 250px;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  position: relative;
  overflow: hidden;
  .prev {
    background: url(/assets/img/icons/arrows_carousel.png) 0 0 no-repeat;
    width: 15px;
    height: 26px;
    position: absolute;
    top: 7rem;
    left: 1rem;
    outline: none;
    display: inline-block;
    overflow: hidden;
    &:hover {
      background: url(/assets/img/icons/arrows_carousel.png) 0 -28px no-repeat;
    }
  }
  .next {
    background: url(/assets/img/icons/arrows_carousel.png) -20px 0 no-repeat;
    width: 15px;
    height: 26px;
    position: absolute;
    top: 7rem;
    right: 1rem;
    outline: none;
    display: inline-block;
    overflow: hidden;
    &:hover {
      background: url(/assets/img/icons/arrows_carousel.png) -20px -28px no-repeat;
    }
  }
  .carousel-stage {
    li {
      width: 250px;
    }
    img {
      max-width: 250px;
      max-height: 160px;
      margin: 0 auto 2rem;
      border: 4px solid $white;
      background: $white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
      -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
    }
  }
  .jcarousel {
    img {
      width: 66px;
      height: 66px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      background: $white;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      margin-right: 1.5rem;
    }
  }
  .navigation {
    width: 250px;
    overflow: hidden;
  }
}

.connected-carousels {
  .prev-stage, .next-stage {
    top: 7rem !important;
  }
  .prev-navigation, .next-navigation {
    top: 2.7rem !important;
  }
  .next-navigation {
    right: 13px!important;
  }
}

.carousel-navigation {
  .active {
    img {
      border: 3px solid $grey;
    }
  }
  img {
    border: 3px solid $white;
  }
}


