//map styles
.map {
  position: relative;
  top: 70px;
  z-index: 0;
  width: 100%;
}

.map.full-size {
  position: absolute;
  // height: calc(100% - 130px);
  top: 0;
  height: 100vh;
}

.hide-tools {
  display: none!important;
}

.map.small-size {
  // height: 400px;
  height: 40vh;
  top: 0;
  .leaflet-control-container {
      display: none;
  }
}

.map.hidden {
  height: 0;
}

.map-tools {
  width: 50px;
  div {
    height: 50px;
    // height: 100%;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    @include transition_bg_color;
    &:hover {
      @include transition_bg_color;
    }
  }

  .radius-selection {
    background-image: url(../img/svg/Radius.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 6px 3px;
    background-color: $white;
    // border-bottom: 1px solid #eee;
    &:hover, &.active {
      background-color: rgba(0, 207, 255, .8);
      background-image: url(../img/svg/Radius_mouseover.svg);
    }
  }
  .lasso-selection {
    background: url(../img/svg/Lasso.svg) ;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 6px 3px;
    background-color: $white;
    // border-bottom: 1px solid #eee;
    &:hover, &.active {
      background-color: rgba(0, 207, 255, .8);
      background-image: url(../img/svg/Lasso_mouseover.svg);
    }
  }
  .path-selection {
    background-image: url(../img/svg/Road_icon.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 6px 3px;
    background-color: $white;
    &:hover, &.active {
      background-color: rgba(0, 207, 255, .8);
      background-image: url(../img/svg/Road_icon_mouseover.svg);
    }
  }
  // .save-selection {
  //   background: url(../img/svg/new_icons/icon_main_menu/save-selection.svg) center center no-repeat rgba(159, 173, 173, .8);
  //   background-size: 24px;
  //   transform: rotate(-90deg);
  //   border-right: 1px solid rgba(255,255,255,0.8);
  //   &:hover {
  //     background-color: rgba(0, 207, 255, .8);
  //   }
  // }
  // .clear-selection {
  //   background: url(../img/icons/sprite-top-map.png) -73px 5px no-repeat rgba(159, 173, 173, .8);
  //   transform: rotate(-90deg);
  //   &:hover {
  //     background-color: rgba(0, 207, 255, .8);
  //   }
  // }
  .share-selection {
    background: url(../img/icons/sprite-top-map.png) 0 5px no-repeat rgba(159, 173, 173, .8);
    transform: rotate(-90deg);
    // border-right: 1px solid rgba(255,255,255,0.8);
    &:hover {
      background-color: rgba(0, 207, 255, .8);
    }
  }
}

.leaflet-top.leaflet-right {
  // transform: rotate(90deg);
  // right: 50%;
}

.remove-popup {
  .leaflet-popup-content {
    width: auto !important;
  }
}
.leaflet-control-container {
	.leaflet-control-zoom {
		&.leaflet-bar a {
			float: none !important;
		}
	}
}
.custom-map-icons {
  // border-radius: 50%;
  display: block;
  overflow: hidden;
  // background: #fff;
  //border: 2px solid #fff;
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
}

.tools-container {
  z-index: 10 !important;
}

.leaflet
&-bottom &-control {
  margin-bottom: 0 !important;
}

.leaflet-right .map-tools-top:last-child {
  margin-top: 0;
}


.map-block .menu-profile {
  position: absolute;
  bottom: 0;

  .menu-offset {
    margin-left: 8.33333%;
  }
}

@media (max-width: 991px) {
  .map.small-size {
    height: 40%;
  }
}

#body {
    .not-index {
        .leaflet-control-container {
            display: none;
        }
    }
    .leaflet-left.leaflet-bottom {
        bottom: 0;
        top: 80px;
        left: 1rem !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: none;
        height: calc(100vh - 150px);
        max-width: 50px;
        z-index: 999;
        opacity: 0.8;
        @media (max-height: 400px) {
            flex-wrap: wrap;
        }
        @media (max-width: 767px) {
            top: 60px;
            height: calc(100vh - 120px);
        }
        @media (max-width: 767px) and (orientation: landscape) {
            top: 60px;
            height: calc(100vh - 70px);
        }
        .focus-geolocation-container, .show-info-container {
            display: flex;
            height: 100%;
            min-height: 50px;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0;
            @media (max-height: 400px) {
                height: calc((100vh - 220px) / 2);
            }
            .focus-geolocation, .show-info {
                cursor: pointer;
                margin: 0;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: #414042;
                font-size: 45px;
                img {
                    height: 100%;
                    width: 100%;
                    padding: 8px;
                }
                &:hover {
                    background-color: $light_blue_btn;
                    color: white;
                }
            }
        }
        .show-info-container {
            justify-content: flex-start;
        }
        .save-selection, .clear-selection, .focus-geolocation {
            img {
                width: 50px;
                height: 50px;
                padding: 7px;
            }
            &:hover {
                background-color: $light_blue_btn !important;
            }
        }
        .map-tools {
            margin: 0;
            background-color: white;
            display: block !important;
        }
        .map-tools-top {
            display: block;
            @media (max-height: 400px) {
                order: 1;
            }
            &.hide-tools {
                display: none !important;
            }
        }
    }
    .leaflet-control-zoom {
        margin: 0;
        display: none;
    }
}

.sidebar-menu-vertical.sidebar-menu-vertical-bottom {
    @media(max-width: 767px) {
        height: 50px;
    }
}

.map-marker-icon-photo {
    background-image: url('\\assets\\img\\photostack.png');
    padding: 6px;
    background-size: cover;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
