//map styles
.map {
  position: relative;
  top: 70px;
  z-index: 0;
  width: 100%;
}

.map.full-size {
  position: absolute;
  height: calc(100% - 70px);

  &.menu-offset {
    height: calc(100% - 70px - 60px);
  }
}

.hide-tools {
  display: none!important;
}

.map.small-size {
  height: 400px;
  top: 0;
}

.map.hidden {
  height: 0;
}

.map-tools {
  height: 50px;
  width: 50px;
  div {
    height: 100%;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    @include transition_bg_color;
    &:hover {
      @include transition_bg_color;
    }
  }

  .radius-selection {
    background-image: url(../img/svg/Radius.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 6px 3px;
    background-color: $white;
    border-bottom: 1px solid #eee;
    &:hover, &.active {
      background-color: rgba(0, 207, 255, .8);
      background-image: url(../img/svg/Radius_mouseover.svg);
    }
  }
  .lasso-selection {
    background: url(../img/svg/Lasso.svg) ;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 6px 3px;
    background-color: $white;
    border-bottom: 1px solid #eee;
    &:hover, &.active {
      background-color: rgba(0, 207, 255, .8);
      background-image: url(../img/svg/Lasso_mouseover.svg);
    }
  }
  .path-selection {
    background-image: url(../img/svg/Road_icon.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 6px 3px;
    background-color: $white;
    &:hover, &.active {
      background-color: rgba(0, 207, 255, .8);
      background-image: url(../img/svg/Road_icon_mouseover.svg);
    }
  }
  .save-selection {
    background: url(../img/icons/sprite-top-map.png) -39px -2px no-repeat rgba(159, 173, 173, .8);
    transform: rotate(-90deg);
    border-right: 1px solid rgba(255,255,255,0.8);
    &:hover {
      background-color: rgba(0, 207, 255, .8);
    }
  }
  .clear-selection {
    background: url(../img/icons/sprite-top-map.png) -80px -1px no-repeat rgba(159, 173, 173, .8);
    transform: rotate(-90deg);
    &:hover {
      background-color: rgba(0, 207, 255, .8);
    }
  }
  .share-selection {
    background: url(../img/icons/sprite-top-map.png) 0 -1px no-repeat rgba(159, 173, 173, .8);
    transform: rotate(-90deg);
    border-right: 1px solid rgba(255,255,255,0.8);
    &:hover {
      background-color: rgba(0, 207, 255, .8);
    }
  }
}

.leaflet-top.leaflet-right {
  transform: rotate(90deg);
  right: 50%;
}

.remove-popup {
  .leaflet-popup-content {
    width: auto !important;
  }
}

.custom-map-icons {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
}

.tools-container {
  z-index: 10 !important;
}

.leaflet
&-bottom &-control {
  margin-bottom: 0 !important;
}

.leaflet-right .map-tools-top:last-child {
  margin-top: 0;
}


.map-block .menu-profile {
  position: absolute;
  bottom: 0;

  .menu-offset {
    margin-left: 8.33333%;
  }
}

@media (max-width: 991px) {
  .map.small-size {
    height: 40%;
  }
}
