//map styles
.map {
  position: relative;
  top: 70px;
  z-index: 0;
  width: 100%;
}

.map.full-size {
  position: absolute;
  height: calc(100% - 70px);
}

.map.small-size {
  height: 400px;
  top: 0;
}

.map.hidden {
  height: 0;
}

.map-tools {
  height: 40px;
  width: 40px;

  .radius-selection {
    height: 100%;
    width: 100%;
    background-color: red;
  }
  .lasso-selection {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }
  .path-selection {
    height: 100%;
    width: 100%;
    background-color: orange;
  }
}

