//---<menu profile styles--->
.menu-profile {
  background: $dark_blue;
  padding: 0;
  ul {
    padding: 0;
    margin: 0;
    height: 40px;
    li {
      &:first-child {
        padding-left: 0;
      }
      a {
        font: $navigation_font;
      }
      a.active {
        color: $blue;
      }
      display: inline-block;
      padding-left: 24px;
      float: left;
      @include vertical_align;
    }
  }
}

.module-sidebar {
  margin-bottom: 2.5rem;
}

.sidebar-row {
  display: block;
  a {
    height: 14rem;
    display: block;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -e-text-overflow: ellipsis;
  }
}

@media (max-width: 992px) {
  .menu-profile {
    display: none;
  }
}

//---</menu profile styles--->
