//modal styles
//.modal {
//  height: 100%;
//  .modal-dialog {
//    top: 50%;
//    transform: translateY(-50%) !important;
//  }
//}

.sidebar-menu-wrap {
  z-index: 1;
}

.authentication {
  .modal-dialog {
    width: 340px;
    margin: 30px auto;
  }
  .modal-header {
    border-bottom: none;
  }
  h4 {
    font: 500 26px/26px 'Ubuntu medium';
  }
  input.white {
    height: 42px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #cecece;
    border-radius: 3px;
    background: #fff;
    color: #000;
    font: 16px Arial, sans-serif;
    box-shadow: inset 0 1px 2px 0 #e2e2e2;
    @include transition_shadow;
    &:hover, &:focus {
      border: 1px solid #76c7dc;
      @include blue_shadow;
      @include transition_shadow;
      outline: none;
    }
  }

  input[type="submit"] {
    @include button;
    width: 100%;
    border: none;
    background-color: $green;
    &:hover {
      background-color: $light_green;
    }
  }

  p {
    color: #adabab;
    font-size: 11px;
    a {
      float: right;
      color: $blue;
      @include transition_color;
      &:hover {
        color: $navy_blue;
        text-decoration: none;
      }
    }
  }
  .modal-footer {
    a {
      width: 100%;
      display: block;
      @include button;
      &:nth-child(1) {
        background-color: #3C599B;
        margin-bottom: 10px;
        &:hover {
          background-color: #3c66c6;
        }
      }
      &:nth-child(2) {
        background-color: $red;
        &:hover {
          background-color: $light_red;
        }
      }
    }
  }
  form {
    .password-block {
      display: block;
      position: relative;
    }
  }
}
