/*     my spot   */
.my-spots-section {
  border-bottom: 1px solid $light_grey;
}

.event {
  position: relative;
  background: 0 0;
  border: 0;
  border-bottom: 1px solid $light_grey;
  margin: 0;
  border-radius: 0;
  width: 100%;
  padding: 15px;
  .spot-stars {
    margin-top: 15px;
  }
  .rateit {

    .rateit-reset {
      background: url(/assets/img/icons/delete.gif) 0 0;
      width: 16px;
      height: 16px;
      display: -moz-inline-box;
      display: inline-block;
      float: left;
      outline: none;
      border: none;
      padding: 0;
    }
    .rateit-range {
      position: relative;
      display: -moz-inline-box;
      display: inline-block;
      background: url(/assets/img/icons/star.gif);
      height: 16px;
      outline: none;
    }
    .rateit-selected {
      background: url(/assets/img/icons/star.gif) left -16px;
      position: absolute;
      left: 0;
    }
    .rateit-hover {
      background: url(/assets/img/icons/star.gif) left -32px;
      position: absolute;
      left: 0;
    }
  }

  .place {
    font: 400 14px 'Questrial';
    color: grey;
  }

  .event-spot-page {
    padding-right: 0;
    padding-left: 5px;
    line-height: 2;
    float: right;
  }
  .description {
    font: 13px/19px 'Pontano';
    margin: 10px 0 12px;
  }
  .date {
    line-height: 1;
    display: block;
    margin: 0;
    width: 100%;
  }
}

.event .date, .event-spot-page, .recreation-spot, .pitstop-spot {
  position: relative;
  top: 0;
  right: 0;
  color: grey;
  font: 12px 'Pontano';
  text-align: right;
  float: right;
}

.tools {
  padding-top: 15px;
  font: 600 13px/13px 'Questrial';
  padding-left: 0px;
  width: 100%;
  display: inline-block;
  li {
    float: left;
    margin-right: 15px;
    a {
      padding-left: 18px;
      font: 14px 'Questrial';
      color: $blue;
      &:hover, &:active, &:focus {
        color: #0874be;
      }
    }
  }
  .sharing-wrap {
    float: right;
  }
}

.edit-tools {
  background: url(/assets/img/icons/ed.png) 1px 3px no-repeat;
  &:hover, &:active, &:focus {
    color: $blue;
    background: url(/assets/img/icons/ed.png) 1px -12px no-repeat;
  }
}

.delete {
  background: url(/assets/img/icons/delete.png) 1px 2px no-repeat;
  &:hover, &:active, &:focus {
    background: url(/assets/img/icons/delete.png) 1px -13px no-repeat;
    color: $blue;
  }
}

.save-event {
  background: url(/assets/img/icons/tools.png) -5px -6px no-repeat;
  &:hover, &:active, &:focus {
    background: url(/assets/img/icons/tools.png) -5px -23px no-repeat;
    color: $blue;
  }
}

.favorite-spot {
  background: url(/assets/img/icons/tools.png) -4px -56px no-repeat;
  &:hover, &:active, &:focus {
    background: url(/assets/img/icons/tools.png) -4px -73px no-repeat;
    color: $blue;
  }
}

.invite-friend {
  background: url(/assets/img/icons/tools.png) -3px -109px no-repeat;
  &:hover, &:active, &:focus {
    background: url(/assets/img/icons/tools.png) -3px -126px no-repeat;
    color: $blue;

  }
}

.share {
  display: block;
  width: 12px;
  height: 12px;
  text-indent: 10000px;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: url(/assets/img/icons/share.png) no-repeat;
  &:hover {
    background: url(/assets/img/icons/share.png) -12px 0 no-repeat;
  }
}

.share-wrap {
  display: block;
  position: absolute;
  bottom: -17px;
  right: -8px;
  padding-top: 0;
  background: url(/assets/img/icons/min-corner.png) top 0 right 17px no-repeat;
  z-index: 1000;
}

.share-buttons {
  background: $white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
  padding: 4px;
  margin-bottom: -2px;

  li {
    float: left;
    margin: 2px;
    .facebook {
      background: url(/assets/img/icons/min-social.png) -32px 0 no-repeat;
    }
    .google {
      background: url(/assets/img/icons/min-social.png) -16px 0 no-repeat;
    }
    .twitter {
      background: url(/assets/img/icons/min-social.png) no-repeat;
    }
    a {
      display: block;
      width: 16px;
      height: 16px;
      overflow: hidden;
      text-indent: 10000px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      &:hover {
        @include blue_shadow;
      }
    }
  }
}

.add-friend {
  display: block;
  width: 28px;
  height: 28px;
  background: url(/assets/img/icons/min-plus.png) 9px 9px no-repeat, #0d91ec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 17px;
  right: 17px;
  @include transition_bg;
  &:hover, &:active, &:focus {
    background: url(/assets/img/icons/min-plus.png) 9px 9px no-repeat, #0160a2;
  }
}

.tags {
  background: url(/assets/img/icons/tag.png) 0 2px no-repeat;
}

.attachments {
  background: url(/assets/img/icons/clip.png) 0 2px no-repeat;
  margin-top: 0;
}

.tags, .attachments {
  padding-left: 23px;
  margin-bottom: 13px;
  margin-top: 10px;
  line-height: 1;
  li {
    margin-right: 7px;
    float: left;
    a {
      font: 400 13px/13px 'Questrial';
      color: #85929b;
      @include transition_color;
    }
  }
}

.img-size {
  width: 100%;
  height: 242px;
}
