/*     my spot   */

.my-spots-content {
  float: left;
  margin: 20px 10px;
  border: 1px solid #e9edf0;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  .my-spots-title {
    font: 500 22px/22px Ubuntu;
    padding: 20px 0 20px;
    border-bottom: 1px solid $light_grey;
  }
  .add-friend {
    display: block;
    width: 28px;
    height: 28px;
    background: url(/assets/img/icons/min-plus.png) 9px 9px no-repeat, #0d91ec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 17px;
    right: 17px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
  }
  .event {
    position: relative;
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #e9edf0;
    margin: 0;
    padding-bottom: 15px;
    border-radius: 0;
    width: 100%;

    .rateit {
      display: -moz-inline-box;
      display: inline-block;
      position: relative;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -ms-user-select: none;
      user-select: none;

      button.rateit-reset {
        background: url(/assets/img/icons/delete.gif) 0 0;
        width: 16px;
        height: 16px;
        display: -moz-inline-box;
        display: inline-block;
        float: left;
        outline: none;
        border: none;
        padding: 0;
      }
      .rateit-range {
        position: relative;
        display: -moz-inline-box;
        display: inline-block;
        background: url(/assets/img/icons/star.gif);
        height: 16px;
        outline: none;
      }
      .rateit-selected {
        background: url(/assets/img/icons/star.gif) left -16px;
        position: absolute;
        left: 0;
      }
      .rateit-hover {
        background: url(/assets/img/icons/star.gif) left -32px;
        position: absolute;
        left: 0;
      }
    }
    .rating {
      margin-bottom: 7px;
    }
    .place {
      font: 400 14px Ubuntu;
      color: grey;
    }
    .date {
      position: absolute;
      top: 15px;
      right: 15px;
      color: grey;
      font: 12px Arial, sans-serif;
      text-align: right;
    }
    .description {
      font: 13px/19px Arial, sans-serif;
      margin: 10px 0 12px;
    }
    .tags {
      padding-left: 23px;
      background: url(/assets/img/icons/tag.png) 0 2px no-repeat;
      margin-bottom: 17px;
    }
  }
  .tools {
    padding-top: 15px;
    font: 400 13px/13px Ubuntu;
    padding-left: 0px;
    li {
      float: left;
      margin-right: 15px;
      a {
        padding-left: 18px !important;
        font: 14px Ubuntu;
        color: #0874be;
      }
    }
    .delete {
      background: url(/assets/img/icons/delete.png) 1px 2px no-repeat;
      &:hover {
        background: url(/assets/img/icons/delete.png) 1px -13px no-repeat;
        color: $blue;

      }
    }
    .save-event {
      background: url(/assets/img/icons/tools.png) -5px -6px no-repeat;
      &:hover {
        background: url(/assets/img/icons/tools.png) -5px -23px no-repeat;
        color: $blue;

      }
    }

    .favorite-spot {
      background: url(/assets/img/icons/tools.png) -4px -57px no-repeat;
      &:hover {
        background: url(/assets/img/icons/tools.png) -4px -74px no-repeat;
        color: $blue;

      }
    }

    .invite-friend {
      background: url(/assets/img/icons/tools.png) -3px -111px no-repeat;
      &:hover {
        background: url(/assets/img/icons/tools.png) -3px -128px no-repeat;
        color: $blue;

      }
    }
  }
  .share {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: 10000px;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: url(/assets/img/icons/share.png) no-repeat;
  }
}

