//---<photo_viewer styles--->
.viewer-wrap {
  width: 100%;
  .modal-dialog {
    width: 950px !important;
    height: 100%;
    .modal-content {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.photo-viewer {
  border-radius: 8px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  max-height: 600px;
  overflow: hidden;
  cursor: default;
  .image {
    background: $dark_blue;
    height: 600px;
    float: left;
    position: relative;
    padding: 0;
    img {
      display: table;
      margin: 0 auto;
      //max-height: 600px;
      //max-width: 780px;
      @include vertical_align;
    }
    .previous {
      background: url(/assets/img/icons/arrows.png) 0 0 no-repeat;
      width: 15px;
      height: 26px;
      position: absolute;
      top: 50%;
      left: 25px;
      outline: none;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background: url(/assets/img/icons/arrows.png) 0 -28px no-repeat;
      }
    }
    .next {
      background: url(/assets/img/icons/arrows.png) -20px 0 no-repeat;
      width: 15px;
      height: 26px;
      position: absolute;
      top: 50%;
      right: 25px;
      outline: none;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background: url(/assets/img/icons/arrows.png) -20px -28px no-repeat;
      }
    }
  }
  .photo-comments {
    padding: 10px 15px;
    float: right;
    background: #fff;
    .new-post {
      width: 100%;
      box-sizing: border-box;
      .min-round {
        padding: 5px;
        margin-bottom: 10px;
        textarea {
          width: 100%;
          box-sizing: border-box;
          height: 50px;
          margin-bottom: 3px;
        }
      }
    }
    .reviews {
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      height: 500px;
      padding: 0;
      .post {
        position: relative;
        margin-top: 10px;
        border-bottom: 1px solid #e9edf0;
        padding: 10px 0 10px;
        &:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
        &:last-of-type {
          border: none;
        }
        &:hover {
          .delete-reviews {
            display: block;
          }
        }
        .avatar {
          width: 40px;
          height: 40px;
          @include white_border3;
          border-radius: 50%;
          float: left;
          margin-top: 0;
        }
        .frame {
          border: 2px solid #fff;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          float: left;
        }
        .info {
          padding: 0 0 0 10px;
          h3 {
            margin: 0;
            font: 500 18px "Ubuntu medium";
            color: $dark_blue;
          }
          p {
            font: 400 12px/14px Arial, sans-serif;
          }
        }
        .delete-reviews {
          display: none;
          width: 8px;
          height: 8px;
          background: url(/assets/img/cross.png) no-repeat;
          position: absolute;
          padding-top: 8px;
          right: 0;
          &:hover {
            background: url(/assets/img/cross.png) 0 -8px no-repeat;
          }
        }
        .small-share {
          display: block;
          width: 9px;
          height: 9px;
          text-indent: 10000px;
          overflow: hidden;
          background: url(/assets/img/icons/small-share.png) 0 0 no-repeat;
          position: absolute;
          bottom: 15px;
          right: 10px;
          &:hover {
            background: url(/assets/img/icons/small-share.png) -9px 0 no-repeat;
          }
        }
        .time {
          color: #808080;
          font: 11px/11px "Arial", "sans-serif";
          margin: 8px 0 0 0;
        }
        .rating {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 11px;
          color: $blue;
          @include transition_color;
          &:hover {
            color: $navy_blue;
            text-decoration: none;
          }
        }
        .avatar-wrap {
          padding: 0;
          width: auto;
        }
      }
    }
    .location {
      padding-left: 15px;
      margin-bottom: 10px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: url(/assets/img/icons/count.png) 0 5px no-repeat;
    }
  }
}

.viewer-content {
  background: transparent;
}

.new-post {
  padding: 5px;
  border-radius: 3px;
  background: #e9edf0;
  textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #dee5ea;
    padding: 5px;
    background: #fff;
    resize: none;
    @include transition_shadow;
    &:hover, &:focus {
      border: 1px solid #76c7dc;
      @include blue_shadow;
      @include transition_shadow;
      outline: none;
    }
  }
  input {
    float: right;
    @include button;
    height: 22px;
    width: 54px;
    font: 400 12px/12px "Ubuntu medium";
    background: $dark_blue;
    padding: 3px;
    border: none;
    outline: none;
    &:hover {
      background: #1a415b;
      @include transition_bg;
    }
  }
}

@media (max-width: 992px) {
  .viewer-wrap {
    .modal-dialog {
      width: 90% !important;
      .photo-viewer {
        max-height: 100%;
        .image {
          width: 100%;
          min-height: 600px;
          img {
            //top: 0;transform: translateY(0);
          }
        }
        .photo-comments {
          width: 100%;
          .reviews {
            height: inherit;
            .post {
              .delete-reviews {
                display: block;
              }
            }
          }
        }
      }
      .modal-content {
        top: 80px;
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 767px) {
  .viewer-wrap {
    .modal-dialog {
      display: block;
      margin: 0 auto;
      .photo-viewer {
        .image {
          width: 100%;
          height: 100%;
          min-height: 100%;
          img {
            max-width: 100%;
            top: 0;
            transform: translateY(0);
          }
        }
      }
    }
  }
  //.modal {
  //  .modal-dialog {
  //    top: 10% !important;
  //    transform: translate(0, 0) !important;
  //  }
  //}
}

//---</photo_viewer styles--->
