//---<photo_viewer styles--->
.viewer-wrap {
  width: 100%;
  .modal-dialog {
    width: 950px !important;
    height: 100%;
    .modal-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.photo-viewer {
  border-radius: 0;
  box-shadow: none;
  max-height: 600px;
  overflow: hidden;
  cursor: default;
  .image {
    background: $dark_blue;
    height: 600px;
    float: left;
    position: relative;
    padding: 0;
    img {
      display: table;
      margin: 0 auto;
      max-height: 600px;
      max-width: 100%;
      @include vertical_align;
    }
    .previous {
      background: url(../img/icons/slider-arrow.png) 0 0 no-repeat;
      width: 1.5rem;
      height: 3rem;
      position: absolute;
      top: 50%;
      left: 25px;
      outline: none;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background: url(../img/icons/slider-arrow.png) 0 -46px no-repeat;
      }
    }
    .next {
      background: url(../img/icons/slider-arrow.png) -30px 0 no-repeat;
      width: 1.5rem;
      height: 3rem;
      position: absolute;
      top: 50%;
      right: 25px;
      outline: none;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background: url(../img/icons/slider-arrow.png) -30px -46px no-repeat;
      }
    }
  }
  .photo-comments {
    padding: 10px 15px;
    float: right;
    background: #fff;
    .new-post {
      width: 100%;
      box-sizing: border-box;
      textarea {
        height: 16rem;
        margin-bottom: 1rem;
      }
      .min-round {
        padding: 5px;
        margin-bottom: 10px;
        textarea {
          width: 100%;
          box-sizing: border-box;
          height: 50px;
          margin-bottom: 3px;
        }
      }
    }
    .reviews {
      height: 30rem;
      padding: 0;
      overflow-y: scroll;
      margin-top: 1rem;
      .post {
        position: relative;
        margin-top: 10px;
        border-top: 1px solid #e9edf0;
        padding: 10px 0 10px;
        width: 100%;
        &:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
        &:hover {
          .delete-reviews {
            display: block;
          }
        }
        .avatar {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          float: left;
          margin-top: 0;
          border: 1px solid #aaa;
          padding: 2px;
          background-color: #fff;
        }
        .frame {
          border: 2px solid #fff;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          float: left;
        }
        .like {
          font-size: 1.2rem;
          margin-right: 1rem;
        	.glyphicon {
        		font-size: 1.5rem;
            margin-right: 4px;
        	}
          &:hover {
            color: $blue_btn;
          }
        }
        .delete {
          font-size: 1.2rem;
          padding-top: 1px;
        }
        .info {
          padding: 0 15px 0 10px;
          width: auto;
          display: table;
          width: calc(100% - 5rem);
          .edit-delete {
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
          h3 {
            margin: 0;
            font-size: 2rem;
            font-weight: bold;
            color: $dark_blue;
            word-break: break-all;
          }
          p {
            font-size:1.4rem;
            color: #889197;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
          .time {
            font-size: 1.2rem;
          }
        }
        .delete-reviews {
          display: none;
          width: 8px;
          height: 8px;
          background: url(../img/cross.png) no-repeat;
          position: absolute;
          top: 8px;
          right: 0;
          &:hover {
            background: url(../img/cross.png) 0 -8px no-repeat;
          }
        }
        .small-share {
          display: block;
          width: 9px;
          height: 9px;
          text-indent: 10000px;
          overflow: hidden;
          background: url(../img/icons/small-share.png) 0 0 no-repeat;
          position: absolute;
          bottom: 15px;
          right: 10px;
          &:hover {
            background: url(../img/icons/small-share.png) -9px 0 no-repeat;
          }
        }
        .time {
          color: #808080;
          font-size: 11px/11px;
          margin: 8px 0 0 0;
        }
        .rating {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 11px;
          color: $blue;
          @include transition_color;
          &:hover {
            color: $navy_blue;
            text-decoration: none;
          }
        }
        .avatar-wrap {
          padding: 0;
          width: 5rem;
          height: 5rem;
          float: left;
        }
      }
    }
    .location {
      padding-left: 2rem;
      font-size: 1.4rem;
      color: #000;
      margin-bottom: 10px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: url(../img/icons/map-loc.png) no-repeat 0 0;
    }
  }
}

.viewer-content {
  background: transparent;
}

.btn-send-comment {
    float: right;
    height: 3rem;
    width: 8rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background: #00c9f8;
    margin-right: 0;
    color: #fff;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    }
/*
.new-post {
  padding: 5px;
  border-radius: 3px;
  background: #e9edf0;
  textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #dee5ea;
    padding: 5px;
    background: #fff;
    resize: none;
    @include transition_shadow;
    &:hover, &:focus {
      border: 1px solid #76c7dc;
      @include blue_shadow;
      @include transition_shadow;
      outline: none;
    }
  }
  input {
    float: right;
    @include button;
    height: 22px;
    width: 54px;
    font: 400 12px/12px;
    background: $dark_blue;
    padding: 3px;
    border: none;
    outline: none;
    &:hover {
      background: #1a415b;
      @include transition_bg;
    }
  }
}
*/
.image button.close, .photo-comments .close {
    width: 3rem;
    height: 3rem;
    background-image: url(../img/icons/close.png);
    opacity: 1;
    background-position: center;
    background-color: $blue_btn;
    background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .viewer-wrap {
    .modal-dialog {
      width: 90% !important;
      .photo-viewer {
        max-height: 100%;
        overflow: visible;
        position: relative;
        .close {
        	position: absolute;
        	right: 0;
        	top: -3rem;
        }
        .photo-comments button.close {
        	display: none;
        }
        .image {
          width: 100%;
          min-height: 600px;
          img {
            //top: 0;transform: translateY(0);
          }
        }
        .photo-comments {
          width: 100%;
          .reviews {
            height: inherit;
            .post {
              .delete-reviews {
                display: block;
              }
            }
          }
        }
      }
      .modal-content {
        top: 80px;
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 767px) {
  .viewer-wrap {
    .modal-dialog {
      display: block;
      margin: 0 auto;
      .photo-viewer {
        .image {
          width: 100%;
          height: 100%;
          min-height: 100%;
          img {
            max-width: 100%;
            top: 0;
            transform: translateY(0);
          }
        }
      }
    }
  }
  //.modal {
  //  .modal-dialog {
  //    top: 10% !important;
  //    transform: translate(0, 0) !important;
  //  }
  //}
}

//---</photo_viewer styles--->
