#body {
    .album-images {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & > div {
            height: 270px;
        }
    }

    div[class*='stack'] {
    	float: left;
    	position: relative;
    	margin: 20px 20px;
        position: relative;
        z-index: 999;
        img {
            border: 6px solid #fff;
            height: 200px; width: 200px;
            -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            object-fit: cover;
            background-color: white;
        }
        a.album-title {
            // position: absolute;
            // bottom: -6px;
            // left: 6px;
            // right: -6px;
            padding: 20px 10px;
            // background-color: rgba(255,255,255,0.8);
            div {
                width: 100%;
                text-align: center;
            }
        }
        &:hover > .album-tools {
            display: flex;
        }
        .album-tools {
            display: none;
            position: absolute;
            top: 6px;
            right: -6px;
            width: 80px;
            height: 40px;
            // display: flex;
            justify-content: center;
            align-items: center;
            a {
                position: relative;
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                color: white;
                &.album-tools-edit {
                    background-color: $light_blue_btn;
                }
                &.album-tools-delete {
                    background-color: $green;
                }
            }
        }
    }

    div[class*='stack'], div[class*='stack']:before, div[class*='stack']:after {
    	border: 6px solid #fff;
    	height: 200px; width: 200px;
    	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }

    div[class*='stack']:before, div[class*='stack']:after {
    	background: #768590;
    	content: "";
    	position: absolute;
    	z-index: -1;

    	/*Dirty IE8 hack*/
    	height: 0px\9; width: 0px\9;
    	border: none\9;
    }

    div[class*='stack']:before {
    	background: #eff4de;
    }

    /*STACK ONE*/
    .stackone:before {
    	top: 4px;
    	left: -6px;
    }

    .stackone:after {
    	top: -2px;
    	left: -6px;
    }

    /*STACK TWO*/
    .stacktwo:before {
    	top: 0px;
    	left: -10px;
    	-webkit-transform: rotate(-5deg);
    	-moz-transform: rotate(-5deg);
    	-o-transform: rotate(-5deg);
    	-ms-transform: rotate(-5deg);
    	transform: rotate(-5deg);
    }

    .stacktwo:after {
    	top: 5px; left: 0px;
    	-webkit-transform: rotate(4deg);
    	-moz-transform: rotate(4deg);
    	-o-transform: rotate(4deg);
    	-ms-transform: rotate(4deg);
    	transform: rotate(4deg);
    }

    /*STACK THREE*/
    .stackthree:before {
    	top: 5px;
    	left: -15px;
    	z-index: -1;
    	-webkit-transform: rotate(-10deg);
    	-moz-transform: rotate(-10deg);
    	-o-transform: rotate(-10deg);
    	-ms-transform: rotate(-10deg);
    	transform: rotate(-10deg);
    }

    .stackthree:after {
    	top: -2px;
    	left: -10px;
    	-webkit-transform: rotate(-5deg);
    	-moz-transform: rotate(-5deg);
    	-o-transform: rotate(-5deg);
    	-ms-transform: rotate(-5deg);
    	transform: rotate(-5deg);
    }
}
