.popup {
  max-width: 445px;
  padding: 0;
  border: none;
  position: relative;
  .close-event {
    position: absolute;
    top: 7px;
    right: 7px;
    .close {
      display: block !important;
      width: 8px;
      height: 8px;
      background: url(/assets/img/cross.png) no-repeat;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .popup-width {
    width: 455px;
  }
  spot-popup {
    display: block;
    height: 100%;
  }
  .leaflet-popup-content-wrapper {
    max-height: 197px;
    padding: 0;
    margin: 0;
  }
  .leaflet-popup-content {
    border-radius: 10px;
    display: inline-block;
    background: white;
    margin: 0;
    width: auto !important;
  }
  .nav-popup {
    padding: 0;
    .img-event {
      width: 100%;
      height: 77px;
      position: relative;
      img {
        width: 100%;
        height: 77px;
        border-radius: 10px 0 0 0;
      }
      .star-event {
        opacity: 0.6;
        width: 100%;
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 14px;
      }
    }
    .popup-links {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          width: 100%;
          &:nth-child(3) {
            a {
              border-radius: 0 0 0 10px;
            }
          }
          a {
            display: block;
            padding-left: 20px;
            font-size: 15px;
            font-weight: 600;
            line-height: 39px;
            width: 100%;
            background: #0c2638;
            color: white;
            border-bottom: 1px solid #304656;
            @include transition_color;
            &:hover {
              color: #58c7f5;
              @include transition_color;
            }
            &:active {
              color: #58c7f5;
            }
          }
        }
      }
    }
  }
  .popup-main {
    position: relative;
    height: 197px;
    .links-nav {
      position: relative;
      bottom: 5px;
      width: 95%;
      .tools {
        margin: 0;
      }
      .big-plus {
        display: inline-block;
        float: right;
        padding: 0;
        width: 12px;
        background: url(/assets/img/icons/share.png) no-repeat left;
        &:hover {
          background: url(/assets/img/icons/share.png) no-repeat right;
        }
      }
      a {
        display: inline-block;
        height: 13px;
        padding: 0 0 0 14px;
        font-size: 13px;
        color: #00b7f3;
        margin-right: 15px;
        @include transition_color;
        &:hover {
          color: #0874be;
          @include transition_color;
        }
      }
      .save {
        background: url(/assets/img/icons/tools.png) no-repeat -4px -6px;
        &:hover {
          background: url(/assets/img/icons/tools.png) no-repeat -4px -23px;
        }
      }
      .favorites {
        background: url(/assets/img/icons/tools.png) no-repeat -4px -57px;
        &:hover {
          background: url(/assets/img/icons/tools.png) no-repeat -4px -74px;
        }
      }
      .invite {
        background: url(/assets/img/icons/tools.png) no-repeat -4px -111px;
        &:hover {
          background: url(/assets/img/icons/tools.png) no-repeat -4px -128px;
        }
      }
      .share {
        background: url(/assets/img/icons/share.png) 0 0 no-repeat;
        position: absolute;
        right: 0;
        margin: 0;
        bottom: 4px;
        padding: 0 12px 0 0;
        &:hover {
          background: url(/assets/img/icons/share.png) -12px 0 no-repeat;
        }
      }
      .share-wrap {
        bottom: -30px;
        right: -15px;
        border: 1px solid $light_grey;
        .share-buttons {
          padding: 4px 4px 2px;
          li {
            margin: 2px 5px;
            a {
              margin-right: 0;
              height: 16px;
            }
          }
        }
      }
    }
    .title {
      margin: 0;
      padding: 0;
      font-size: 19px;
      line-height: 24px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 95%;
      display: block;
    }
    .star-event-mobile {
      display: none;
      height: 1px;
      opacity: .6;
    }
    .location-event {
      line-height: 11px;
      font-size: 11px;
      height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      color: #333333;
      margin: 0;
    }
    .date-event {
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333333;
      margin: 0;
    }
    .author-event {
      display: block;
      width: 95%;
      color: #00b7f3;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include transition_color;
      &:hover {
        color: #0874be;
        @include transition_color;
      }
    }
    .content-popup {
      height: 85px;
      .description {
        padding: 6px 5px 10px;
        height: 9rem;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        overflow-y: auto;
        word-wrap: break-word;
        margin: 0;
      }
      .previous-next {
        padding: 0;
        .previous {
          float: left;
          color: #00b7f3;
          font-size: 10px;
          line-height: 14px;
          padding-left: 22px;
          background: url(/assets/img/icons/previous.png) 0 4px no-repeat;
          @include transition_color;
          &:hover {
            color: #0874be;
            @include transition_color;
            background: url(/assets/img/icons/previous.png) 0 -7px no-repeat;
          }
        }
        .default-previous {
          color: #ace2f2;
          background: none;
          background: url(/assets/img/icons/default.png) 0 3px no-repeat;
          cursor: default;
          &:hover {
            color: #ace2f2;
            background: none;
            background: url(/assets/img/icons/default.png) 0 3px no-repeat;
            cursor: default;
          }
        }
        .next {
          float: right;
          margin-right: 15px;
          color: #00b7f3;
          font-size: 10px;
          line-height: 14px;
          padding-right: 22px;
          background: url(/assets/img/icons/next.png) 23px 4px no-repeat;
          @include transition_color;
          &:hover {
            color: #0874be;
            @include transition_color;

            background: url(/assets/img/icons/next.png) 23px -7px no-repeat;

          }
        }

        .default-next {
          color: #ace2f2;
          background: none;
          background: url(/assets/img/icons/default.png) 24px -15px no-repeat;
          cursor: default;
          &:hover {
            color: #ace2f2;
            background: none;
            background: url(/assets/img/icons/default.png) 24px -15px no-repeat;
            cursor: default;
          }
        }
      }
      .reviews-popup {
        box-sizing: content-box;
        height: 85px;
        padding: 0;
        .avatar {
          padding: 0;
          width: 40px;
          height: 40px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 30px;
            border: 2px solid #fff;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
          }
        }
        .content {
          padding: 0 0 0 5px;
          height: 80px;
          overflow: hidden;
          position: relative;
          .plus-minus {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 12px;
            font-size: 12px;
            color: #00b7f3;
            .plus {
              display: block;
              width: 12px;
              height: 12px;
              float: right;
              margin: 2px 0 0 4px;
              background: url(/assets/img/icons/plus-minus.png) no-repeat top right;
              &:hover {
                background: url(/assets/img/icons/plus-minus.png) no-repeat center right;
              }
            }
            .minus {
              display: block;
              width: 12px;
              height: 12px;
              float: left;
              margin: 2px 4px 0 0;
              background: url(/assets/img/icons/plus-minus.png) no-repeat top left;
              &:hover {
                background: url(/assets/img/icons/plus-minus.png) no-repeat center left;
              }
            }
          }
          .reviews-user {
            margin: 0;
            font-size: 12px;
            line-height: 12px;
            font-weight: 600;
            white-space: nowrap;
          }
          .description {
            height: 42px;
            padding: 0;
            margin-top: 3px;
          }
          .date-reviews {
            font-size: 11px;
            margin-top: 2px;
            line-height: 11px;
            padding-top: 2px;
            color: #cdd0d2;
          }
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
          }
        }
      }
      .photo-popup {
        padding: 0;
        height: 85px;
        overflow: hidden;
        .photos-event {
          padding-bottom: 3px;
          img {
            width: 65px;
            height: 65px;
            border-radius: 5px;
            margin: 2px 2px;
          }
        }
      }
    }
  }
}

.links-nav {
  width: 100% !important;
  .tools {
    li {
      a {
        margin-right: -1rem !important;
      }
    }
  }
  .share {
    margin-left: 1rem;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .popup {
    .close-event {
      .close {
        padding: 8px;
        background-size: 95%;
      }
    }
  }
}

@media (max-width: 500px) {
  .popup {
    max-width: 350px;
    width: auto;
    .close-event {
      top: -49px;
      right: 11px;

    }
    .leaflet-popup-tip-container {
      display: none;
    }
    .leaflet-popup-content-wrapper {
      max-height: auto;
    }
    .popup-width {
      width: 350px;
      .nav-popup {
        width: 100%;
        background: $dark_blue;
        border-radius: 10px 10px 0 0;
        .img-event {
          display: none;
          .star-event {
            width: 100%;
            position: absolute;
            top: 2px;
            left: 2px;
            img {
              width: 14px;
              height: 14px;
              margin: 1px;
            }
          }
        }
        .popup-links {
          ul {

            li {
              width: auto;
              float: left;

              &:nth-child(3) {
                a {
                  border-radius: none;
                  border-right: none;

                }
              }
              a {
                padding: 10px 20px;
                border-bottom: none;
                border-right: 1px solid #304656;
                border-radius: 10px 0 0 0;
                font-size: 20px;
              }
            }
          }
        }
      }
      .popup-main {
        width: 100%;
        height: 235px;
        .title {
          font-size: 24px;
          line-height: 26px;
          margin: 5px 0 2px 0;
        }
        .star-event-mobile {
          display: inline-block;
          height: auto;
          margin: 0;
        }
        .location-event {
          line-height: 12px;
          font-size: 12px;
        }
        .date-event {

          font-size: 11px;
        }
        .author-event {
          font-size: 16px;
          padding-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .popup {
    max-width: 320px;
    .close-event {
      top: -32px;
      right: 7px;
    }
    .popup-width {
      width: 320px;
    }
    .nav-popup {
      .popup-links {
        ul {
          li {
            a {
              padding: 0 15px !important;
              font-size: 20px !important;
            }
          }
        }
      }
    }
    .popup-main {
      height: 237px;
      .location-event {
        height: 25px !important;
      }
    }
  }
}

@media (max-width: 340px) {
  .popup {
    max-width: 220px;
    .close-event {
      top: -32px;
      right: 7px;
    }
    .popup-width {
      width: 220px;
    }
    .nav-popup {
      .popup-links {
        ul {
          li {
            a {
              padding: 0 7px !important;
              font-size: 15px !important;
            }
          }
        }
      }
    }
    .popup-main {
      height: 250px !important;

    }
  }
}
