/*      privacy policy      */
.privacy-policy-page {
	margin-top: 7rem;
	color: #929fa7;
	font-size: 11pt;
	.privacy-policy-title {
		color: #333;
	}
	.privacy-policy-text {
		width: 100%;
		margin: 0 auto;
		text-align: justify;
	}
	.privacy-policy-footer {
		width: 100%;
		text-align: left;
	}
}
