.banner-wrap {
  bottom: 0;
  height: calc(100% - 70px);
  top: 0;
  z-index: 9999;
  margin-top: 0;
  .banner-content {
    height: 100%;
    float: right;
    .banner-for-unregistered {
      background: linear-gradient(to top, rgba(0, 0, 0, .75) 1%, rgba(12, 38, 56, 0.75) 21%, rgba(12, 38, 56, 0.75) 46%,
        rgba(3, 181, 213, 0.75) 73%, rgba(12, 38, 56, 0.75) 100%) $dark_blue;
      padding: 0;
      z-index: 1;
      height: 100%;
      .bg-image {
        background: url(/assets/img/banner-bg.png) top center repeat-y;
        height: 100%;
        .banner-logo {
          background: url(/assets/img/banner-logo.png) no-repeat center;
          background-size: 25%;
          padding-top: 50%;
        }
        p {
          color: #fff;
          font: 500 40px/52px 'Ubuntu titling bold';
          text-align: center;
          text-shadow: 0 3px 3px rgba(0, 0, 0, .4);
        }
        span {
          font: 500 52px/56px 'Ubuntu titling bold';
          display: block;
        }
        .zoom-now {
          margin: 60px auto;
          display: block;
          width: 200px;
          font: 500 26px/26px 'Ubuntu medium';
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .45);
          z-index: 10;
          background-color: $green;
        }
      }
    }
  }
}

.tools-wrap {
  z-index: 10 !important;
  padding: 0;
  display: block;
  margin: 0 auto;
  float: none;
  width: 420px;
  position: relative;
  .tools-hint-block {
    padding: 20px;
    background: #0c2638;
    border-radius: 8px 8px 0 0;
    color: #fff;
    text-align: center;
    position: relative;
    top: 20px;
    a.hide {
      display: block !important;
      width: 8px;
      height: 8px;
      background: url(/assets/img/cross.png) no-repeat;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    h2 {
      font: 500 24px/38px 'Ubuntu medium';
      color: #fff;
      span {
        display: block;
      }
    }
    p {
      font: 500 20px/26px 'Ubuntu medium';
    }
    ul {
      padding: 0;
      li {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #fff;
        display: inline-block;
        margin: 22px 22px 15px;
        font: 600 14px/20px 'Ubuntu light';
        a {
          display: block;
        }
        .path-map, .radius-map, .lasso-map {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          border: 2px solid #bdbdbd;
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .28);
          height: 0;
        }
        .path-map {
          background: url(/assets/img/path-map.png) no-repeat center top;
          transition: display 5s ease;
          border: none;
        }
        .radius-map {
          background: url(/assets//img/radius-map.png) no-repeat center top;
          transition: display 5s ease;
          border: none;
        }
        .lasso-map {
          background: url(/assets/img/lasso-map.png) no-repeat center top;
          transition: display 5s ease;
          border: none;
        }
        &:hover {
          border: 1px solid #0874be;
          background-color: #fff;
          @include transition_bg_color;
          .path-map, .radius-map, .lasso-map {
            position: absolute;
            width: 100%;
            top: 284px;
            left: 0;
            display: block;
            height: 170px;
            //transition: height 5s;
            //transition: display 5s;
            transition: height .5s ease;
          }
        }
      }
    }
  }
}

.search-area-hint, .weather-hint {
  background: rgba(242, 242, 242, .8);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .34);
  margin: 3em auto 0;
  position: relative;
  border-radius: 6px;
  p {
    font: 500 28px/34px 'Ubuntu medium';
    color: #0c2638;
    text-align: center;
    padding: 1em;
  }
}

.sidebar-menu-wrap {
  //width: 500px;
  padding: 0;
  position: absolute;
  right: -220px;
  top: 54%;
  bottom: 25%;
  display: block;
  width: 510px;
  height: 60px;
  transform: rotate(90deg);
}

.sidebar-menu-vertical {
  ul {
    padding: 0;
    margin: 0;
    li {
      font: 500 14px/24px 'Ubuntu medium';
      color: #fff;
      background-color: #379948;
      display: inline-block;
      border-left: 1px solid #fff;
      float: left;
      &:first-child {
        width: 60px;
      }
      &:last-child {
        border-right: 1px solid #fff;
      }
      &:hover {
        background-color: #03b5d4;
        @include transition_bg_color;
      }

      a {
        color: #fff;
        display: block;
        margin: 0 auto;
        padding: 15px 10px 15px 42px;
        text-align: center;
      }
      .full-small {
        background: url(/assets/img/icons/vertical_menu.png) 20px 16px no-repeat;
        padding: 27px 30px;
      }
      .events {
        background: url(/assets/img/icons/events-icon.png) 20px 17px no-repeat;
      }
      .recreation {
        background: url(/assets/img/icons/recreation-icon.png) 20px 17px no-repeat;
      }
      .pit-stops {
        background: url(/assets/img/icons/pit-stops-icon.png) 20px 17px no-repeat;
      }
      .weather-link {
        background: url(/assets/img/icons/weather-icon.png) 20px 17px no-repeat;

      }
    }
    .active {
      background-color: #03b5d4;
      @include transition_bg_color;
    }
  }
}

.sort-menu {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 101;
  background: #fff;
  width: 450px;
  .close-popup {
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: $navy_blue;
    font: 500 20px/20px 'Ubuntu medium';
    padding: 12px 15px;
    bottom: 0;
    text-align: center;
    @include transition_bg_color;
    &:hover {
      background-color: $blue;
    }
  }
}

.sidebar-menu-horizontal {
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      font: 500 14px/24px 'Ubuntu medium';
      color: #fff;
      background-color: #379948;
      display: inline-block;
      width: 25%;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      float: left;
      &:hover {
        background-color: #03b5d4;
        @include transition_bg_color;
      }

      a {
        color: #fff;
        display: table;
        margin: 0 auto;
        padding: 15px 8px 15px 30px;
        text-align: left;
      }
      .events {
        background: url(/assets/img/icons/events-icon.png) 10px 17px no-repeat;
      }
      .recreation {
        background: url(/assets/img/icons/recreation-icon.png) 10px 17px no-repeat;
      }
      .pit-stops {
        background: url(/assets/img/icons/pit-stops-icon.png) 10px 17px no-repeat;
      }
      .weather-link {
        background: url(/assets/img/icons/weather-icon.png) 7px 17px no-repeat;

      }
    }
    .active {
      background-color: #03b5d4;
      @include transition_bg_color;
    }
  }
}

.not-active {
  opacity: 0.7;
  li {
    &:hover {
      background: #379948 !important;
      border: 2px solid #379948 !important;
      padding: 15px 10px !important;
    }
    a {
      cursor: default;
    }
  }
}

.search-filters {
  float: right;
  width: 100%;
  height: calc(100% - 55px);
  overflow-y: scroll;
  padding-bottom: 30px;
  .numbers-events {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(217, 217, 217, .6);
    p {
      font: 500 20px/26px 'Ubuntu medium';
      color: #000;
    }
    .hide {
      display: block;
      width: 8px;
      height: 8px;
      background: url(/assets/img/cross.png) no-repeat;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .sort-date {
    padding: 10px 15px;;
    border-bottom: 1px solid rgba(217, 217, 217, .6);
    p {
      font: 500 20px/26px 'Ubuntu medium';
      color: #000;
      display: inline-block;
    }
    .date-filters {
      margin: 10px 0 0;
      .form-group {
        padding: 0;
        width: 42%;
        float: left;
        label {
          font: 14px Arial, sans-serif;
          color: #3a3a3a;
          float: left;
          margin: 5px 5px 5px 0;
          width: auto;
        }
        input {
          width: 70%;
          float: left;
          margin: 0 5px 0 0;
          border: 1px solid #cecece;
          background: #fff;
          color: #000;
          border-radius: 3px;
          font: 14px Arial, sans-serif;
          height: 32px;
          text-align: left;
        }
      }
    }
  }

  .categories {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(217, 217, 217, .6);
    p {
      font: 500 20px/26px 'Ubuntu medium';
      color: #000;
      display: inline-block;
    }
    .hide-block-subcategory {
      label {
        font: 500 16px/24px 'Ubuntu medium';
        color: #656565;
        padding: 13px 0 13px 15px;
      }
      input {
        float: left;
        margin: 18px 0 13px 0;
        width: auto;
      }
    }
    li {
      font: 500 16px/24px 'Ubuntu medium';
      color: #656565;
      a {
        color: #656565;
        display: block;
        padding: 13px 30px;
        @include transition_color;
        &:hover {
          color: rgba(0, 183, 243, .8);
          //background: url(/assets/img/selected-category.png) no-repeat left center;
        }
        &:active {
          color: rgba(0, 183, 243, 1);
          background: url(/assets/img/selected-category.png) no-repeat left center;
        }
      }
      .active {
        background: url(/assets/img/selected-category.png) no-repeat left center;
        padding: 13px 0 13px 30px;
      }
    }
  }

  .filters-arrow {
    background: url(/assets/img/icons/filters-arrow.png) no-repeat left center;
    width: 11px;
    height: 18px;
    margin: 5px;
    float: right;
  }
  .open-arrow {
    transform: rotate(90deg);
  }

  .search-by-name {
    padding: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, .6);
    p {
      font: 500 20px/26px 'Ubuntu medium';
      color: #000;
      display: inline-block;
    }
    .search-input {
      float: left;
      background: url(/assets/img/icons/search-icon.png) no-repeat left center;
      background-position: 8px 6px;
      padding-left: 30px;
      width: 84%;
      margin: 0 1% 0 0;
    }
  }
  .filters-button {
    font: 500 12px/12px 'Ubuntu medium';
    padding: 5px 7px 5px;
    background-color: $green;
    border: 0;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    width: 15%;
    height: 32px;
    @include transition_bg_color;
    &:hover {
      background-color: $light_green;
      box-shadow: none;
    }
  }
  .green-btn {
    margin: 20px 0 30px;
    width: 100%;
  }
}

.weatherImg {
  background: url(/assets/img/cloud.png) no-repeat center center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.weather-info {
  padding: 10px 15px;
  p {
    font: 500 20px/26px "Ubuntu medium";
    color: #000;
  }
}

.unit {
  font: 500 50px 'Ubuntu medium';
}

.temperature {
  font: 500 88px 'Ubuntu medium';
}

.banner-for-blogers {
  width: 100%;
  height: 100%;
  background: url(/assets/img/banner_for_blogers.png) 0 0 no-repeat;
  /*    background-color: linear-gradient(to top, rgba(0,0,0,.75) 1%, rgba(12,38,56,0.75) 21%, rgba(12,38,56,0.75) 46%,
          rgba(3,181,213,0.75) 73%, rgba(12,38,56,0.75) 100%);*/
  right: 0;
  top: 66px;
  .banner-logo {
    background: url(/assets/img/blog-icon.png) no-repeat center bottom;
    background-size: 25%;
    padding-top: 46%;
  }
  p {
    color: #fff;
    font: 500 34px/40px 'Ubuntu titling bold';
    padding: 20px 15px 0;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .4);
  }
  input {
    margin: 60px auto;
    display: table;
    width: 200px;
    height: 47px;
    font: 500 22px/26px 'Ubuntu medium';
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .45);
  }
}

/** WEATHER **/
.weather-wrap {
  height: 100%;
  bottom: 0;
  width: 450px;
  display: table;
  background-color: #fff;

  .firstBlock-wrapper {
    padding: 15px 20px;
    width: 100%;
    height: 320px;
    overflow: scroll;
    display: inline-block;
    .weatherName {
      text-align: center;
      font: 500 24px 'Ubuntu medium';
      margin: 0 0 10px;
      color: #00b7f3;
    }
    .weatherImg-block {
      width: 60%;
      //height: 305px;
      float: left;
      .weatherData {
        text-align: center;
        font: 200 14px 'Ubuntu medium';
        color: darkgrey;
        margin: 0 0 10px;
      }
      .weatherImg-wrapper {
        width: 100%;
        height: 130px;
        .weatherImg {
          margin: 0 auto;
          display: table;
        }
      }
    }
    .parameters {
      float: left;
      width: 40%;
      padding: 15px 0 0 10px;
      box-sizing: border-box;
      div {
        word-wrap: break-word;
        p {
          white-space: pre;
        }
        .mainParameters {
          font: 500 22px 'Ubuntu medium';
          color: #0c2638;
          margin: 0;
          span {
            font-size: 16px;
          }
        }
      }
    }
    .description {
      color: #ccc;
      font: 400 14px 'Ubuntu medium';
      margin-top: 0;
    }
  }

  .temperature-block {
    width: 170px;
    height: 100%;
    display: table;
    margin: 0 auto;
    .temperature {
      font: 500 54px 'Ubuntu medium';
      float: left;
      color: #00b7f3;
    }
    .unit {
      float: left;
      margin-top: 10px;
      font: 500 28px 'Ubuntu medium';
      color: #00b7f3;
    }
    .unit2 {
      margin: 0px 2px;
      display: table;
      float: left;
      font: 500 17px 'Ubuntu medium';
      color: gray;
      &:last-child {
        float: right;
      }
    }

    .unit2 span {
      color: #ccc;
    }
  }

  .wrapperHr {
    float: left;
    width: 100%;
    hr {
      margin: 0;
      border: 0;
      border-top: 1px solid #eee;
    }
  }

  .weekForecast {
    width: 100%;
    height: 100%;
    .weekForecast-wrapper {
      float: left;
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
      .weatherIcon {
        height: 34px;
        float: left;
        background: url(/assets/img/snow.png) no-repeat center center;
        width: 30%;
        margin: 0 auto;
      }
      .data, .temperatureWeek {
        float: left;
        //text-align: center;
        color: gray;
      }
      .data {
        float: left;
        width: 35%;
        font: 400 20px 'Ubuntu light';
      }

      .temperatureWeek {
        float: right;
        width: 35%;
        font: 400 18px 'Ubuntu light';
      }
    }
  }
}

.results-btn {
  display: block;
  color: #fff;
  background-color: $green;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  font: 500 20px/30px "Ubuntu medium";
  &:hover {
    background-color: $light_green;
    @include transition_bg_color;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .tools-wrap {
    .tools-hint-block {
      border-radius: 8px;
      ul {
        li {
          .path-map, .radius-map, .lasso-map {
            display: none !important;
          }
        }
      }
    }
  }
  //.sidebar-menu-vertical {
  //  display: none !important;
  //}
}

@media (max-width: 767px) {
  .sort-menu {
    width: 100%;
  }
  .tools-wrap {
    width: 80%;
    height: 100%;
    .tools-hint-block {
      border-radius: 10px;
    }
  }
  .weather-wrap {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .sidebar-menu-horizontal {
    ul {
      li {
        width: 50%;
        &:nth-child(3), &:nth-child(4) {
          margin-top: 5px;
        }
      }
    }
  }
  .search-filters {
    height: calc(100% - 114px);
    .sort-date {
      .date-filters {
        .form-group {
          width: 100%;
          input {
            float: right;
          }
        }
      }
    }
    .filters-button {
      width: 100%;
    }
    .search-by-name {
      .search-input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  .sidebar-menu-wrap {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transform: rotate(0deg);
    height: initial;
    .sidebar-menu-vertical {
      li {
        display: none;
        &:first-child {
          display: block;
          float: right;
          border: none;
          a {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .weather-wrap {
    .firstBlock-wrapper {
      height: 100%;
      .weatherImg-block, .parameters {
        width: 100%;
      }
    }
    .weekForecast {
      .weekForecast-wrapper {
        .data {
          width: 100%;
        }
        .weatherIcon, .temperatureWeek {
          width: 50%;
        }
      }
    }
  }
}

@media (min-device-width: 240px) and (max-device-width: 767px) and (orientation: landscape) {
  .sidebar-menu-wrap {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    height: initial;
    .sidebar-menu-vertical {
      li {
        display: none;
        &:first-child {
          display: block;
          float: right;
          border: none;
          a {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .leaflet-bottom {
    .map-tools {
      float: left;
      clear: inherit !important;
    }
  }
}
