//variables
//> colors
$dark_blue: #0c2638;
$navy_blue: #0874be;
$light_blue: #0486df;
$blue: #00b7f3;
$black: #000;
$dark-green: #148130;
$green: #149e38;
$light_green: #0fb23a;
$red: #D44132;
$light_red: #ed4534;
$white: #fff;
$grey: #999;
$light_grey: #e9edf0;
$medium_grey: #F5F8FA;
//> /colors
//>/fonts
$navigation_font: 500 16px/18px 'Questrial';
//>/fonts





