//variables
//> colors
$dark_blue: #0b2639;
$dark_blue_hover: #0e2c42;
$href_color: #8fa9bc;

//settings btn
$blue_btn: #00c9f8;
$light_blue_btn: #21D2FC;

$navy_blue: #0874be;
$light_blue: #0486df;
$blue: #00b7f3;
$black: #000;
$dark-green: #148130;
$green: #98c252;
$light_green: #9ECC53;
$red: #D44132;
$light_red: #ed4534;
$white: #fff;
$grey: #999;
$light_grey: #e9edf0;
$medium_grey: #F5F8FA;
//> /colors
//>/fonts
$navigation_font: 500 16px/18px;
//>/fonts
$nav_red: #ee4633;
$nav_green: #27AE61;
$nav_green2: #98c352;
$nav_blue: #297fb8;
$nav_yellow: #fbcf62;