/*      zoomers      */
.zoomers {
  float: right;
}

ul {
  list-style-type: none;
}

.zoomers-content {
  position: relative;
  display: block;
  .search-block {
    background: $light_grey;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    .search-btn {
      background: $green;
      border: 0;
      color: $white;
      height: 34px;
    }
  }

  .followers {
    background: $white;
    position: relative;
    border: 1px solid $light_grey;
    border-radius: 0 0 8px 8px;
    .post {
      .media {
        padding-bottom: 15px;
      }
      .media-body-content {
        padding-left: 15px;
      }
    }
    .avatar {
      float: left;
      width: 120px;
      height: 120px;
      -webkit-border-radius: 70px;
      -moz-border-radius: 70px;
      border-radius: 70px;
      margin: 0;
      border: 3px solid $white;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      background: $white;
    }
  }

  .info {
    .age {
      font: 400 15px/14px ubuntu;
      color: grey;
      margin-bottom: 10px;
    }
    .counters {
      margin: 10px 0;
      font: 13px/13px Ubuntu;
      display: flex;
      .e-count {
        float: left;
        color: $blue;
        display: block;
        height: 12px;
        padding: 0 0 2px 14px;
        background: url(/assets/img/icons/count.png) 0 -1px no-repeat;
      }
      .f-count {
        display: block;
        height: 12px;
        float: left;
        padding: 0 0 2px 18px;
        margin-left: 10px;
        background: url(/assets/img/icons/count.png) 0 -34px no-repeat;
        color: $blue;
      }
    }
  }
  .events {
    width: 100%;
    padding-left: 0;
    li {
      float: left;
    }
    img {
      display: block;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .frame {
      border: 3px solid $white;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      background: $white;
    }
    .event-link {
      text-decoration: none;
      color: $blue;
      -webkit-transition: color .3s;
      -moz-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s;
      word-wrap: break-word;
      &:hover {
        color: $navy_blue;
        -webkit-transition: color .3s;
        -moz-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s;
        cursor: pointer;
      }
    }
  }
  .name {
    margin-top: 0;
    margin-bottom: 5px;
    a {
      font: 600 22px/22px Ubuntu;
      color: $blue;
      word-break: break-all;
      &:hover {
        color: $navy_blue;
        text-decoration: none;
        -webkit-transition: color .3s;
        -moz-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s;
      }
    }
    &:hover {
      color: $navy_blue;
      text-decoration: none;
    }
  }

}

.zoomers-sidebar {
  min-height: 100%;
  width: 100%;
  float: right;
  display: block;
  margin-bottom: 15px;
  border: 1px solid $light_grey;
  background: $white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .zoomers-list {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0px;
    li {

      a {
        border-bottom: 1px solid $light_grey;
        &.current {
          @include zoomers_sidebar();
          background: url(/assets/img/icons/zoomers.png) 0 -1px no-repeat;
          color: $dark_blue;
          padding-right: 0 !important;

          &:hover {
            color: $blue;
            text-decoration: none;
            background: url(/assets/img/icons/zoomers.png) 0 -42px no-repeat;

          }
          &.active {
            color: $navy_blue;
            font: $navigation_font;
            @include zoomers_sidebar();
            background: url(/assets/img/icons/zoomers.png) 0 -42px no-repeat;
          }
        }

        &.followers {
          @include zoomers_sidebar();
          background: url(/assets/img/icons/followers.png) 0 -1px no-repeat;
          color: $dark_blue;
          padding-right: 0 !important;

          &:hover {
            color: $blue;
            text-decoration: none;
            background: url(/assets/img/icons/followers.png) 0 -42px no-repeat;

          }
          &.active {
            color: $navy_blue;
            font: $navigation_font;
            @include zoomers_sidebar();
            background: url(/assets/img/icons/followers.png) 0 -42px no-repeat;
          }
        }

        &.followings {
          @include zoomers_sidebar();
          background: url(/assets/img/icons/followings.png) 0 -1px no-repeat;
          color: $dark_blue;
          padding-right: 0 !important;

          &:hover {
            color: $blue;
            text-decoration: none;
            background: url(/assets/img/icons/followings.png) 0 -42px no-repeat;

          }
          &.active {
            color: $navy_blue;
            font: $navigation_font;
            @include zoomers_sidebar();
            background: url(/assets/img/icons/followings.png) 0 -42px no-repeat;
            padding-right: 0 !important;

          }
        }

      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .sidebar-menu {
    width: 100%;
    border: 1px solid $light_grey;
    background: $white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 20px 0 25px;
  }
}

.no-margin-left-right {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
