/*      zoomers      */
.zoomers {
  float: right;
}

ul {
  list-style-type: none;
}

.zoomers-content {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  .search-block {
    background: transparent;
    border-radius: 0;
    padding: 10px 0;
    margin: 0 !important;
    input {
      height: 5rem;
    }
    .search-btn {
      border: 0;
      color: $white;
      background: url(../img/header/header_search.png) center center no-repeat $blue_btn;
      width: 50px;
      height: 50px;
      border-radius: 0;
    }
  }
.zoomer-user {
  a {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
  .followers {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    .post {
      border: 0;
      .media {
        padding-bottom: 15px;
      }
      .media-body-content {
        padding-left: 0;
      }
    }
    .avatar {
      float: none;
      width: 120px;
      height: 120px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 auto;
      border: 2px solid #a6b1b7;
      background: $white;
      padding: .5rem;
      box-shadow: none;
    }
  }

  .info {
    text-align: center;
    .age {
      font: 400 15px/14px;
      color: grey;
      margin-bottom: 10px;
    }
    .counters {
      margin: 10px 0;
      font: 13px/13px;
      display: flex;
      .e-count {
        float: left;
        color: $blue;
        display: block;
        height: 12px;
        padding: 0 0 2px 14px;
        background: url(../img/icons/count.png) 0 -1px no-repeat;
      }
      .f-count {
        display: block;
        float: left;
        padding: 18px 10px;
        margin-left: 0;
        background: url(../img/icons/follower.png) no-repeat;
        color: $blue;
        background-position: center top;
        font-size: 2.4rem;
        margin-bottom: 0;
        line-height: 2rem;
        color: #222;
        span {
          color: #929fa7;
        }
      }
    }
  }
  .events {
    width: 100%;
    padding-left: 0;
    .events-width {
      padding-left: 5px;
      padding-right: 5px;
    }
    li {
      float: left;
    }
    img {
      display: block;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      max-width: 100%;
    }

    .frame {
      border: 1px solid $white;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);
      background: $white;
    }
    .event-link {
      text-decoration: none;
      color: $blue;
      -webkit-transition: color .3s;
      -moz-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s;
      word-wrap: break-word;
      &:hover {
        color: $navy_blue;
        -webkit-transition: color .3s;
        -moz-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s;
        cursor: pointer;
      }
    }
  }
  .name {
    margin-top: 1rem;
    margin-bottom: 5px;
    text-align: center;
    a {
      color: #222;
      word-break: break-all;
      font-size: 2rem;
     font-weight: bold;
     line-height: 4rem;
      &:hover {
        color: $navy_blue;
        text-decoration: none;
        -webkit-transition: color .3s;
        -moz-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s;
      }
    }
    &:hover {
      color: $navy_blue;
      text-decoration: none;
    }
  }

}

.zoomers-sidebar {
  min-height: 100%;
  width: 100%;
  float: right;
  display: block;
  margin-bottom: 15px;
  border: 1px solid $light_grey;
  background: $white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .zoomers-list {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0px;
    li {

      a {
        border-bottom: 1px solid $light_grey;
        &.current {
          @include zoomers_sidebar();
          background: url(../img/icons/zoomers.png) 0 -1px no-repeat;
          color: $dark_blue;
          padding-right: 0 !important;

          &:hover {
            color: $blue;
            text-decoration: none;
            background: url(../img/icons/zoomers.png) 0 -42px no-repeat;

          }
          &.active {
            color: $navy_blue;
            font: $navigation_font;
            @include zoomers_sidebar();
            background: url(../img/icons/zoomers.png) 0 -42px no-repeat;
          }
        }

        &.followers {
          @include zoomers_sidebar();
          background: url(../img/icons/followers.png) 0 -1px no-repeat;
          color: $dark_blue;
          padding-right: 0 !important;

          &:hover {
            color: $blue;
            text-decoration: none;
            background: url(../img/icons/followers.png) 0 -42px no-repeat;

          }
          &.active {
            color: $navy_blue;
            font: $navigation_font;
            @include zoomers_sidebar();
            background: url(../img/icons/followers.png) 0 -42px no-repeat;
          }
        }

        &.followings {
          @include zoomers_sidebar();
          background: url(../img/icons/followings.png) 0 -1px no-repeat;
          color: $dark_blue;
          padding-right: 0 !important;

          &:hover {
            color: $blue;
            text-decoration: none;
            background: url(../img/icons/followings.png) 0 -42px no-repeat;

          }
          &.active {
            color: $navy_blue;
            font: $navigation_font;
            @include zoomers_sidebar();
            background: url(../img/icons/followings.png) 0 -42px no-repeat;
            padding-right: 0 !important;

          }
        }

      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .sidebar-menu {
    width: 100%;
    border: 1px solid $light_grey;
    background: $white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 20px 0 25px;
  }
}

.no-margin-left-right {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
